<extend name="Layout:index" />
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
        <form action="" method="post" id="validate" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" name="id" value="{{ $data.id }}">
            <input type="hidden" name="youhui_total" value="{{ $data['price_total'] }}">
            <input type="hidden" name="youhui_price" class="ys_price">
            <input type="hidden" name="youhui_id" class="yh_id">
            <div class="sf_box">
            
              <div class="sf_part">
                <dl class="sf_dl">
                    <dd>{{ :lang('姓名') }}： {{ :$data['user_name'] }}</dd>
                    <dd>{{ :lang('性别') }}：{{ :$data['user_sex'] }}</dd>
                    <dd>{{ :lang('年龄') }} {{ :$data['user_age'] }}</dd>
                    <div class="cl"></div>
                </dl>
                 
              </div>
              <div class="sf_part">
                <dl class="sf_show">
                    <dd ><span class="title">{{ :lang('收费名称') }}</span></dd>
                    <dd  class="w150">{{ :lang('价格') }}<span class="text-grey">{{ :($sv['price']) }}</span></dd>
                    <dd class="w120">{{ :lang('开单数量') }}<span class="text-primary">{{ :($sv['num']) }}</span></dd>
                    <dd class="w150">{{ :lang('合计金额') }}<span class="text-danger" >{{ :($sv['total']) }}</span></dd>
                    <div class="cl"></div>
                </dl>
                <?php
                $show=(json_decode(htmlspecialchars_decode($data['price_show']),true));
                foreach($show as $k=>$sv)
                {
                    echo '
                        <dl class="sf_show">
                            <dd ><span class="title">'.urldecode($sv['title']).'</span></dd>
                            <dd  class="w150"><span class="text-grey" data-price="vnlist">'.($sv['price']).'</span></dd>
                            <dd class="w120"><span class="text-primary">'.($sv['num']).'</span></dd>
                            <dd class="w150"><span class="text-danger" data-price="vnlist">'.($sv['total']).'</span></dd>
                            <div class="cl"></div>
                        </dl>
                       
                    ';
                   
                }
                ?>
                 

              </div>
              <div class="sf_part m-r">
                  <p class="text-right">
                      {{ :lang('收费时间') }}：{{ :date('d-m-Y',time()) }}
                  </p>
                  <p class="text-right">{{ :lang('收费员') }}：{{ :admin('realname') }}</p>
              </div>
              <div class="sf_part">
              
                <p>
                  
                  <label class="radio-inline">
                    <input type="radio" name="sf_status" id="inlineRadio1" value="1" checked="checked"> {{ :lang('收费') }}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="sf_status" id="inlineRadio2" value="2"> {{ :lang('收定金') }}
                  </label>
                </p>
                <div class="cl"></div>    

              
               
               
              </div>
              <div class="sf_part m-r js-qk">
                  <p >
                     <strong>{{ :lang('应收金额') }}：<span data-price="vnlist">{{ :$data['price_total'] }}</span> </strong>
                  </p>
                  <p>
                    
                      {{ :lang('优惠码') }}: <input class="input js-input-youhui"  type="text" name="youhui_code" value="" placeholder="{{ :lang('输入优惠码') }}"> <span class="label label-danger"> {{ :lang('优惠价') }}：<span class="js-yhj"></span>元</span>
                  </p>
                  <p>{{ :lang('优惠后') }}：<span class="js-yhh" data-price="vnlist">{{ $data['price_total'] }}</span></p>
                  <p>
                      {{ :lang('实收现金') }}: <input class="input js-xj" type="text" name="shishou_price" > {{ :lang('刷卡') }}: <input class="input js-sk" name="shuaka_price" type="text">  {{ :lang('其他') }}: <input class="input js-qt" type="text" name="other_price">
                  </p>
                  
              </div>
              <div class="sf_part m-r js_yf">
                <p>
                    {{ :lang('预付款') }}: <input class="input yf-money" required="" type="text" value="" name="yf_money"> 
                </p>
              </div>
              <div class="sf_part">
                  <p class="text-center">
                      <button type="submit" class="btn btn-success">{{ :lang('提交') }}</button>
                      
                      <a href="#" class="btn btn-white" onclick="javascript:window.print();return false;">{{ :lang('打印') }}</a>
                  </p>
              </div>

           
            <div class="cl"></div>
            </div>
       </form>
   
</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>
    function js_total() {
        $ysum = 0;
        $(".price_heji").each(function() {
            $ysum += parseFloat($(this).val());


        });
        $ysum = Math.round($ysum);
        $("#price_total").val($ysum);
    }
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest("td").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest("td").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "error",
        validClass: "no-error"

    });
    $().ready(function() {
        // validate the comment form when it is submitted
        var e = "<i class='fa fa-times-circle'></i> ";

        // validate signup form on keyup and submit
        $("#validate").validate({

            //JSON保存这些开单数据


            submitHandler: function(form) {
                //设置表单参数
                //最终区域
                if($('input[name="sf_status"]:checked').val()==1)
                {
                  $t1=$(".js-xj");
                  $t2=$(".js-sk");
                  $t3=$(".js-qt");
                 ;
                  if((!$t1.val()) && (!$t2.val()) && (!$t3.val()) )
                  {
                    layer.msg('{{ :lang("必须填一个收费类型金额") }}');
                     return false;
                  }else
                  {
                    $t1=!$t1.val()?0:$t1.val();
                    $t2=!$t2.val()?0:$t2.val();
                    $t3=!$t3.val()?0:$t3.val();
                    t_total=parseFloat($t1)+parseFloat($t2)+parseFloat($t3);
                    p_total=$("input[name='youhui_total']").val();
                    if(t_total>p_total)
                    {
                      layer.msg('{{ :lang("付款金额大于应付金额，请检查") }}');
                       return false;
                    }
                  }
                  
                }else
                {
                  if($(".yf-money").val()==''){
                    layer.msg('{{ :lang("请输入预付款金额") }}');
                     return false;
                  }
                }
               
                
                form.submit();;
            }
        });
        $('input[name="sf_status"]').click(function(e,a){

          $p=$(this).val();
          if($p==1)
          {
            $(".js-qk").show();
            $(".js_yf").hide();
          }else
          {
            $(".js-qk").hide();
            $(".js_yf").show();
          }
        }).triggerHandler("click");
        
        //优惠券
        $(".js-input-youhui").on("keyup",function(){
            $url="{{ :U('Admin/Ajax/getYouHui') }}";
            $v=$(this).val();
            $uid="{{ $data.user_id }}";
            $.get($url,{'code':$v,'uid':$uid },function(data){

                if(data.price)
                {
                  $(".js-yhj").text(data.price);
                  $(".ys_price").val(data.price);
                  $(".yh_id").val(data.id)
                  youhui_total();
                  return '';
                }
                 $(".js-yhj").text(0);
                 $(".ys_price").val(0);
                 $(".yh_id").val('');
                  youhui_total();
                 return '';
            })
        })




    });
    function youhui_total()
    {
      $total="{{ $data.price_total }}";
     
      $yh= $(".ys_price").val();
      $yhhou=$total-$yh;
       log($yhhou);
      $("input[name='youhui_total']").val($yhhou);
      $yhhou=accounting.formatMoney( $yhhou, { symbol: "",  format: "%s %v" ,precision:0});
      $(".js-yhh").text($yhhou);
    }
    </script>
</block>
