<extend name="Layout:index" />
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <form action="" method="post" id="validate" enctype="multipart/form-data" class="form-horizontal">
        <input type="hidden" name="id" value="{{ $data.id }}">
        <input type="hidden" name="youhui_price" class="ys_price" data-price="vn">
        <input type="hidden" name="youhui_id" class="yh_id">
        <input type="hidden" name="token" value="{{ :token() }}">
        <input type="hidden" name="sf_admin_id" value="{{ :session('admin_id') }}" >
        <input type="hidden" name="sf_time" value="{{ :time() }}">
        <div class="well" style="">
            <h3 class="text-center">收费<small>({{ $data.user_name }})</small></h3>
            <div class="sf_box">
                <div class="sf_part">
                    <div class="col-xs-4">
                        <div class="input-group ">
                            <div class="input-group-addon">{{ :lang('付费类型') }}</div>
                            <select name="pay_ways" id="pay_ways" class="form-control">
                                <option value="">{{ :lang('请选择付费类型','handle') }}</option>
                                {{ :pay_wasy($data['pay_ways']) }}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group ">
                            <div class="input-group-addon">{{ :lang('总价') }}</div>
                            <div class="form-control text-danger" style="font-size: 16px;font-weight:bold">{{ $data.price_total }}</div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group ">
                            <div class="input-group-addon">{{ :lang('开单人') }}</div>
                            <div class="form-control">{{ $data.kd_name }}</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div style="margin-top: 10px;padding-top: 15px;">
                        <dl class="sf_show">
                            <dd class="w350">{{ :lang('收费名称') }}</dd>
                            <dd class="w150">{{ :lang('价格') }}<span class="text-grey">{{ :($sv['price']) }}</span></dd>
                            <dd class="w120">{{ :lang('开单数量') }}<span class="text-primary">{{ :($sv['num']) }}</span></dd>
                            <dd class="w150">{{ :lang('合计金额') }}<span class="text-danger">{{ :($sv['total']) }}</span></dd>
                            <div class="cl"></div>
                        </dl>
                        <php>
                            $show=(json_decode(htmlspecialchars_decode($data['price_show']),true)); foreach($show as $k=>$sv) { echo '
                            <dl class="sf_show">
                                <dd class="w350"><span class="title">'.urldecode($sv['title']).'</span></dd>
                                <dd class="w150"><span class="text-grey" data-price="vnlist">'.($sv['price']).'</span></dd>
                                <dd class="w120"><span class="text-primary">'.($sv['num']).'</span></dd>
                                <dd class="w150"><span class="text-danger" data-price="vnlist">'.($sv['total']).'</span></dd>
                                <div class="cl"></div>
                            </dl>
                            '; }
                        </php>
                    </div>
                </div>
                <div class="sf_part ">
                    <div class="col-xs-12">
                        <div class="js-tab-price">
                            <div class="input-group ">
                                <div class="input-group-addon">{{ :lang('应收金额') }}</div>
                                <input  class="form-control js-add-pay-price" data-price="vn" value="{{ $data.price_total }}">
                              
                            </div>
                        </div>
                        <div class="js-tab-price none">
                            <div class="input-group ">
                                <div class="input-group-addon">{{ :lang('付定金') }}</div>
                                <input class="input form-control  js-add-pay-price js-dingjing" type="text" >
                            </div>
                        </div>
                        <div class="js-tab-price none">
                            <div class="input-group ">
                                <div class="input-group-addon">{{ :lang('付部分款') }}</div>
                                <input class="input  form-control js-add-pay-price js-bufengkuan" type="text" >
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group ">
                            <div class="input-group-addon">{{ :lang('优惠码') }}</div>
                            <input class="input js-input-youhui form-control" type="text" name="youhui_code" value="" placeholder="{{ :lang('输入优惠码') }}">
                            <div class="input-group-addon">{{ :lang('优惠减免') }}：<span class="js-yhj text-blue">0</span></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group ">
                            <div class="input-group-addon">{{ :lang('优惠后') }}</div>
                            <div class="form-control"><span class="js-yhh" data-price="vnlist">{{ $data['price_total'] }}</span></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group ">
                            <div class="input-group-addon">{{ :lang('付款方式') }}</div>
                            <div class="form-control">
                                <label class="radio-inline">
                                    <input type="radio" checked="" class="pay_method" name="pay_mehtod" id="" value="1">{{ :lang('现金方式') }}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="pay_method" name="pay_mehtod" id="" value="2">{{ :lang('刷卡方式') }}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="pay_method" name="pay_mehtod" id="" value="3"> {{ :lang('其他方式') }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="input-group ">
                                <div class="input-group-addon">{{ :lang('现金') }}</div>
                                <input data-price="vn" class="input form-control   js-money" type="text" name="cash_price">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group ">
                                <div class="input-group-addon">{{ :lang('刷卡') }}</div>
                                <input data-price="vn" class="input form-control   js-money" type="text" name="shuaka_price">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group ">
                                <div class="input-group-addon">{{ :lang('其他') }}</div>
                                <input data-price="vn" class="input form-control   js-money" type="text" name="other_price">
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sf_part">
                    <p class="text-center">
                        <button type="submit" class="btn btn-success">{{ :lang('提交') }}</button>
                        <a href="#" class="btn btn-white" onclick="javascript:window.print();return false;">{{ :lang('打印') }}</a>
                    </p>
                </div>
                <div class="cl"></div>
            </div>
        </div>
    </form>
</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>
    function js_total() {
        $ysum = 0;
        $(".price_heji").each(function() {
            $ysum += parseFloat($(this).val());


        });
        $ysum = Math.round($ysum);
        $("#price_total").val($ysum);
    }
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest("td").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest("td").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "error",
        validClass: "no-error"

    });
    //付款方式
    $(".pay_method").change(function(event) {
       
        tab_price()
    });
    //付费类型
    $("#pay_ways").change(function(event) {
        $v = $(this).val();
        if ($v == 1 || $v == '') {
            $(".js-tab-price").eq(0).show().siblings('.js-tab-price').hide();
            
        }
        if ($v == 2) {
            $(".js-tab-price").eq(1).show().siblings('.js-tab-price').hide();
        }
        if ($v == 3) {
            $(".js-tab-price").eq(2).show().siblings('.js-tab-price').hide();
        }
       tab_price();
    }).trigger("change");
    function push_price(){
        var $ways_v=$(".pay_method:checked").val();
        pay_price=$(".js-yhh").text();
        pay_price=accounting.unformat(pay_price);
        result_price=accounting.formatMoney(pay_price, { symbol: "",  format: "%s %v" ,precision:0});
        $(".js-money").val('').eq($ways_v-1).val(result_price);
       

    }
    function tab_price(){
        pay_ways=$("#pay_ways").val();
        pay_ways=pay_ways==0?1:pay_ways;
        pay_price=$(".js-add-pay-price").eq(pay_ways-1).val();
        //检索是否有优惠券
        yhui_price=$(".ys_price").val();
        log(yhui_price);
        pay_price=accounting.unformat(pay_price);
        result_price=pay_price-yhui_price;
        if(result_price<=0){
            result_price=0
        }
        //log(result_price);
        result_price=accounting.formatMoney(result_price, { symbol: "",  format: "%s %v" ,precision:0});
        $(".js-yhh").text(result_price);
        push_price();
    }
    price_blue();
    function price_blue(){
       
        $(".js-add-pay-price").on("keypress  keyup blur",function(){
            index=$(this).index();
            var $ways_v=$(".pay_method:checked").val();
            pay_price=accounting.unformat($(this).val());
            //检索是否有优惠券
            yhui_price=$(".ys_price").val();
            log(yhui_price);
            pay_price=accounting.unformat(pay_price);
            result_price=pay_price-yhui_price;
          
            if(result_price<=0){
                result_price=0
            }
            result_price=accounting.formatMoney(result_price, { symbol: "",  format: "%s %v" ,precision:0});
            $(".js-money").val('').eq($ways_v-1).val( result_price);
            $(".js-yhh").text(result_price);
        });
    }
    $().ready(function() {
        // validate the comment form when it is submitted
        var e = "<i class='fa fa-times-circle'></i> ";

        // validate signup form on keyup and submit
        $("#validate").validate({

            //JSON保存这些开单数据


            submitHandler: function(form) {
                //设置表单参数
                //最终区域
                var pay_ways=$("#pay_ways").val();
                if ( pay_ways== '') {
                    layer.msg("{{ :lang('请选择付费类型') }}");
                    return false;
                } else {
                    switch (pay_ways) {
                        case "2":
                            if($(".js-dingjing").val()=='')
                            {
                                layer.msg("{{ :lang('定金不能为空') }}");
                                return false;
                            }
                        break;
                        case "3":
                            if($(".js-bufengkuan").val()=='')
                            {
                                layer.msg("{{ :lang('部分款不能为空') }}");
                                return false;
                            }
                        break;
                    }
                }

                if(!submonery())
                {
                
                    layer.msg('{{ :lang("请检查金额") }}');
                    return false;
                }

                

               

                form.submit();;
            }
        });

        //优惠券
        $(".js-input-youhui").on("keyup blur", function() {
            $url = "{{ :U('Admin/Ajax/getYouHui') }}";
            $v = $(this).val();
            $uid = "{{ $data.user_id }}";
            $.get($url, {
                'code': $v,
                'uid': $uid
            }, function(data) {
                //log(data);
                if (data.price) {
                    $(".js-yhj").text(data.price);
                    $(".ys_price").val(data.price);
                    $(".yh_id").val(data.id)
                    youhui_total();
                    return '';
                }else
                {
                    $(".js-yhj").text('');
                    $(".ys_price").val('');
                    $(".yh_id").val('')
                }
                
                youhui_total();
                return '';
            })
        })




    });

    function youhui_total() {
        
        //js-add-pay-price
        var $pay_ways=$('#pay_ways').val();
        index=$pay_ways==0?0:$pay_ways-1; 
        var pay_price=$(".js-add-pay-price").eq(index).val();

        pay_price=accounting.unformat(pay_price);

      
        ys_price=$('.ys_price').val();
        log(ys_price);
        $yhhou=pay_price-ys_price;
        if($yhhou<=0)
        {
            $yhhou=0;
        }
        $yhhou = accounting.formatMoney($yhhou, {
            symbol: "",
            format: "%s %v",
            precision: 0
        });
        $(".js-yhh").text($yhhou);
        var $ways_v=$(".pay_method:checked").val();
        $(".js-money").val('').eq($ways_v-1).val( $yhhou);
    }
    </script>
</block>
