<extend name="Layout:index"/>
<block name="add_css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
</block>
<block name="add_js">
    <script src="__JS__/sweetalert.min.js"></script>

</block>
<block name="right">
    <div class="right-box">

        <div class="box">
            <div class="col-sm-12">
                <form action="" method="get" id="contact-form">
                    <div class="col-sm-12" style="padding:0px;">
                        <div class="ibox float-e-margins" id="shoujisf1">
                            <div class="ibox-title">
                                <h5><a class="collapse-link">{{ :lang('筛查选项') }}</a></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down" id="shoujisf2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="padding-left:0px; padding-right:0px;" id="shoujisf3">
                                <!--<div class="roww">
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><font color="">收费状态</font></span>
                                            <select class="form-control" name="status" >


                                                {{ :get_select_sftatus(I('status')) }}

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><font color="">结算状态</font></span>
                                            <select class="form-control" name="js_status" id="tfid">


                                                {{ :get_select_jstatus(I('get.js_status')) }}

                                            </select>
                                        </div>
                                    </div>



                                </div>-->
                                <div class="roww">
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><font color="">{{ :lang('病人姓名') }}</font></span>
                                            <input name="keyword" type="text" name="user_name" value="{{ :I('get.keyword') }}"
                                                   placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding:0px;">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input name="stime" type="text" class="form-control layer-date" value="{{ :I('get.stime') }}" id="start" placeholder="{{ :lang('开单时间') }}" >
                                            </div>
                                            <div class="col-md-6">
                                                <input name="etime" type="text" class="form-control layer-date" value="{{ :I('get.etime') }}" id="end" placeholder="{{ :lang('开单时间') }}" data>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-3">

                                    <button class="btn btn-primary" type="submit">{{ :lang('确定筛选') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box">
            <div class="box-title">
                {{ :lang($onname,'menu') }}

            </div>


            <if condition="$menu_list">
                <div class="ibox-title">
                    <h5><a class="collapse-link">{{ :lang('字段选择') }}</a>

                        <div class="keep-open btn-group open" title="列">
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-outline dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="true"
                                        style="padding:0px 5px; border:0px">
                                    <i class="glyphicon glyphicon-list"></i>
                                    <span class="caret"></span>
                                </button>


                                <ul class="dropdown-menu" role="menu" style=" padding:10px">
                                    <foreach name="menu_list" item="v" key="k">
                                        <if condition="$v['name'] neq ''">
                                            <li>
                                                <div class="checkbox-inline f-label">
                                                    <input type="checkbox" checked="" data-change="select" data-class="{{ $k }}">
                                                    <label>{{ $v['name'] }}</label>
                                                </div>
                                            </li>
                                        </if>
                                    </foreach>


                                </ul>
                            </div>
                        </div>
                    </h5>

                </div>

            </if>
            <div class="list-box">

                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table table-hover">

                    <tbody>

                    <tr>

                            <th width="40" class="hidden-xs text-center">
                                <input name="chkall" type="checkbox" id="chkall" value="0"></th>
                                <foreach name="menu_list" item="v" key="k">
                                    <if condition="$v['name'] neq ''">
                                        <th class="{{ $k }}">{{ $v['name'] }}</th>
                                    </if>

                                </foreach>




                    </tr>
                    <if condition="$list">

                        <volist name="list" id="v">
                            <?php $show=(json_decode(htmlspecialchars_decode($v['price_show']),true));?>

                            <tr>

                                    <td align="center" class="hidden-xs"><input type="checkbox" class="checkbox-select"
                                                                                name="checkbox[]"
                                                                                value="{{ $v.uuid }}"></td>


                                <td class="td_kd_time" >{{ :to_time($v['kd_time'],'m-d-Y h:i:s') }}</td>
                                <if condition="$status neq 0">
                                    <td class="td_sf_time">
                                        {{ :to_time($v['kd_time'],'m-d-Y h:i:s') }}

                                    </td>
                                </if>
                                <td class="td_user">
                                    <a href="#" data-log="1" >{{ $v.user_name }}</a>

                                </td>
                                <td class="td_show_price">
                                    <table class="table table-hover table-noboer">
                                        <thead>
                                        <tr>
                                            <td><span class="m-l">{{ :lang('名称') }}</span></td>
                                            <td>{{ :lang('单价') }}</td>
                                            <td>{{ :lang('单位') }}</td>
                                            <td>{{ :lang('数量') }}</td>
                                            <td>{{ :lang('合计金额') }}</td>

                                        </tr>

                                        <if condition="$show">
                                            <foreach name="show" item="sv" key="sk">
                                                <tr>
                                                    <td><a href="javascript:void(0)">{{ :urldecode($sv['title']) }}</a>
                                                    </td>
                                                    <td>{{ :urldecode($sv['price']) }}</td>
                                                    <td>{{ :urldecode($sv['danwei']) }}</td>
                                                    <td>{{ :urldecode($sv['num']) }}</td>
                                                    <td>{{ :urldecode($sv['total']) }}</td>
                                                </tr>
                                            </foreach>
                                        </if>

                                        </thead>
                                    </table>
                                </td>

                                </td>

                                <td class="td_show_total">{{ $v.price_total }}</td>

                                <td class="td_kd_name">
                                    {{ $v.kd_name }}
                                </td>
                                <if condition="$status neq 0">
                                <td class="td_sf_name">
                                    {{ $v.sy_name }}
                                </td>
                                </if>
                                <td class="td_sf_status">
                                    <span class="{{ :btn_color($v['sf_status']) }}">{{ :sf_status($v['sf_status']) }}</span>
                                </td>
                                <td class="td_js_status">
                                    <span class="{{ :btn_color($v['sf_status']) }}">{{ :js_status($v['js_status']) }}</span>

                                </td>
                                <td class="td_handle">
                                    <php>if($v['sf_status']==0){</php>
                                        <if condition="check_group('shouyin_check')">
                                            <a href="javascript:void(0)" data-layer='1' data-w="800px" data-close='1'
                                               data-h="550px" data-url="{{ :U('Admin/CaiWu/add',array('id'=>$v['id'])) }}"
                                               data-title="{{ :lang('收费') }}" class="btn btn-primary ">{{ :lang('收费') }}</a>
                                        </if>
                                        <if condition="check_group('kaidan_edit')">

                                            <a href="javascript:void(0)" data-layer="1" data-w="90%" data-h="500px"
                                               data-url="{{ :U('Admin/YuShen/kaidan_edit',array('id'=>$v['uuid'])) }}"
                                               class="btn btn-white"><span class="fa fa-pencil-square "></span> {{ :lang('编辑') }}</a>

                                        </if>
                                        <if condition="check_group('kaidan_edit')">
                                            <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}"
                                               class="btn btn-xs btn-white" date-del="1">
                                                <span class="fa fa-trash "></span>
                                                {{ :lang('删除') }}</a>
                                        </if>
                                    <php>}elseif($v['sf_status']==2){</php>
                                        <a href="javascript:void(0)" data-layer='1' data-w="800px" data-close='1'
                                           data-h="550px" data-url="{{ :U('Admin/CaiWu/edit',array('uuid'=>$v['uuid'])) }}"
                                           data-title="{{ :lang('输入补交金额') }}" class="btn btn-info ">{{ :lang('输入补交金额')
                                            }}</a>
                                    <php>}elseif($v['sf_status']==1){</php>
                                        <if condition="$v['js_status'] neq 1">
                                            <a href="{{ :U('Admin/CaiWu/setJsStatus',array('id'=>$v['id'])) }}" date-js='1' class="btn btn-info ">{{ :lang('立即结算') }}</a>
                                        </if>
                                    <php>}</php>
                                </td>


                            </tr>

                        </volist>

                        <else/>
                        <tr>
                            <td colspan="8" class="text-center">{{ :C('NOTTHING') }}</td>
                        </tr>
                    </if>
                    </tbody>


                </table>

            </div>
            <if condition="$is_js">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="m-b">

                            <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="js_status"
                               data-model="KaiDan"
                               data-handle="jiesuan" data-handle-check="1" data-handle-value="1"><span
                                    class="fa fa-ban"></span> {{ :lang('结算','handle') }}</a>

                        </div>
                    </div>
            </if>

            <div class="col-xs-6">

                <div class="pagee">{{ $page }}</div>
            </div>
        </div>

    </div>
    <div class="cl"></div>
    </div>


    </div>


</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript">


            $(document).on("click", "[date-js='1']", function(event) {
                $str = '{{ :lang("确定结算吗") }}？';
                if (confirm($str)) {
                    return true
                }
                return false;
            });

    </script>
    <script>
        function ge_js(){

            layer.confirm('{{ :lang("确定结算吗") }}？', {
                btn: ['{{ :lang("确定") }}','{{ :lang("取消") }}'] //按钮
            }, function(){
                return true;
            }, function(){
                return false;
            });
        }
        $(function () {

            select_all();
            del_confirm();

            var start = {
                elem: '#start',
                format: 'YYYY-MM-DD',

                max: '2099-06-16 23:59:59', //最大日期
                istime: true,
                istoday: false,
                choose: function(datas){
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };
            var end = {
                elem: '#end',
                format: 'YYYY-MM-DD',
                min: laydate.now(),
                max: '2099-06-16 23:59:59',
                istime: true,
                istoday: false,
                choose: function(datas){
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(start);
            laydate(end);


            //paix
            $("#sort").change(function () {
                $v = $(this).find("option:selected").attr('data-type');

                $("#sorttype").val($v);
            })
            $(document).on("click", "[data-handle-check='1']", function () {
                $uuid = checked_box_id();
                $model = $(this).attr('data-model');
                $type = $(this).attr('data-handle');
                $value = $(this).attr('data-handle-value');
                $filed = $(this).attr('data-handle-filed');
                $sort = checked_sort_id();
                $log = "{{ $onname }}：" + checked_log_name();
                //console.log($uuid);
                //console.log($sort);
                //console.log($log);

                if ($uuid) {
                    switch ($type) {

                        default:

                            swal({
                                        title: "{{ :lang('你确定批量操作吗','handle') }}?",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "{{ :lang('确定','handle') }}",
                                        cancelButtonText: "{{ :lang('取消','handle') }}",
                                        closeOnConfirm: false,
                                        showLoaderOnConfirm: true,
                                    },
                                    function () {
                                        setTimeout(function () {
                                            $.ajax({
                                                'url': '{{ :U("Admin/Ajax/handle") }}',
                                                type: 'post',
                                                data: {
                                                    'uuid': $uuid,
                                                    'model': $model,
                                                    'value': $value,
                                                    'type': $type,
                                                    'filed': $filed,
                                                    'sort': $sort,
                                                    'log': $log,
                                                    'token': '{{ :token() }}'
                                                },
                                                cache: false,
                                                dataType: 'json',
                                                success: function (data) {
                                                    console.log(data);
                                                    if (data.error == 0) {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "{{ :lang('确定','handle') }}",
                                                            type: "success",
                                                            timer: 1000,
                                                        });
                                                        window.location.reload();
                                                    } else {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "{{ :lang('确定','handle') }}",
                                                            type: "warning",
                                                            timer: 1000,
                                                        });

                                                    }
                                                    ;
                                                }
                                            })
                                        }, 2000);
                                    }
                            );
                            break;
                    }

                } else {
                    swal("{{ :lang('没有选择','handle') }}");
                }

            });

        });
        function anxia(tddid) { //隐藏表格
            if ($("." + tddid).is(":checked")) {
                $("[id=" + tddid + "]").css('display', '');
                ;
            } else {
                $("[id=" + tddid + "]").css('display', 'none');
                ;
            }
        }
        ;
        var shijian11 = {
            elem: '#shijian11',
            format: 'YYYY-MM-DD hh:mm:ss',
            istime: true,
            istoday: true,
            choose: function (datas) {
                shijian12.min = datas; //开始日选好后，重置结束日的最小日期
                shijian12.start = datas //将结束日的初始值设定为开始日
            }
        };
        var shijian12 = {
            elem: '#shijian12',
            format: 'YYYY-MM-DD hh:mm:ss',
            istime: true,
            istoday: true,
            choose: function (datas) {
                shijian11.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(shijian11);
        laydate(shijian12);
    </script>
</block>