<extend name="Layout:index"/>
<block name="add_css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
</block>
<block name="add_js">
    <script src="__JS__/sweetalert.min.js"></script>
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
</block>
<block name="right">
    <div class="right-box">
        <if condition="I('get.show')">
        <else/>
        <div class="ibox">
            

            <php>if($handle_tpl=='df'){</php>
                <include file="CaiWu:so:wait"/>
            <php>}elseif($handle_tpl=='status_1'){</php>
                 <include file="CaiWu:so:status_1" />
             <php>}elseif($handle_tpl=='status_2'){</php>
                 <include file="CaiWu:so:status_2" />
            <php>}elseif($handle_tpl=='status_3'){</php>
                 <include file="CaiWu:so:ok" />
            <php>}elseif($handle_tpl=='tui'){</php>
                 <include file="CaiWu:so:tui" />
            <php>}</php>
        </div>
        </if>
        <div class="ibox">
                <if condition="$menu_list">
                    <div class="ibox-title">
                        <h5><a class="collapse-link">{{ :lang('字段选择','handle') }}</a>

                            <div class="keep-open btn-group open" title="列">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default btn-outline dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="true"
                                            style="padding:0px 5px; border:0px">
                                        <i class="glyphicon glyphicon-list"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style=" padding:10px">
                                        <foreach name="menu_list" item="v" key="k">
                                            <if condition="$v['name'] neq ''">
                                            <li>
                                                <div class="checkbox-inline f-label">
                                                    <php>
                                                    $active='checked=""';
                                                    if($v['is_hide']==1)
                                                    {
                                                         $active='';
                                                    }
                                                    </php>
                                                   
                                                    <input type="checkbox" {{ $active }} data-change="select" data-class="{{ $k }}">
                                                    <label>{{ $v['name'] }}</label>
                                                      
                                                   
                                                </div>
                                            </li>
                                            </if>
                                        </foreach>


                                    </ul>
                                </div>
                            </div>
                        </h5>

                    </div>

                </if>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table width="100%"  class="table table-striped table-hover table-bordered">

                            <tbody>

                            <tr>
                                <th width="40" class="hidden-xs text-center"><input name="chkall" type="checkbox" id="chkall" value="0"></th>
                                 <th>{{ :lang('操作') }}</th>

                                    <foreach name="menu_list" item="v" key="k">
                                        <if condition="$v['name'] neq ''">
                                            <if condition="$v['is_hide'] neq 1">
                                                    <th class="{{ $k }}">{{ $v['name'] }}</th>
                                                <else/>
                                                    <th class="{{ $k }}" style="display: none;">{{ $v['name'] }}</th>
                                            </if> 
                                           
                                        </if>
                                       
                                    </foreach>
                                   

                            </tr>
                            <if condition="$list">

                                <volist name="list" id="v">

                                    <tr class="js-tr">

                                        <td align="center" class="hidden-xs">
                                            <input type="checkbox" class="checkbox-select" name="checkbox[]" value="{{ $v.uuid }}">
                                        </td>
                                        <td class="td-handle">
                                            <!-- //网站竞价人员 -->
                                            <div class="box" style="">
                                                <php>if($handle_tpl=='df'){</php>
                                                <include file="Menu:shouyin" />
                                                <php>}elseif($handle_tpl=='status_1'){</php>
                                                     <include file="Menu:shouyin_status_1" />
                                                 <php>}elseif($handle_tpl=='status_2'){</php>

                                                    <include file="Menu:shouyin_status_2" />
                                                <php>}elseif($handle_tpl=='status_3'){</php>
                                                     <include file="Menu:shouyin_status_3" />
                                                <php>}elseif($handle_tpl=='tui'){</php>
                                                     <include file="Menu:shouyin_tui" />
                                                <php>}</php>
                                            
                                            </div>
                                           
                                        </td>
                                      
                                        <foreach name="menu_list" item="mv" key="mk">
                                            <?php
                                                $ishow="";
                                                if($mv['is_hide']==1)
                                                {
                                                     $ishow='style="display: none"';
                                                }
                                            ?>
                                           
                                            <td class="{{ $mk }} {{ $mv['diy'] }}" {{ $ishow }}>
                                                <if condition="$mv['is_time']">{{ :to_time($v[$mv['filed']]) }}
                                                    <elseif condition="$mv['filed'] eq sf_status"/>
                                                        <span class="{{ :btn_yycolor($v['sf_status']) }}">
                                                        {{ :lang(sf_status($v['sf_status'])) }}
                                                        </span>
                                                    <elseif condition="$mv['filed'] eq price_show"/>
                                                      <?php $show=(json_decode(htmlspecialchars_decode($v['price_show']),true));?>
                                                      
                                                      <ul class="list-group">

                                                      <if condition="$show">
                                                          <foreach name="show" item="sv" key="sk">
                                                                
                                                                    <li class="list-group-item" title="{{ :$sv['total'] }}">  <a href="javascript:void(0)">{{ :urldecode($sv['title']) }}</a> </li>
                                                          
                                                          </foreach>
                                                      </if>
                                                      </ul>
                                                   <elseif condition="$mv['filed'] eq pay_ways"/>
                                                        <span class="{{ :btn_yycolor($v['pay_ways']) }}">
                                                        {{ :lang(pay_wasyall($v['pay_ways'],0)) }}
                                                        </span>
                                                    <elseif condition="$mv['filed'] eq price_total"/>
                                                        <span data-price="vnlist">{{ $v[$mv['filed']] }}</span>


                                                    <elseif condition="$mv['filed'] eq pay_price"/>
                                                        <php>if(in_array($v['sf_status'],array(1,2,3,4,5,6,10))){</php>
                                                            <span data-price="vnlist">{{ $v['true_price'] }}</span>
                                                        <php>}else{</php>
                                                            <span data-price="vnlist">{{ $v[$mv['filed']] }}</span>
                                                        <php>}</php>
                                                        
                                                    <elseif condition="$mv['filed'] eq sx_price"/>
                                                        <php>if($v['pay_ways']!='1'){</php>
                                                            <span data-price="vnlist">{{ $v[$mv['filed']]-$v['base_pay_price'] }}</span>
                                                        <php>}</php>
                                                    <elseif condition="$mv['filed'] eq js_status"/>
                                                         <span class="{{ :btn_yycolor($v['js_status']) }}">
                                                         {{ :lang(js_status($v['js_status'],0)) }}
                                                         </span>
                                                    <elseif condition="$mv['filed'] eq user_name"/>
                                                        
                                                             <a href="javascript:void(0)" class=" js-show-url" data-userid="{{ $v.user_id }}" data-yid="{{ $v.yid }}" data-uuid="{{ $v.uid }}" > {{ $v[$mv['filed']] }}</a>
                                                    
                                                    <else/>
                                                        {{ $v[$mv['filed']] }}
                                                </if>
                                                
                                            </td>
                                              
                                            
                                           
                                        </foreach>


                                      
                                        
                                    </tr>
                                    

                                </volist>

                                <else/>
                                <tr>
                                    <td colspan="13" class="text-center">{{ :C('NOTTHING') }}</td>
                                </tr>
                            </if>
                            </tbody>


                        </table>
                        <if condition="$handle_tpl eq status_1">
                        <div class="">
                        
                          
    
                                <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="js_status"
                                   data-model="KaiDan"
                                   data-handle="jiesuan" data-handle-check="1" data-handle-value="1"><span
                                        class="fa fa-ban"></span> {{ :lang('结算','handle') }}</a>

                            
                        </div>
                        </if>
                    </div>

                     <div class="pagee m-t">
                        <div class="pull-right">
                            {{ $page }}
                        </div>
                     </div>

                </div>

            </div>
            <div class="cl"></div>
        </div>
    </div>
</block>
<block name="add_foot_js">

<include file="YuYue:so:common"/>
<script>

    $(function () {

        select_all();
        del_confirm();



        //paix
        $("#sort").change(function () {
            $v = $(this).find("option:selected").attr('data-type');

            $("#sorttype").val($v);
        })
        $(document).on("click", "[data-handle-check='1']", function () {
            $uuid = checked_box_id();
            $model = $(this).attr('data-model');
            $type = $(this).attr('data-handle');
            $value = $(this).attr('data-handle-value');
            $filed = $(this).attr('data-handle-filed');
            $sort = checked_sort_id();
            $log = "{{ $onname }}：" + checked_log_name();
            //console.log($uuid);
            //console.log($sort);
            //console.log($log);

            if ($uuid) {
                switch ($type) {

                    default:

                        swal({
                                    title: "{{ :lang('你确定批量操作吗','handle') }}?",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "{{ :lang('确定','handle') }}",
                                    cancelButtonText: "{{ :lang('取消','handle') }}",
                                    closeOnConfirm: false,
                                    showLoaderOnConfirm: true,
                                },
                                function () {
                                    setTimeout(function () {
                                        $.ajax({
                                            'url': '{{ :U("Admin/Ajax/handle") }}',
                                            type: 'post',
                                            data: {
                                                'uuid': $uuid,
                                                'model': $model,
                                                'value': $value,
                                                'type': $type,
                                                'filed': $filed,
                                                'sort': $sort,
                                                'log': $log,
                                                'token': '{{ :token() }}'
                                            },
                                            cache: false,
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                if (data.error == 0) {
                                                    swal({
                                                        title: data.msg,
                                                        confirmButtonText: "{{ :lang('确定','handle') }}",
                                                        type: "success",
                                                        timer: 1000,
                                                    });
                                                    window.location.reload();
                                                } else {
                                                    swal({
                                                        title: data.msg,
                                                        confirmButtonText: "{{ :lang('确定','handle') }}",
                                                        type: "warning",
                                                        timer: 1000,
                                                    });

                                                }
                                                ;
                                            }
                                        })
                                    }, 2000);
                                }
                        );
                        break;
                }

            } else {
                swal("{{ :lang('没有选择','handle') }}");
            }

        });

    });
</script>
</block>