<div class="col-xs-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                <a class="collapse-link">{{ :home_tjname('近10天的有效咨询量，预约量，到院量曲线图，柱状图') }}</a>
            </h5>
             <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
                </div>
        </div>
        <div class="ibox-content">  
            <div class="echarts"  id="echarts-bar-chart">
                
            </div>
        </div>
    </div>
</div>
    <script src="__JS__/echarts-all.js"></script>
    <php>
        $data_limit=get_days(-10)." - ".get_days(0);
        $echarts_title=array(
           
                lang('有效咨询量'),
                lang('预约量'),
                lang('到院量')
            
        );
        $echarts_title_json=json_encode($echarts_title);
        
    </php>
    <script>

   $(function() {
    var i = echarts.init(document.getElementById("echarts-bar-chart"));
    var q = {
    title : {
        subtext: '{{ $data_limit }}'
    },
        tooltip: {
            trigger: "axis"
        },
        legend: {
            data:{{ $echarts_title_json }}
        },
        grid: {
            x: 30,
            x2: 40,
            y2: 24
        },
    toolbox: {
        show : true,
        feature : {
            mark : {show: false},
            dataView : {show: false, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: false},
            saveAsImage : {show: true}
        }
    },
        calculable: true,
        xAxis: [{
            type: "category",
            data :{{ $day_arr_json }}
        }],
    yAxis: [
        {
            type: 'value',
            show: true
        }
    ],
        series: [{
            name: "{{ $echarts_title[0] }}",
            type: "bar",
            data: {{ $has_arr[0] }},
            itemStyle: {normal: {
                 label : {show: true}
            }},
            markPoint: {
                data: [{
                    type: "max",
                    name: "{{ :lang('最大值') }}"
                },
                {
                    type: "min",
                    name: "{{ :lang('最小值') }}"
                }]
            },
            markLine: {
                data: [{
                    type: "average",
                    name: "{{ :lang('平均值') }}"
                }]
            }
        },
        {
            name: "{{ $echarts_title[1] }}",
            type: "bar",
            data: {{ $has_arr[1] }},
            itemStyle: {normal: {
                 label : {show: true}
            }},
            markPoint: {
                data: [{
                    type: "max",
                    name: "{{ :lang('最大值') }}"
                },
                {
                    type: "min",
                    name: "{{ :lang('最小值') }}"
                }]
            },
            markLine: {
                data: [{
                    type: "average",
                    name: "{{ :lang('平均值') }}"
                }]
            }
        },
        {
            name: "{{ $echarts_title[2] }}",
            type: "bar",
            data: {{ $has_arr[2] }},
            itemStyle: {normal: {
                 label : {show: true}
            }},
            markPoint: {
                data: [{
                    type: "max",
                    name: "{{ :lang('最大值') }}"
                },
                {
                    type: "min",
                    name: "{{ :lang('最小值') }}"
                }]
            },
            markLine: {
                data: [{
                    type: "average",
                    name: "{{ :lang('平均值') }}"
                }]
            }
        }]
    };
    i.setOption(q);
    window.onresize = i.resize;
});
    </script>