
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><a class="collapse-link">{{ :lang('预到情况（网电咨询部+市场部）') }}</a></h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                   
                    <tbody>
                        <tr>
                            <td>{{ :lang('今日预到') }}</td>
                           
                            <td>
                                <php> echo D('Home')-> getTotal('YuYue',array('is_qtadd'=>0),0,'ydatetime',1)</php>
                            </td>
                            <td>{{ :lang('今日已到') }}</td>

                            <td>
                                <php> echo D('Home')-> getTotal('YuYue',array('is_qtadd'=>0),0,'dztime',1)</php>
                            </td>
                          
                        
                            <td>{{ :lang('明日预到') }}</td>
                            
                            <td>
                                <php> echo D('Home')-> getTotal('YuYue',array('is_qtadd'=>0),1,'ydatetime',1)</php>
                            </td>
                            <td>{{ :lang('本周预到') }}</td>
                             <td>
                                <php> echo D('Home')->getTotal_month('YuYue',array('is_qtadd'=>0),'bz','ydatetime',1)</php>
                            </td>
                            
                           
                        </tr>
                       <!--  
                        
                       <tr>
                          <td>{{ :lang('本月') }}</td>
                          
                          <td>
                              <php> echo D('Home')->getTotal_month('YuYue',array(),'by','ydatetime')</php>
                          </td>
                      
                          <td>
                              <php> echo D('Home')->getTotal_month('YuYue',array(),'by','dztime')</php>
                          </td>
                        
                      </tr> -->
                        
                        
                    </tbody>
                </table>
               
            </div>
        </div>
