<php>
   $leibie_array=array(

        '1'=>lang('初诊'),
        '2'=>lang('复诊'),
        '3'=>lang('复查'),
       
    );
</php>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><a class="collapse-link" >{{ :home_tjname('接诊情况') }}</a></h5>
        <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
        </div>
    </div>
    <div class="ibox-content" style="">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
             
              <tr>
                <td width="43">　</td>
               
                <td colspan="9" width="500" align="center">{{ :lang('开单和来院类别') }}</td>
              </tr>
              <tr>
                <td width="43">{{ :lang('日期') }}</td>
                <td width="60">{{ :lang('初诊') }}</td>
                <td width="50">{{ :lang('初诊成交率') }}</td>
                <td width="60">{{ :lang('复诊') }}</td>
                <td width="60">{{ :lang('复诊成交率') }}</td>
                <td width="60">{{ :lang('复查') }}</td>
                <td width="52">{{ :lang('复查成交率') }}</td>
                 <td width="60">{{ :lang('再消费') }}</td>
                <td width="52">{{ :lang('其他') }}</td>
                <td width="46">{{ :lang('总成交率') }}</td>
              </tr>
              <tr>
                <td width="43">{{ :lang('今日') }}</td>
                <foreach name="leibie_array" item="v" key="lbkey">
                    <td width="60"><php>echo $cz1=D('Home')->getKaiDanTotal(array('yy.leibie'=>$lbkey),0,'jz.jztime')</php></td>
                  
                    <td width="50"><php>$czok1=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>$lbkey,'kd.sf_status'=>1),0,'kd.kd_time');echo round( ($czok1/$cz1) * 100 , 2) . "％";</php></td>
                   
                </foreach>
                
                <td width="60"><php>echo $cz1=D('Home')->getKaiDanTotal(array('yy.leibie'=>4),0,'jz.jztime')</php></td>
                <td width="52"><php>echo $cz1=D('Home')->getKaiDanTotal(array('yy.leibie'=>5),0,'jz.jztime')</php></td>
                <td width="46">
                    <php>$cztotal1=D('Home')->getKaiDanTotal(array('yy.leibie'=>array('in',array('1','2','3','4'))),0,'jz.jztime')</php>
                    <php>$czoktotal1=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>array('in',array('1','2','3','4')),'kd.sf_status'=>1),0,'kd.kd_time');echo round( ($czoktotal1/$cztotal1) * 100 , 2) . "％";</php>
                </td>
              </tr>
               <tr>
                <td width="43">{{ :lang('昨日') }}</td>
                 <php>
                     foreach($leibie_array as $lbkey=>$lv)
                     {
                        $cz2=D('Home')->getKaiDanTotal(array('yy.leibie'=>$lbkey),-1,'jz.jztime');
                        echo '<td width="60">'.$cz2.'</td>';
                        $czok2=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>$lbkey,'kd.sf_status'=>1),-1,'kd.kd_time');
                        echo '<td width="50">'.round( ($czok2/$cz2) * 100 , 2) . "％"."</td>";
                     }
                 </php>
                <td width="60"><php>echo D('Home')->getKaiDanTotal(array('yy.leibie'=>4),-1,'jz.jztime')</php></td>
                <td width="52"><php>echo D('Home')->getKaiDanTotal(array('yy.leibie'=>5),-1,'jz.jztime')</php></td>
                <td width="46">
                    <php>$cztotal2=D('Home')->getKaiDanTotal(array('yy.leibie'=>array('in',array('1','2','3','4'))),-1,'jz.jztime')</php>
                    <php>$czoktotal2=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>array('in',array('1','2','3','4')),'kd.sf_status'=>1),-1,'kd.kd_time');echo round( ($czoktotal2/$cztotal2) * 100 , 2) . "％";</php>
                </td>
              </tr>
              <tr>
                <td width="43">{{ :lang('本周') }}</td>
                <php>
                    foreach($leibie_array as $lbkey=>$lv)
                    {
                       $cz2=D('Home')->getKaiDanTotal(array('yy.leibie'=>$lbkey),-1,'jz.jztime','bz');
                       echo '<td width="60">'.$cz2.'</td>';
                       $czok2=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>$lbkey,'kd.sf_status'=>1),-1,'kd.kd_time','bz');
                       echo '<td width="50">'.round( ($czok2/$cz2) * 100 , 2) . "％"."</td>";
                    }
                </php>
                <td width="60"><php>echo D('Home')->getKaiDanTotal(array('yy.leibie'=>4),-1,'jz.jztime','bz')</php></td>
                <td width="52"><php>echo D('Home')->getKaiDanTotal(array('yy.leibie'=>5),-1,'jz.jztime','bz')</php></td>
                <td width="46">
                    <php>$cztotal2=D('Home')->getKaiDanTotal(array('yy.leibie'=>array('in',array('1','2','3','4'))),-1,'jz.jztime','by')</php>
                    <php>$czoktotal2=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>array('in',array('1','2','3','4')),'kd.sf_status'=>1),-1,'kd.kd_time','bz');echo round( ($czoktotal2/$cztotal2) * 100 , 2) . "％";</php>
                </td>
              </tr>
               <tr>
                <td width="43">{{ :lang('本月') }}</td>
                <php>
                    foreach($leibie_array as $lbkey=>$lv)
                    {
                       $cz2=D('Home')->getKaiDanTotal(array('yy.leibie'=>$lbkey),-1,'jz.jztime','by');
                       echo '<td width="60">'.$cz2.'</td>';
                       $czok2=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>$lbkey,'kd.sf_status'=>1),-1,'kd.kd_time','by');
                       echo '<td width="50">'.round( ($czok2/$cz2) * 100 , 2) . "％"."</td>";
                    }
                </php>
                <td width="60"><php>echo D('Home')->getKaiDanTotal(array('yy.leibie'=>4),-1,'jz.jztime','by')</php></td>
                <td width="52"><php>echo D('Home')->getKaiDanTotal(array('yy.leibie'=>5),-1,'jz.jztime','by')</php></td>
                <td width="46">
                    <php>$cztotal2=D('Home')->getKaiDanTotal(array('yy.leibie'=>array('in',array('1','2','3','4'))),-1,'jz.jztime','by')</php>
                    <php>$czoktotal2=D('Home')->getKaiDanTotalOk(array('yy.leibie'=>array('in',array('1','2','3','4')),'kd.sf_status'=>1),-1,'kd.kd_time','by');echo round( ($czoktotal2/$cztotal2) * 100 , 2) . "％";</php>
                </td>
              </tr>
            </table>
        </div>

       
    </div>
</div>
