<php>
    $pay_class=array(
        '1'=>lang('付全款'),
        '2'=>lang('付定金'),
        '3'=>lang('付部分款'),
        '7'=>lang('补订金余款'),
        '8'=>lang('补欠款'),
        
    );
</php>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><a class="collapse-link">{{ :home_tjname('接诊情况') }}</a></h5>
        <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
        </div>
    </div>
    <div class="ibox-content" style="">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
             
              <tr>
                <td width="43">　</td>
               
                <td colspan="9" width="500">{{ :lang('开单和来院类别') }}</td>
              </tr>
              <tr>
                <td width="43">{{ :lang('日期') }}</td>
                <td width="60">{{ :lang('初诊') }}</td>
                <td width="50">{{ :lang('初诊成交率') }}</td>
                <td width="60">{{ :lang('复诊') }}</td>
                <td width="60">{{ :lang('复诊成交率') }}</td>
                <td width="60">{{ :lang('复查') }}</td>
                <td width="60">{{ :lang('再消费') }}</td>
                <td width="52">{{ :lang('复查成交率') }}</td>
                <td width="52">{{ :lang('其他') }}</td>
                <td width="46">{{ :lang('总成交率') }}</td>
              </tr>
              <tr>
                <td width="43">今日</td>
                <td width="60"></td>
                <td width="50">　</td>
                <td width="60">接诊量（开单量）</td>
                <td width="60">　</td>
                <td width="60">接诊量</td>
                <td width="60">接诊量</td>
                <td width="52">　</td>
                <td width="52">接诊量（开单量）</td>
                <td width="46">　</td>
              </tr>
               <tr>
                <td width="43">今日</td>
                <td width="60">接诊量（开单量）</td>
                <td width="50">　</td>
                <td width="60">接诊量（开单量）</td>
                <td width="60">　</td>
                <td width="60">接诊量</td>
                <td width="60">接诊量</td>
                <td width="52">　</td>
                <td width="52">接诊量（开单量）</td>
                <td width="46">　</td>
              </tr>
              <tr>
                <td width="43">今日</td>
                <td width="60">接诊量（开单量）</td>
                <td width="50">　</td>
                <td width="60">接诊量（开单量）</td>
                <td width="60">　</td>
                <td width="60">接诊量</td>
                <td width="60">接诊量</td>
                <td width="52">　</td>
                <td width="52">接诊量（开单量）</td>
                <td width="46">　</td>
              </tr>
               <tr>
                <td width="43">今日</td>
                <td width="60">接诊量（开单量）</td>
                <td width="50">　</td>
                <td width="60">接诊量（开单量）</td>
                <td width="60">　</td>
                <td width="60">接诊量</td>
                <td width="60">接诊量</td>
                <td width="52">　</td>
                <td width="52">接诊量（开单量）</td>
                <td width="46">　</td>
              </tr>
            </table>
        </div>

       
    </div>
</div>
