<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">


    <block name="title">
        <title>{{ :C('SITE_NAME') }}</title>
        <meta name="keywords" content="{{ :C('SITE_NAME') }}"/>
        <meta name="description" content="{{ :C('SITE_NAME') }}"/>
    </block>

    <block name="base_css">
        <link href="__CSS__/bootstrap.min.css?v=3.5" rel="stylesheet">
        <link href="__CSS__/font-awesome.min.css?v=4.3.0" rel="stylesheet">
        <link href="__CSS__/animate.min.css" rel="stylesheet">
        <link href="__CSS__/style.min.css?v=3.2.0" rel="stylesheet">
    </block>
    <block name="base_js">
        <script src="__JS__/jquery-2.1.1.min.js"></script>
        <script src="__JS__/bootstrap.min.js?v=3.3.5"></script>
        <!-- layerjs -->
        <script src="__JS__/plugins/layer/layer.min.js"></script>
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/function.js"></script>
    </block>
    <block name="add_css">

    </block>
    <block name="add_js">

    </block>


</head>
<block name="body_name">
<body>
</block>
<block name="body">

</block>
<block name="foot_js">

</block>
<block name="add_foot_js">

</block>
</body>
</html>