<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <block name="title">
        <title>{{ :C('SITE_NAME') }}</title>
        <meta name="keywords" content="{{ :C('SITE_NAME') }}"/>
        <meta name="description" content="{{ :C('SITE_NAME') }}"/>
    </block>
    <link rel="shortcut icon" href="/favicon.ico" />
    <block name="base_css">
        <link href="__CSS__/base.css?v=3.3.5" rel="stylesheet">
        <link href="__CSS__/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="__CSS__/animate.min.css" rel="stylesheet">
        <link href="__CSS__/style.min.css?v=3.2.0" rel="stylesheet">
        <link href="__CSS__/font-awesome.min.css" rel="stylesheet">

    </block>
    <block name="add_css"></block>
    <block name="base_js">
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/accounting.min.js"></script>


    </block>
    <block name="add_js"></block>
</head>
<block name="body_name">
    <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden;width: 100%">
    
</block>


<div id="wrapper">
    <!--左侧导航开始-->
    <include file="Layout:left" />
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <php>$home_url=U('Admin/Home/homeTongJi');</php>
    <if condition="check_group('root') neq true">
        <if condition="check_group('login_website_caiwu')">
               
             <php>$home_url=U('Admin/CaiWu/waitPriceList');</php>

        </if>
        <if condition="check_group('login_website_kefu')">
             <php>$home_url=U('Admin/RenWu/index/',array('status'=>0));</php>
             

        </if>
    </if>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <include file="Layout:header" />
        <div class="J_mainContent" id="content-main" >
            <iframe id="iframe0" class="J_iframe" name="iframe0" width="100%" height="100%" src="{{ $home_url }}" frameborder="0" data-id="{{ $home_url }}" seamless></iframe>
        </div>
        <include file="Layout:footer" />
    </div>
    <!--右侧部分结束-->
</div>
<include file="Layout:lang" />

<block name="foot_js">
    

    <script src="__JS__/bootstrap.min.js?v=3.3.5"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <!-- layerjs -->



    <script src="__JS__/hplus.min.js?v=3.2.0"></script>
    <script src="__JS__/contabs.min.js" type="text/javascript"></script>
    <!-- 第三方插件 -->
    <script src="__JS__/plugins/pace/pace.min.js"></script>
    <script src="__JS__/function.js"></script>
</block>
<block name="add_foot_js">

</block>

</body>
</html>