<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <block name="title">
        <title>{{ :lang(C('SITE_NAME')) }}</title>
        <meta name="keywords" content="{{ :C('SITE_NAME') }}"/>
        <meta name="description" content="{{ :C('SITE_NAME') }}"/>
    </block>
    <link rel="shortcut icon" href="/favicon.ico" />
    <block name="base_css">
        <link href="__CSS__/base.css?v=3.3.5" rel="stylesheet">
        <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
        <link href="__CSS__/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="__CSS__/animate.min.css" rel="stylesheet">
        <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
        <link href="__CSS__/custom.css" rel="stylesheet">
        
       

        
        <link href="__CSS__/style.min.css?v=3.2.0" rel="stylesheet">

       

    </block>
    <block name="add_css"></block>
    <block name="base_js">
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/accounting.min.js"></script>


    </block>
    <block name="add_js"></block>
</head>
<block name="body_name">
    <body  class="gray-bg">
</block>


<block name="right">
</block>
<include file="Layout:lang" />
<block name="foot_js">


    <script src="__JS__/bootstrap.min.js?v=3.3.5"></script>
    <!-- 自定义js -->
    <script src="__JS__/content.min.js?v=1.0.0"></script>
    <!-- Peity -->
    <script src="__JS__/jquery.peity.min.js"></script>
    <!-- Peity -->
    <script src="__JS__/peity-demo.min.js"></script>
    <!-- layerjs -->
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <script src="__JS__/function.js"></script>
</block>
<block name="add_foot_js">

</block>

</body>
</html>