
<script>
	var lang={
		'bt':'{{ :lang("必填") }}',
		'bt_number':'{{ lang("只能输入数字") }}',
		'del_msg':'{{ :lang("你确定要删除吗") }}',
		'del':'{{ :lang("删除") }}',
		'cancel':'{{ :lang("取消") }}',
		'ok':'{{ :lang("确定") }}',
		'upfile':'{{ :lang("上传文件") }}',
		'changepic':'{{ :lang("请选择图片") }}',
		'piconly':'{{ :lang("只能选择一张") }}',
		'nochang':'{{ :lang("请点击选择，没有选择") }}',
		'upmove':'{{ :lang("上移") }}',
		'downmove':'{{ :lang("下移") }}',
		'dateerror':'{{ :lang("输入的日期格式错误") }}',
		'showphone':'{{ :lang("确定查看手机号码") }}',
		'showok':'{{ :lang("查看成功") }}',
		'nophone':'{{ :lang("该用户没有手机号码") }}',
		'kyear':'{{ :lang("年") }}',
		'kmonth':'{{ :lang("月") }}',
		'kday':'{{ :lang("日") }}',
	}
</script>