<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <block name="title">
        <title>{{ :C('SITE_NAME') }}</title>
        <meta name="keywords" content="{{ :C('SITE_NAME') }}"/>
        <meta name="description" content="{{ :C('SITE_NAME') }}"/>
    </block>
    <block name="base_css">

        <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
        <link rel="stylesheet" href="__CSS__/base.css">
    </block>
    <block name="add_css"></block>
    <block name="base_js">
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/function.js"></script>
    </block>
    <block name="add_js"></block>
</head>
<body>
<div class="warp">
    <div class="main">




        <block name="right">

        </block>


    </div>

</div>

<block name="foot_js">
    <script>
        $(function () {
            drop();
            tab();
        })
    </script>
</block>
<block name="add_foot_js">

</block>

</body>
</html>