<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">
        <div class="wrapper wrapper-content">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="tabs_panels.html#tab-1" aria-expanded="true"><span class="hidden-xs">{{ :lang('基本信息') }}</span><span class="visible-xs">{{ :lang('信息') }}</span></a> </li>
                            <if condition="check_group('yuyue_showhf')"><li class=""><a data-toggle="tab" href="tabs_panels.html#tab-3" aria-expanded="false"><span class="hidden-xs">{{ :lang('回访列表') }}</span><span class="visible-xs">{{ :lang('列表') }}</span></a> </li>
                            </if>
                            <if condition="check_group('yuyue_hfsrenwu')"><li class=""><a data-toggle="tab" href="tabs_panels.html#tab-5" aria-expanded="false"><span class="hidden-xs">{{ :lang('回访任务') }}</span><span class="visible-xs">{{ :lang('任务') }}</span></a> </li>
                            </if>
                            <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-2" aria-expanded="false"><span class="hidden-xs">{{ :lang('详细对话') }}</span><span class="visible-xs">{{ :lang('对话') }}</span></a> </li>
                            
                            <if condition="check_group('yishenjz_add')"><li class=""><a data-toggle="tab" href="tabs_panels.html#tab-6" aria-expanded="false"><span class="hidden-xs">{{ :lang('确诊列表') }}</span><span class="visible-xs">{{ :lang('列表') }}</span></a> </li>
                            </if>

                        </ul>
                    </div>
                </div>
                <div class="panel-body" style="padding:5px 0px 0px 0px;">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active form-horizontal">

                                <div class="col-sm-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5><a class="collapse-link">{{ :lang('预约信息') }}</a></h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('当前状态') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" value="{{ :yuyue_status($data['status']) }}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('预约时间') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" value="{{ :date('Y-m-d H:i:s',$data['ydatetime']) }}" placeholder="YYYY-MM-DD hh:mm" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('预约号') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" value="{{ $data.ynumber }}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('备注') }}</label>
                                                <div class="col-sm-12">
                                                    <textarea readonly class="ibox-content" style="width:100%; background:#EEEEEE; border:1px #E5E6E7 solid">
                                                        {{ $data.mark }}
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('科室') }}</label>
                                                <div class="col-sm-4" >

                                                    <select class="form-control" name="ks_id" id="ks_id" onchange="get_tks(this.value)" disabled>
                                                        <option value="">{{ :lang('请选择科室') }}</option>
                                                        {{ :get_keshi('0','1',$data['ks_id'] ) }}
                                                    </select>
                                                </div>
                                                <div class="col-sm-4" >

                                                    <select class="form-control" id="kst_id" name="kst_id" onchange="get_tks2(this.value)" disabled>
                                                        <option value="">{{ :lang('请选择二级科室') }}</option>

                                                    </select>
                                                </div>
                                                <div class="col-sm-4" >

                                                    <select class="form-control" id="kstt_id" name="kstt_id" disabled>
                                                        <option value="">{{ :lang('请选择具体病种') }}</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('就诊医生') }}</label>
                                                <div class="col-sm-12">
                                                    <select name="jiuzhenyishengID" class="form-control" readonly="">
                                                        <!-- 管理登录时可换/默认同账号 -->
                                                        <option value="">{{ :lang('无') }}</option>
                                                        {{ :get_yushen($data['ys_id']) }}
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('到诊时间') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" value="{{ $data.dztime }}" readonly>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5><a class="collapse-link">{{ :lang('咨询信息') }}</a></h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('网站来源') }}</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="web_id" id="" disabled>
                                                        <option>{{ :lang('无') }}</option>
                                                        <php>echo get_lanmu_onelist('website',1,'first','',$data['web_id']);</php>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('登记时间') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" value="{{ :to_time($data['ctime']) }}" placeholder="YYYY-MM-DD hh:mm" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('客户姓名') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" value="{{ $data.User.name }}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('联系手机(点击查看完整号码)') }}</label>
                                                <div class="col-sm-12" data-show-phone="1" data-type="input" data-vid="#user_phone" data-url="{{ :U('Admin/Ajax/showPhone') }}" data-uid="{{ $data.User.id }}">
                                                    <input class="form-control"  value="{{ :hide_tel($data['User']['tel'],2,5) }}" readonly id="user_phone">
                                                </div>
                                            </div>
                                            {{ :onkefu('is_zixun',0,$data['admin_id'],1) }}
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('病人来源') }}</label>
                                                <div class="col-sm-4">

                                                    <select class="form-control"  disabled required="required" id="ly_id"   name="ly_id" data-datachenge='1' data-close="#lyt_id,#lytt_id"  data-type="ly"  data-next="lyt_id"  data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}" >

                                                        <option value="">{{ :lang('请选择') }}</option>
                                                        <?php
                                                        if(check_group('root'))
                                                        {
                                                            echo get_lanmu_onelist('bingren',1,'first','',$data['ly_id']);
                                                        }else
                                                        {
                                                            echo get_lanmu_onelist('bingren',1,'first',session('brid'),$data['ly_id']);
                                                        }
                                                        ?>

                                                    </select>
                                                </div>
                                                <div class="col-sm-4" >

                                                    <select class="form-control" id="lyt_id" name="lyt_id" onchange="get_ly2(this.value)" disabled>
                                                        <option value="">{{ :lang('请选择') }}</option>

                                                    </select>
                                                </div>
                                                <div class="col-sm-4" >

                                                    <select class="form-control" id="lytt_id" name="lytt_id"
                                                            data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}" disabled>
                                                        <option value="">{{ :lang('请选择') }}</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('预约小结') }}</label>
                                                <div class="col-sm-12">
                                                    <textarea class="ibox-content" readonly style="width:100%; height: 100px; border:1px #E5E6E7 solid" name="zx_mark" >{{ :htmlspecialchars_decode($data['zx_mark']) }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="form-group">
                                <label class="col-sm-12">{{ :lang('详细聊天') }}</label>
                                <div class="col-sm-12">

                                    <textarea class=""  name="zx_content" id="content"> {{ :htmlspecialchars_decode($data['zx_content']) }}</textarea>

                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="col-sm-12">
                                <div class="ibox-content">
                                    <h3>病人：{{ $data.User.name }} </h3>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>

                                            <th>{{ :lang('回访主题') }}</th>
                                            <th>{{ :lang('回访类型') }}</th>
                                            <th>{{ :lang('回访方式') }}</th>
                                            <th>{{ :lang('回访状态') }}</th>
                                            <th>{{ :lang('客户流向') }}</th>
                                            <th>{{ :lang('下次回访') }}</th>
                                            <th>{{ :lang('下次小结') }}</th>
                                            <th>{{ :lang('操作') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zhuti">
                                        </tbody>
                                        <tr>
                                            <td colspan="8">
                                                <div id="lpage"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="col-sm-12">
                                <div class="ibox-content">
                                    <h3>病人：{{ $data.User.name }} </h3>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>

                                            <th>{{ :lang('任务主题') }}</th>


                                            <th>{{ :lang('任务状态') }}</th>

                                            <th>{{ :lang('回访时间') }}</th>
                                            <th>{{ :lang('操作') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zhuti2">
                                        </tbody>
                                        <tr>
                                            <td colspan="6">
                                                <div id="lpage2"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane " style="background: #fff">
                            <div class="col-sm-12">
                                <div class="ibox-content">
                                    

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>{{ :lang('接诊日期') }}</th>
                                            <th>{{ :lang('姓名') }}</th>
                                            <th>{{ :lang('接诊医生') }}</th>
                                            <th>{{ :lang('科室') }}</th>
                                            <th>{{ :lang('质量评级') }}</th>
                                             <th>{{ :lang('详细') }}</th>
                                            <th>{{ :lang('操作') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zhuti_zq">
                                        </tbody>
                                        <tr>
                                            <td colspan="8">
                                                <div id="lpageqz" class="m-t"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script src="__JS__/layer/laypage/laypage.js"></script>
    {{ :load_ueditor() }}
    <if condition="check_group('yuyue_showhf')">
        <script>
            function hj_ajax(curr) {
                $.getJSON("{{ :U('Admin/Ajax/getHuifang') }}", {
                    page: curr || 1,
                    "uid": "{{ $data.user_id }}",
                }, function (res) {
                    $("#zhuti").empty().append(res.content);
                    //显示分页
                    laypage({
                        cont: 'lpage', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.pages, //通过后台拿到的总页数
                        curr: curr || 1, //当前页
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                hj_ajax(obj.curr);
                            }
                        }
                    });
                });
            }
            ;
            hj_ajax();
        </script>
    </if>
    <if condition="check_group('yishenjz_add')">
        <script>
            function quzheng_ajax(curr) {
                $.getJSON("{{ :U('Admin/Ajax/getCheckShow') }}", {
                    page: curr || 1,
                    "yid": "{{ $data.id }}",
                }, function (res) {
                    $("#zhuti_zq").empty().append(res.content);
                    $(".js-open-more").click(function () {

                        $p = $(this).parents(".js-tr").next();

                        if ($p.is(":hidden")) {
                            $p.show();
                            $(this).find('span').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                        } else {
                            $p.hide();
                            $(this).find('span').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                        }
                    });
                    //显示分页
                    laypage({
                        cont: 'lpageqz', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.pages, //通过后台拿到的总页数
                        curr: curr || 1, //当前页,
                        first:false,
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                quzheng_ajax(obj.curr);
                            }
                        }
                    });
                });
            }
            ;
        quzheng_ajax();
        </script>
    </if>
    <if condition="check_group('yuyue_hfsrenwu')">
        <script>
            function renwu_ajax(curr){
                $.getJSON("{{ :U('Admin/Ajax/getHuifangRenWu') }}", {
                    page: curr || 1,
                    "uid":"{{ $data.user_id }}",
                }, function(res){
                    $("#zhuti2").empty().append(res.content);
                    //显示分页
                    laypage({
                        cont: 'lpage2', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.pages, //通过后台拿到的总页数
                        curr: curr || 1, //当前页
                        jump: function(obj, first){ //触发分页后的回调
                            if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                renwu_ajax(obj.curr);
                            }
                        }
                    });
                });
            };
            renwu_ajax();
        </script>
    </if>


    <script>
        bd_ueditor('content');

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            },
            success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success");
            },
            errorElement: "span",
            errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
                //e.insertBefore(r.parents(".ibox-content"));
            },
            errorClass: "error",
            validClass: "no-error"

        });
        $().ready(function () {

            //手机号码和姓名用户检测，
            $telname=$("#telname");
            $phone=$("#phone");
            //keydown
            $phone.blur(function () {
                $url='{{ :U("Admin/Ajax/check_phone") }}';
                if($telname.val()!='' && $phone.val()!='')
                {
                    $.get($url,{'name':$telname.val(),'phone':$phone.val()},function (data) {
                        console.log(data);
                        if(data)
                        {
                            $("#user_id").val(data[0].id);
                            $admin_name=data[0].realname==''?data[0].name:data[0].realname;
                            $admin_name=data[0].realname==''?data[0].name:data[0].realname;
                            $msg='{{ :lang("已被") }} <span style="color: #0000cc;">'+$admin_name+"</span> {{ :lang('客服于') }} <span >"+data[0].ydatetime+'</span><br/>{{ :lang("登记") }} '+data[0].ksname+" {{ :lang('科室') }} "+data[0].kstname+" {{ :lang('疾病项目') }}";
                            layer.alert($msg, {
                                skin: 'layui-layer-lan'
                                ,closeBtn: 0
                                ,shift: 4 //动画类型
                            });
                        }

                    })
                }

            });
            //快捷预约时间
            $("[data-settime='1'],[data-setdate='1']").css({
                'cursor':'pointer'
            });
            $("[data-settime='1']").click(function () {

                $v=$(this).attr('data-set');
                $("#ytime").val($v);
            });
            $("[data-setdate='1']").click(function () {

                $v=$(this).attr('data-set');
                console.log($v);
                $("#ydate").val(get_date($v));
            });



            //生日变化
            $("#age").change(function(){
                $year=$("#age").val();
                $birthday=get_age_date("-"+$year);
                $("#shengri").val($birthday);
            }).trigger('change');

        });

        <?php
        if($data['ks_id']!='')
        {
            echo "get_tks('".$data['ks_id']."');";
        }
        if($data['kst_id']!='')
        {
            echo "get_tks2('".$data['kst_id']."');";
        }
        if($data['ly_id']!='')
        {
            echo "get_ly('".$data['ly_id']."');";
        }
        if($data['lyt_id']!='')
        {
            echo "get_ly2('".$data['lyt_id']."');";
        }
        if($data['area_id']!='')
        {
            echo "get_area('".$data['area_id']."');";
        }
        ?>
        function get_tks($id){
            $url="{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid='{{ :I("get.kst_id") }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#kstt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#kst_id").show().empty().append(json.content);
            });
            get_tks2('');
        }
        function get_tks2($id){
            $str = "<option value=''>{{ :lang('无') }}</option>";
            $url="{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid='{{ :I("get.kstt_id") }}';
            log($tfid);
            if($id=='')
            {
                $("#kstt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                    $("#kstt_id").show().empty().append(json.content);
                }else
                {
                    $("#kstt_id").empty().append( $str);
                }
            });
        }
        function get_ly($id){
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ :I("get.lyt_id") }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#lyt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#lyt_id").show().empty().append(json.content);
            });
            get_ly2('');
        }
        function get_ly2($id){
            $str = "<option value=''>{{ :lang('无') }}</option>";
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ :I("get.lytt_id") }}';
            log($tfid);
            if($id=='')
            {
                $("#lytt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                    $("#lytt_id").show().empty().append(json.content);
                }else
                {
                    $("#lytt_id").empty().append( $str);
                }
            });
        }
        function get_area($id){
            $url="{{ :U('Admin/Ajax/ajaxAreaList') }}";
            $tfid='{{ :I("get.areat_id") }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#areat_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#areat_id").show().empty().append(json.content);
            });

        }

        $("[data-datachenge='1']").change(function () {
            $url=$(this).attr('data-url');
            $ks=$(this).attr('data-type');
            $next_id=$(this).attr('data-next');
            $id=$(this).val();
            $closeid=$(this).attr('data-close');
            $str="<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $($closeid).empty().append($str);

                return false;


            }
            $.ajax({
                'url': $url,
                type: 'get',
                data: {
                    'id': $id,
                },
                cache: false,

                dataType: 'json',
                success: function (data) {

                    if(data.content!='')
                    {

                        $str='<option value="">{{ :lang("请选择") }}</option>';
                        $str+=data.content;

                        $("#"+$next_id).empty().append($str);

                    }else
                    {
                        $str="<option value=''>{{ :lang('无') }}</option>";
                        $("#"+$next_id).empty();
                        $($closeid).empty().append($str);

                        console.log('没有拉'+$closeid);

                    }

                }
            });
        }).trigger("click");
        function lj_ajax(){

        }


    </script>

</block>