<extend name="Layout:index"/>
<block name="add_css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
</block>
<block name="add_js">
    <script src="__JS__/sweetalert.min.js"></script>

</block>
<block name="right">
    <php>$status=yuyue_status()</php>
    <div class="right-box">
        <if condition="I('get.show')">
        <else/>
        <div class="box">
            <div class="col-sm-12">
                <form action='{{ :U(MODULE_NAME ."/".CONTROLLER_NAME."/index") }}' method="get" id="contact-form">

                    <div class="col-sm-12" style="padding:0px;">
                        <div class="ibox float-e-margins" id="shoujisf1">
                            <div class="ibox-title">
                                <h5><a class="collapse-link">筛查选项</a></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-wrench" id="shoujisf2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="padding-left:0px; padding-right:0px;" id="shoujisf3">
                                <div class="roww">

                                    <div class="col-sm-3">

                                        <div class="input-group m-b">

                                            <span class="input-group-addon"><font color="">{{ :lang('所属一级科室','handle') }}</font></span>


                                            <select class="form-control" name="ks_id" id="ks_id" onchange="get_tks(this.value)">
                                                <option value="">{{ :lang('请选择科室','handle') }}</option>
                                                {{ :get_keshi('0','1',I("get.ks_id") ) }}
                                            </select>


                                            <select class="form-control" id="kst_id" name="kst_id" onchange="get_tks2(this.value)">
                                                <option value="">{{ :lang('请选择二级科室','handle') }}</option>

                                            </select>


                                            <select class="form-control" id="kstt_id" name="kstt_id">
                                                <option value="">{{ :lang('请选择具体病种','handle') }}</option>

                                            </select>


                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('病人来源','handle') }}</span>

                                            <select class="form-control" id="ly_id" name="ly_id" onchange="get_ly(this.value)">

                                                <option value="">{{ :lang('请选择','handle') }}</option>
                                                <?php
                                                    if(check_group('root'))
                                                    {
                                                        echo get_lanmu_onelist('bingren',1,'first','',I('get.ly_id'));
                                                    }else
                                                    {
                                                        echo get_lanmu_onelist('bingren',1,'first',session('brid'),I('get.ly_id'));
                                                    }
                                                ?>

                                            </select>


                                            <select class="form-control" id="lyt_id" name="lyt_id" onchange="get_ly2(this.value)">
                                                <option value="">{{ :lang('请选择','handle') }}</option>

                                            </select>


                                            <select class="form-control" id="lytt_id" name="lytt_id"
                                                    data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}">
                                                <option value="">{{ :lang('请选择','handle') }}</option>

                                            </select>


                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('区域来源','handle') }}</span>

                                            <input type="hidden" name="areaall_id" id="areaall_id">
                                            <select class="form-control" id="area_id" name="area_id" onchange="get_area(this.value)" >

                                                <option value="">{{ :lang('请选择','handle') }}</option>
                                                <?php

                                                    echo get_area_list(1,'first','',I('get.area_id'));

                                                    ?>

                                            </select>


                                            <select class="form-control" id="areat_id" name="areat_id" data-next="">
                                                <option value="">{{ :lang('请选择','handle') }}</option>

                                            </select>


                                        </div>
                                    </div>
                                </div>
                                <div class="roww">
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('初复诊','handle') }}</span>

                                            <select class="form-control" name="is_fz" id="is_fz">
                                                <option value="">{{ :lang('全部','handle') }}</option>
                                                <option value="0" {{ :set_on('is_fz',0) }}>{{ :lang('初诊','handle') }}</option>
                                                <option value="1" {{ :set_on('is_fz',1) }}>{{ :lang('复诊','handle') }}</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('意向评定','handle') }}</span>

                                                <select class="form-control" name="yx_id" id="yx_id">
                                                    <option value="">全部</option>
                                                    {{ :get_lanmu_onelist('yuyuezl',1,'','',I('get.yx_id')) }}
                                                </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('咨询方式','handle') }}</span>


                                            <select class="form-control" name="zx_id" id="zx_id">
                                                <option value="">全部</option>
                                                {{ :get_lanmu_onelist('zixun',1,'','',I('get.zx_id')) }}
                                            </select>


                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('预约状态','handle') }}</span>


                                            <select class="form-control" name="status" >
                                                <option value="">全部</option>
                                                <if condition="$status">
                                                    <foreach name="status" item="lv" key="lkey">
                                                        <option value="{{ $lkey }}" {{ :$lkey==I('get.status')?"selected='selected'":'' }}>{{ $lv }}</option>
                                                    </foreach>
                                                </if>
                                            </select>



                                        </div>
                                    </div>
                                    {{ :onkefu2() }}
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><font color="">{{ :lang('病人ID号','handle') }}</font></span>
                                            <input name="user_id" type="text" value="" value="{{ :I('get.user_id') }}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><font color="">{{ :lang('关键词','handle') }}</font></span>
                                            <input name="keyword" type="text" value="{{ :I('get.keyword') }}"
                                                   placeholder="姓名/手机/预约号" class="form-control">
                                        </div>
                                    </div>


                                </div>
                                <div class="roww">
                                    <div class="col-sm-3" style="padding:0px;">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">{{ :lang('登记时间','handle') }}</label>
                                            <div class="col-md-6">
                                                <input name="djstime" type="text" class="form-control layer-date"
                                                       value="{{ :I('get.djstime') }}" placeholder="YYYY-MM-DD" value=""
                                                       id="shijian11">
                                            </div>
                                            <div class="col-md-6">
                                                <input name="djetime" type="text" class="form-control layer-date"
                                                       value="{{ :I('get.djetime') }}" placeholder="YYYY-MM-DD" value=""
                                                       id="shijian12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding:0px;">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">{{ :lang('预约时间','handle') }}</label>
                                            <div class="col-md-6">
                                                <input name="ystime" type="text" value="{{ :I('get.ystime') }}"
                                                       class="form-control layer-date" placeholder="YYYY-MM-DD" value=""
                                                       id="shijian21">
                                            </div>
                                            <div class="col-md-6">
                                                <input name="yetime" type="text" value="{{ :I('get.yetime') }}"
                                                       class="form-control layer-date" placeholder="YYYY-MM-DD" value=""
                                                       id="shijian22">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding:0px;">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">{{ :lang('到诊时间','handle') }}</label>
                                            <div class="col-md-6">
                                                <input name="dzstime" type="text" class="form-control layer-date"
                                                       value="{{ :I('get.dzstime') }}" placeholder="YYYY-MM-DD" value=""
                                                       id="shijian31">
                                            </div>
                                            <div class="col-md-6">
                                                <input name="dzetime" type="text" class="form-control layer-date"
                                                       value="{{ :I('get.dzetime') }}" placeholder="YYYY-MM-DD" value=""
                                                       id="shijian32">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="col-sm-12 control-label">&nbsp;</label>
                                        <button class="btn btn-primary" type="submit">{{ :lang('确定筛选','handle') }}</button>
                                        <a href="{{ :U('Admin/YuYue/index') }}" class="btn btn-success" type="reset">{{ :lang('清空','handle') }}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </if>
        <div class="box">

            <div class="box-content">



                </div>


                <if condition="$menu_list">
                    <div class="ibox-title">
                        <h5><a class="collapse-link">字段选择</a>

                            <div class="keep-open btn-group open" title="列">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default btn-outline dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="true"
                                            style="padding:0px 5px; border:0px">
                                        <i class="glyphicon glyphicon-list"></i>
                                        <span class="caret"></span>
                                    </button>


                                    <ul class="dropdown-menu" role="menu" style=" padding:10px">
                                        <foreach name="menu_list" item="v" key="k">
                                            <li>
                                                <div class="checkbox-inline f-label">
                                                    <input type="checkbox" checked=""
                                                           onclick="anxia('tdd{{ :($k+1) }}')"
                                                           class="tdd{{ :($k+1) }}">
                                                    <label>{{ $v }}</label>
                                                </div>
                                            </li>
                                        </foreach>


                                    </ul>
                                </div>
                            </div>
                        </h5>

                    </div>

                </if>
                <div class="list-box">

                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table table-hover">

                        <tbody>

                        <tr>
                            <th width="40" class="hidden-xs text-center">
                                <input name="chkall" type="checkbox" id="chkall" value="0"></th>

                            <th id="tdd1" class="hidden-xs">{{ :lang('编号','filed') }}</th>
                            <th id="tdd2">{{ :lang('预约号','filed') }}</th>
                            <th id="tdd3">{{ :lang('姓名','filed') }}</th>
                            <th id="tdd4">{{ :lang('性别','filed') }}</th>
                            <th id="tdd5">{{ :lang('预约时间','filed') }}</th>
                            <th id="tdd6">{{ :lang('登记时间','filed') }}</th>
                            <th id="tdd7">{{ :lang('预约科室','filed') }}</th>
                            <th id="tdd8">{{ :lang('预约病种','filed') }}</th>
                            <th id="tdd9">{{ :lang('预约来源','filed') }}</th>
                            <th id="tdd10">{{ :lang('预约状态','filed') }}</th>
                            <th id="tdd11">{{ :lang('操作','handle') }}</th>
                        </tr>
                        <if condition="$list">

                            <volist name="list" id="v">

                                <tr class="js-tr">

                                    <td align="center" class="hidden-xs"><input type="checkbox" class="checkbox-select"
                                                                                name="checkbox[]"
                                                                                value="{{ $v.yuuid }}"></td>

                                    <td id="tdd1" class="hidden-xs">{{ $v.yid }}</td>
                                    <td id="tdd2" ><span class="js-open-more glyphicon glyphicon-plus m-r"></span>{{ $v.ynumber }}
                                    </td>
                                    <td data-log="1" id="tdd3">{{ $v.user_name }}</td>
                                    <td id="tdd4">

                                        <lable class="badge badge-info">{{ $v.sex }}</lable>
                                    </td>
                                    <td id="tdd5">
                                        <lable class="text-success">{{ :to_time($v['ydatetime'],'d-m-Y H:i:s') }}</lable>
                                    </td>

                                    <td id="tdd6">
                                        <lable class="text-info">{{ :to_time($v['yuctime'],'d-m-Y H:i:s') }}</lable>
                                    </td>
                                    <td id="tdd7">{{ $v.ks_name }}</td>

                                    <td id="tdd8">{{ $v.kstt_name }}</td>
                                    <td id="tdd9">
                                        {{ $v.ly_name }}
                                    </td>


                                    <td id="tdd11">
                                        <select name="" id="js-chenage" disabled>

                                            <if condition="$status">
                                                <foreach name="status" item="lv" key="lkey">
                                                    <option value="{{ $lkey }}" {{ :$lkey==$v['ystatus']?"selected='selected'":'' }}>{{ $lv }}</option>
                                                </foreach>
                                            </if>
                                        </select>

                                    </td>
                                    <td id="tdd11">
                                        

                                        <!-- /竞价更正 -->
                                        <if condition="$is_website">
                                               <if condition=" check_group($rule_qz.'_edit')">
                                                   <a href="{{ :U("__CONTROLLER__/edit/",array('id'=>$v['yuuid'],'tpl'=>'webedit')) }}?base={{ :base64_encode($_SERVER['QUERY_STRING']) }}"
                                                   class="btn btn-xs btn-white" >
                                                   <span class="fa fa-trash "></span>
                                                   {{ :lang('修改来源','handle') }}</a>
                                               </if>
                                            <!--//回访人员-->
                                            <elseif condition="$is_huifang eq 1"/>
                                                <if condition=" check_group('yuyue_showhf')">
                                                    <a href="javascript:void(0)"  data-url="{{ :U('Admin/HuiFang/getlist',array('uid'=>$v['user_id'])) }}" data-title="查看回访" data-w="80%" data-h="80%" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                       class="btn btn-xs btn-white"><span
                                                            class="fa fa-pencil-square "></span> {{ :lang('查看回访/任务','handle') }}</a>
                                                </if>
                                                <if condition=" check_group('huifangset_add')">
                                                    <a href="javascript:void(0))"
                                                       class="btn btn-xs btn-white"
                                                       data-url="{{ :U('Admin/HuiFang/add',array('uid'=>$v['user_id'])) }}" data-title="添加回访" data-close="1" data-w="550px" data-h="60%" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                    >
                                                        <span class="fa fa-trash "></span>
                                                        {{ :lang('添加回访','handle') }}</a>
                                                </if>
                                                <if condition=" check_group('hfrenwu_add')">
                                                    <a href="javascript:void(0))"
                                                    class="btn btn-xs btn-white"
                                                       data-url="{{ :U('Admin/RenWu/add',array('uid'=>$v['user_id'])) }}" data-title="添加任务" data-close="1" data-w="550px" data-h="60%" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                    >
                                                    <span class="fa fa-trash "></span>
                                                    {{ :lang('添加任务','handle') }}</a>
                                                </if>
                                                <if condition=" check_group('sms_send')">
                                                    <a href="javascript:void(0)" data-url="{{ :U('Admin/Sms/send',array('uid'=>$v['user_id'])) }}" data-title="发送短信" data-close="1" data-w="550px" data-h="400px" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                       class="btn btn-xs btn-white"><span
                                                            class="fa fa-pencil-square "></span> {{ :lang('短信','handle') }}</a>
                                                </if>
                                            <!--//前台-->
                                            <elseif condition="$is_qiantai eq 1"/>
                                                <if condition=" check_group('qiantaijz_add')">
                                                    <if condition="$v['ys_id']==''">
                                                        <a href="javascript:void(0)"  data-url="{{ :U(MODULE_NAME ."/".CONTROLLER_NAME."/edit/",array('id'=>$v['yuuid'],'tpl'=>'qitai','close'=>'1')) }}?base={{ :base64_encode($_SERVER['QUERY_STRING']) }}"
                                                        data-title="{{ :lang('分配医生') }}" data-w="500px" data-h="560px;" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                           class="btn btn-xs btn-white"><span
                                                                class="fa fa-pencil-square "></span> {{ :lang('分配医生','handle') }}</a>
                                                        <else/>
                                                        <a href="javascript:void(0)"  data-url="{{ :U(MODULE_NAME ."/".CONTROLLER_NAME."/edit/",array('id'=>$v['yuuid'],'tpl'=>'qitai','close'=>'1')) }}?base={{ :base64_encode($_SERVER['QUERY_STRING']) }}"
                                                        data-title="{{ :lang('分配医生') }}" data-w="500px" data-h="560px;" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                        class="btn btn-xs btn-primary"><span
                                                            class="fa fa-pencil-square "></span> {{ :lang('已分配医生','handle') }}</a>
                                                    </if>
                                                </if>
                                                <if condition=" check_group('yuyue_showhf')">
                                                    <a href="javascript:void(0)"  data-url="{{ :U('Admin/HuiFang/getlist',array('uid'=>$v['user_id'])) }}" data-title="查看回访" data-w="80%" data-h="80%" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                       class="btn btn-xs btn-white"><span
                                                            class="fa fa-pencil-square "></span> {{ :lang('查看回访/任务','handle') }}</a>
                                                </if>
                                                
                                                <if condition=" check_group('sms_send')">
                                                    <a href="javascript:void(0)" data-url="{{ :U('Admin/Sms/send',array('uid'=>$v['user_id'])) }}" data-title="发送短信" data-close="1" data-w="550px" data-h="400px" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                       class="btn btn-xs btn-white"><span
                                                            class="fa fa-pencil-square "></span> {{ :lang('短信','handle') }}</a>
                                                </if>
                                            <elseif condition="$is_yishen eq 1"/>
                                                <a href="{{ :U('Admin/YuShen/quecheck') }}"
                                                class="btn btn-xs btn-white" >
                                                <span class="fa fa-trash "></span>
                                                {{ :lang('确诊','handle') }}</a>
                                            <else/>
                                        <div class="box">
                                            
                                            <if condition=" check_group('yuyue_showhf')">
                                                <a href="javascript:void(0)"  data-url="{{ :U('Admin/HuiFang/getlist',array('uid'=>$v['user_id'])) }}" data-title="查看回访" data-w="80%" data-h="80%" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                   class="btn btn-xs btn-white"><span
                                                        class="fa fa-pencil-square "></span> {{ :lang('回访','handle') }}</a>
                                            </if>

                                            <if condition=" check_group('sms_send')">
                                                <a href="javascript:void(0)" data-url="{{ :U('Admin/Sms/send',array('uid'=>$v['user_id'])) }}" data-title="发送短信" data-close="1" data-w="550px" data-h="400px" data-layer="1" data-uuid="{{ $v.user_uuid }}"
                                                   class="btn btn-xs btn-white"><span
                                                        class="fa fa-pencil-square "></span> {{ :lang('短信','handle') }}</a>
                                            </if>
                                            <if condition=" check_group($rule_qz.'_edit')">
                                                <a href="{{ :U(MODULE_NAME ."/".CONTROLLER_NAME."/edit/",array('id'=>$v['yuuid'])) }}?base={{ :base64_encode($_SERVER['QUERY_STRING']) }}"
                                                class="btn btn-xs btn-white" >
                                                <span class="fa fa-trash "></span>
                                                {{ :lang('修改','handle') }}</a>
                                            </if>
                                            <!--<if condition=" check_group($rule_qz.'_del')">
                                                <a href="{{ :U(" __CONTROLLER__/del/",array('id'=>$v['uuid'])) }}"
                                                class="btn btn-xs btn-white" date-del="1">
                                                <span class="fa fa-trash "></span>
                                                {{ :lang('删除','handle') }}</a>
                                            </if>-->
                                        </div>
                                        
                                        </if>
                                       
                                    </td>
                                </tr>
                                <tr class="js-tr" style="display: none">
                                    <td colspan="12">
                                        <div class="box m-t" style="border-bottom: 1px solid #ccc">
                                            <label for="" class="badge badge-info">{{ :lang('咨询小结','handle') }}</label> {{ $v.zx_mark }}
                                        </div>
                                        <div class="box m-t" style="border-bottom: 1px solid #ccc">
                                            <label for="" class="badge badge-info">{{ :lang('备注','handle') }}</label> {{ $v.mark }}
                                        </div>
                                        <div class="box text-center"  >
                                            <a href="javascript:void(0)" class="btn btn-success js-show-url" data-userid="{{ $v.user_id }}" data-yid="{{ $v.yid }}" data-uuid="{{ $v.yuuid }}" data->{{ :lang('查看更多','handle') }}</a>
                                        </div>
                                    </td>
                                </tr>

                            </volist>

                            <else/>
                            <tr>
                                <td colspan="8" class="text-center">{{ :C('NOTTHING') }}</td>
                            </tr>
                        </if>
                        </tbody>


                    </table>

                </div>
                <!--<div class="row">
                    <div class="col-xs-6">
                        <div class="m-b">
                            <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed=""
                               data-model="LanMu"
                               data-handle="del" data-handle-check="1" data-handle-value=""><span
                                    class="fa fa-trash"></span> {{ :lang('删除','handle') }}</a>
                            <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                               data-model="LanMu"
                               data-handle="sort" data-handle-check="1" data-handle-value="0"><span
                                    class="fa fa-arrows-v"></span> {{ :lang('排序','handle') }}</a>
                            <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                               data-model="LanMu"
                               data-handle="checked" data-handle-check="1" data-handle-value="1"><span
                                    class="fa fa-check"></span> {{ :lang('启用','handle') }}</a>
                            <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                               data-model="LanMu"
                               data-handle="checked" data-handle-check="1" data-handle-value="0"><span
                                    class="fa fa-ban"></span> {{ :lang('停用','handle') }}</a>

                        </div>
                    </div>
                    <div class="col-xs-6">

                        <div class="pagee">{{ $page }}</div>
                    </div>
                </div>-->

            </div>
            <div class="cl"></div>
        </div>


    </div>


</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>


        $('#tianjiazh').on('click', function () {
            layer.open({
                type: 2,
                title: "{{ :lang('添加','handle') }}",
                shadeClose: true,
                shade: 0.8,
                area: ['500px', '500px'],
                content: "{{ :U(MODULE_NAME." / ".CONTROLLER_NAME." / add / ") }}",
                cancel: function (index) {
                    window.location.reload()

                }
            });
        });
        $('#tianjiazh2').on('click', function () {
            layer.open({
                type: 2,
                title: "{{ :lang('添加','handle') }}",
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '400px'],
                content: "{{ :U(MODULE_NAME." / ".CONTROLLER_NAME." / excel / ") }}",
                cancel: function (index) {
                    window.location.reload()

                }
            });
        });

        $('[id=xiugaizh]').on('click', function (zhid) {
            var title = $(zhid.target).attr("data-uuid");
            layer.open({
                type: 2,
                title: "{{ :lang('修改','handle') }}",
                shadeClose: true,
                shade: 0.8,
                area: ['500px', '500px'],
                content: "{{ :U(MODULE_NAME." / ".CONTROLLER_NAME." / edit / ") }}?uuid=" + title,
                cancel: function (index) {
                    window.location.reload()

                }
            });
        });
        $(".js-open-more").click(function () {

            $p = $(this).parents(".js-tr").next();

            if ($p.is(":hidden")) {
                $p.show();
                $(this).removeClass('glyphicon-plus').addClass('glyphicon-minus');
            } else {
                $p.hide();
                $(this).removeClass('glyphicon-minus').addClass('glyphicon-plus');
            }
        });
        <?php
            if(I('get.ks_id')!='')
            {
                echo 'get_tks('.I('get.ks_id').');';
            }
            if(I('get.kst_id')!='')
            {
                echo 'get_tks2('.I('get.kst_id').');';
            }
            if(I('get.ly_id')!='')
            {
                echo 'get_ly('.I('get.ly_id').');';
            }
            if(I('get.lyt_id')!='')
            {
                echo 'get_ly2('.I('get.lyt_id').');';
            }
            if(I('get.area_id')!='')
            {
                echo 'get_area('.I('get.area_id').');';
            }
        ?>
        function get_tks($id){
            $url="{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid='{{ :I("get.kst_id") }}';
            log($tfid);
            $str = "<option value=''>无</option>";
            if($id=='')
            {
                $("#kstt_id").empty().hide().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                   $("#kst_id").show().empty().append(json.content);
            });
            get_tks2('');
        }
        function get_tks2($id){
            $str = "<option value=''>无</option>";
            $url="{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid='{{ :I("get.kstt_id") }}';
            log($tfid);
            if($id=='')
            {
                $("#kstt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                   $("#kstt_id").show().empty().append(json.content);
                }else
                {
                    $("#kstt_id").hide().empty().append( $str);
                }
            });
        }
        function get_ly($id){
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ :I("get.lyt_id") }}';
            log($tfid);
            $str = "<option value=''>无</option>";
            if($id=='')
            {
                $("#lyt_id").empty().hide().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                   $("#lyt_id").show().empty().append(json.content);
            });
            get_ly2('');
        }
        function get_ly2($id){
            $str = "<option value=''>无</option>";
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ :I("get.lytt_id") }}';
            log($tfid);
            if($id=='')
            {
                $("#lytt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                   $("#lytt_id").show().empty().append(json.content);
                }else
                {
                    $("#lytt_id").hide().empty().append( $str);
                }
            });
        }
        function get_area($id){
            $url="{{ :U('Admin/Ajax/ajaxAreaList') }}";
            $tfid='{{ :I("get.areat_id") }}';
            log($tfid);
            $str = "<option value=''>无</option>";
            if($id=='')
            {
                $("#areat_id").empty().hide().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                   $("#areat_id").show().empty().append(json.content);
            });

        }
       
    </script>
   
    <script>
        $(function () {
            select_all();
            del_confirm();

            $("[data-datachenge='1']").change(function (e, a) {
                $url = $(this).attr('data-url');
                $type = $(this).attr('data-type');
                $next_id = $(this).attr('data-next');
                $id = $(this).val();
                $closeid = $(this).attr('data-close');
                $str = "<option value=''>无</option>";
                if ($id == '') {
                    $($closeid).empty().append($str);

                    return false;


                }
                console.log($next_id);
                if ($type == 'ks') {
                    if ($next_id == 'kst_id') {
                        a = "{{ :I('get.kst_id') }}"
                    } else {
                        a = "{{ :I('get.kstt_id') }}"
                    }


                }


                $.ajax({
                    'url': $url,
                    type: 'get',
                    data: {
                        'id': $id,
                        'tfid': a
                    },

                    cache: false,

                    dataType: 'json',
                    success: function (data) {

                        if (data.content != '') {

                            $str = '<option value="">请选择</option>';
                            $str += data.content;

                            $("#" + $next_id).empty().append($str);

                        } else {
                            $str = "<option value=''>无</option>";
                            $("#" + $next_id).empty();
                            $($closeid).empty().append($str);


                        }

                    }
                });
            }).triggerHandler('change');
            ;


            //paix
            $("#sort").change(function () {
                $v = $(this).find("option:selected").attr('data-type');

                $("#sorttype").val($v);
            })
            $(document).on("click", "[data-handle-check='1']", function () {
                $uuid = checked_box_id();
                $model = $(this).attr('data-model');
                $type = $(this).attr('data-handle');
                $value = $(this).attr('data-handle-value');
                $filed = $(this).attr('data-handle-filed');
                $sort = checked_sort_id();
                $log = "{{ $onname }}：" + checked_log_name();
                //console.log($uuid);
                //console.log($sort);
                //console.log($log);

                if ($uuid) {
                    switch ($type) {

                        default:

                            swal({
                                        title: "{{ :lang('你确定批量操作吗','handle') }}?",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "{{ :lang('确定','handle') }}",
                                        cancelButtonText: "{{ :lang('取消','handle') }}",
                                        closeOnConfirm: false,
                                        showLoaderOnConfirm: true,
                                    },
                                    function () {
                                        setTimeout(function () {
                                            $.ajax({
                                                'url': '{{ :U("Admin/Ajax/handle") }}',
                                                type: 'post',
                                                data: {
                                                    'uuid': $uuid,
                                                    'model': $model,
                                                    'value': $value,
                                                    'type': $type,
                                                    'filed': $filed,
                                                    'sort': $sort,
                                                    'log': $log,
                                                    'token': '{{ :token() }}'
                                                },
                                                cache: false,
                                                dataType: 'json',
                                                success: function (data) {
                                                    console.log(data);
                                                    if (data.error == 0) {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "{{ :lang('确定','handle') }}",
                                                            type: "success",
                                                            timer: 1000,
                                                        });
                                                        window.location.reload();
                                                    } else {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "{{ :lang('确定','handle') }}",
                                                            type: "warning",
                                                            timer: 1000,
                                                        });

                                                    }
                                                    ;
                                                }
                                            })
                                        }, 2000);
                                    }
                            );
                            break;
                    }

                } else {
                    swal("{{ :lang('没有选择','handle') }}");
                }

            });

        });
        function anxia(tddid) { //隐藏表格
            if ($("." + tddid).is(":checked")) {
                $("[id=" + tddid + "]").css('display', '');
                ;
            } else {
                $("[id=" + tddid + "]").css('display', 'none');
                ;
            }
        }
        ;
        var shijian11 = {
            elem: '#shijian11',
            format: 'YYYY-MM-DD',
            istime: false,
            istoday: true,
            choose: function (datas) {
                shijian12.min = datas; //开始日选好后，重置结束日的最小日期
                shijian12.start = datas //将结束日的初始值设定为开始日
            }
        };
        var shijian12 = {
            elem: '#shijian12',
            format: 'YYYY-MM-DD',
            istime: false,
            istoday: true,
            choose: function (datas) {
                shijian11.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        var shijian21 = {
            elem: '#shijian21',
            format: 'YYYY-MM-DD',
            istime: false,
            istoday: true,
            choose: function (datas) {
                shijian22.min = datas; //开始日选好后，重置结束日的最小日期
                shijian22.start = datas //将结束日的初始值设定为开始日
            }
        };
        var shijian22 = {
            elem: '#shijian22',
            format: 'YYYY-MM-DD',
            istime: false,
            istoday: true,
            choose: function (datas) {
                shijian21.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        var shijian31 = {
            elem: '#shijian31',
            format: 'YYYY-MM-DD',
            istime: false,
            istoday: true,
            choose: function (datas) {
                shijian32.min = datas; //开始日选好后，重置结束日的最小日期
                shijian32.start = datas //将结束日的初始值设定为开始日
            }
        };
        var shijian32 = {
            elem: '#shijian32',
            format: 'YYYY-MM-DD',
            istime: false,
            istoday: true,
            choose: function (datas) {
                shijian31.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        $(".js-show-url").click(function(){
            uid=$(this).attr('data-userid');
            yid=$(this).attr('data-yid');
            uuid=$(this).attr('data-uuid');
            layer.open({
                type: 2,
                title: "{{ :lang('查看','handle') }}",

                shade: 0.8,
                area: ['80%', '80%'],
                content: "{{ :U('Admin/YuYue/all') }}?id="+uuid+"&uid="+uid,
                cancel: function (index) {


                }
            });
        })


    </script>
    <if condition="I('get.show')">
        <else/>
        <script>
            laydate(shijian11);
            laydate(shijian12);
            laydate(shijian21);
            laydate(shijian22);
            laydate(shijian31);
            laydate(shijian32);
        </script>
    </if>
</block>