<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">

        <div class="animated fadeInUp">
            <div class="ibox-content">
            <if condition="$data['zx_content']!=''">
                {{ :htmlspecialchars_decode($data['zx_content']) }}
                <else/>
                没有对话
            </if>
            </div>

        </div>
    </div>


    </div>

</block>
<block name="add_foot">
</block>