<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">

        <div class="container">
            <div class="m-t err_msg">

            </div>
            <form action="" method="post" id="validate" enctype="multipart/form-data" class="form-horizontal">
                <div class="input-group m-b" style="margin-bottom:5px;">
                        <input type="hidden" name="user_id" value="{{ $data.User.id }}" id="user_id">
                        <input type="hidden" name="id" value="{{ $data['id'] }}">
                        <label class="input-group-addon">{{ :lang('客户姓名','handle') }}</label>
                        <input type="text" class="form-control" value="{{ $data.User.name }}" readonly id="telname">


                </div>
                <div class="input-group m-b" style="margin-bottom:5px;">
                     <label class="input-group-addon">{{ :lang('网站来源','handle') }}</label>

                        <select class="form-control" name="web_id" id="">
                            <option>{{ :lang('请先选择网站','handle') }}</option>
                            <php>echo get_lanmu_onelist('website',1,'first','',$data['web_id']);</php>
                        </select>

                </div>
                
                <div class="input-group m-b" style="margin-bottom:5px;">
                    <label class="input-group-addon">{{ :lang('病人来源','handle') }}</label>
                    <div class="col-sm-4">
                        <input type="hidden" name="lyall_id" id="lyall_id" value="{{ $data.lyall_id }}">
                        <select class="form-control"  required="required" id="ly_id"   name="ly_id" data-datachenge='1' data-close="#lyt_id,#lytt_id"  data-type="ly"  data-next="lyt_id"  data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}" >

                        <option value="">{{ :lang('请选择','handle') }}</option>
                            <?php
                                    if(check_group('root'))
                                    {
                                        echo get_lanmu_onelist('bingren',1,'first','',$data['ly_id']);
                                    }else
                                    {
                                        echo get_lanmu_onelist('bingren',1,'first',session('brid'),$data['ly_id']);
                                    }
                                ?>

                        </select>
                    </div>
                    <div class="col-sm-4" >

                        <select class="form-control" id="lyt_id" name="lyt_id" onchange="get_ly2(this.value)">
                             <option value="">{{ :lang('请选择','handle') }}</option>

                        </select>
                    </div>
                    <div class="col-sm-4" >

                        <select class="form-control" id="lytt_id" name="lytt_id"
                                data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}">
                             <option value="">{{ :lang('请选择','handle') }}</option>

                        </select>
                    </div>

                </div>
                <div class="input-group m-b" style="margin-bottom:5px;">
                    <label class="input-group-addon">{{ :lang('访问入口','handle') }}</label>

                        <input type="text" class="form-control" name="web_url" value="{{ $data.web_url }}">

                </div>
                <div class="input-group m-b" style="margin-bottom:5px;">
                    <label class="input-group-addon">{{ :lang('搜索关键词','handle') }}</label>

                        <input type="text" class="form-control" name="web_key" value="{{ $data.web_key }}">

                </div>
                <div class="input-group m-b" style="margin-bottom:5px;">
                    <label class="input-group-addon">{{ :lang('咨询页面','handle') }}</label>

                        <input type="text" class="form-control" name="web_onname" value="{{ $data.web_onname }}">

                </div>
                <div class="input-group m-b" style="margin-bottom:5px;">
                    <label class="input-group-addon">{{ :lang('详细聊天','handle') }}</label>


                        <textarea class=""  name="zx_content" id="content"> {{ :htmlspecialchars_decode($data['zx_content']) }}</textarea>

                </div>
                <div class="form-group" align="center" style="margin-bottom:5px;">
                    <button class="btn btn-primary" type="submit" name="submit_addhuifang">{{ :lang('提交','handle') }}</button>
                </div>


            </form>
        </div>



</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    {{ :load_ueditor() }}
    <script>
        
        get_ly("{{ $data.ly_id }}");
        get_ly2("{{ $data.lyt_id }}");


        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            },
            success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success");
            },
            errorElement: "span",
            errorPlacement: function (e, r) {
                //e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
                e.insertBefore(r.parents(".err_msg"));
            },
            errorClass: "error",
            validClass: "no-error"

        });
        
        function get_ly($id){
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ $data.lyt_id }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#lyt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#lyt_id").show().empty().append(json.content);
            });
            get_ly2("{{ $data['lyt_id'] }}");
        }
        function get_ly2($id){
            $str = "<option value=''>{{ :lang('无') }}</option>";
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ :I("get.lytt_id") }}';
            log($tfid);
            if($id=='')
            {
                $("#lytt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                    $("#lytt_id").show().empty().append(json.content);
                }else
                {
                    $("#lytt_id").empty().append( $str);
                }
            });
        }
        $().ready(function () {
            bd_ueditor('content');
            $("#validate").validate(
                {


                    submitHandler:function(form) {
                        //设置表单参数
                        //最终来源
                        $lyaid=$("#lyall_id");
                        $ly1=$("#ly_id").val();
                        $ly2=$("#lyt_id").val();
                        $ly3=$("#lytt_id").val();

                        if($ly3!='')
                        {
                            $lyaid.val($ly3);
                        }else
                        {
                            if($ly2!='')
                            {
                                $lyaid.val($ly2);
                            }else
                            {
                                if($ly1!='')
                                {
                                    $lyaid.val($ly1);
                                }
                            }
                        }
                        //
                       
                        form.submit();;
                    }
                }
            );
           
            

        });

      

    </script>
</block>