<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
    <script src="__JS__/layer/layer.js"></script>

</block>
<block name="right">
    <div class="right-box">


        <div class="box">
            <div class="box-title">
                 {{ $lmmsg['name'] }}更新
                <h3 class="pull-right ">
                     <if condition="$lmmsg['list']">
                    <a href="{{ :U("__CONTROLLER__/index",array('lmid'=>$data['lmid'])) }}" class="btn btn-xs
                    btn-success"><span class="fa fa-mail-reply"></span>
                    {{ :lang('返回','handle') }}</a>
                    <else/>
                    <a href="{{ :U("__CONTROLLER__/index") }}" class="btn btn-xs
                    btn-success"><span class="fa fa-mail-reply"></span>
                    {{ :lang('返回','handle') }}</a>
                    </if>
                </h3>
            </div>
            <div class="box-content">
                <div class="form-warp">
                    <div class="tab">
                        <ul>
                            <li class="active">基本信息</li>
                            <if condition="C('MORE_LANG')">

                                <li>英文基本信息</li>
                            </if>



                        </ul>
                    </div>
                    <form action="{{ :U('Admin/News/edit') }}" method="post" id="validate">
                        <input type="hidden" name="id" value="{{ $data.id }}">
                        <input type="hidden" name="lmid" value="{{ $data.lmid }}">
                        <div class="tab-box">
                            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">
                                <tbody>
                                <tr>
                                    <th width="131">名称</th>
                                    <th>内容</th>
                                </tr>

                                <tr>
                                    <td align="right">标题</td>
                                    <td>
                                        <input type="text" name="title" value="{{ $data.title }}" size="80"
                                               class="input">
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right">使用手册</td>
                                    <td class="insert_file">
                                        <input type="text" name="picurl" value="{{ $data.picurl }}" size="80"
                                               class="input insert_input">
                                        <button type="button" class="btn btn-xs btn-success"
                                                onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'file')) }}','.insert_file')">
                                        <span class="fa fa-image"></span> 上传文件</button>
                                        <div class="insert_img">
                                           

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">宣传资料</td>
                                    <td class="insert_file2">
                                        <input type="text" name="npicurl" value="{{ $data.npicurl }}" size="80"
                                               class="input insert_input">
                                        <button type="button" class="btn btn-xs btn-success"
                                                onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'file')) }}','.insert_file2')">
                                        <span class="fa fa-image"></span> 上传文件</button>
                                        <div class="insert_img">
                                           

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">软件下载</td>
                                    <td class="insert_file3">
                                        <input type="text" name="downfile" value="{{ $data['downfile'] }}" size="80" class="input insert_input">
                                        <button type="button" class="btn btn-xs btn-success"
                                                onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'file')) }}','.insert_file3')">
                                        <span class="fa fa-image"></span> 上传文件</button>
                                        <div class="insert_img">
                                           

                                        </div>
                                    </td>
                                </tr>
                                

                                </tbody>


                            </table>
                        </div>
                        <if condition="C('MORE_LANG')">
                            <div class="tab-box none">
                                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">
                                    <tbody>
                                    <tr>
                                        <th width="131">名称</th>
                                        <th>内容</th>
                                    </tr>

                                    <tr>
                                        <td align="right">英文标题</td>
                                        <td>
                                            <input type="text" name="entitle" value="{{ $data.entitle }}" size="80"
                                                   class="input">
                                        </td>
                                    </tr>


                                  
                                    <tr>
                                        <td align="right">使用手册</td>
                                        <td class="insert_file5">
                                            <input type="text" name="enpicurl" value="{{ $data.enpicurl }}" size="80"
                                                   class="input insert_input">
                                            <button type="button" class="btn btn-xs btn-success"
                                                    onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'file')) }}','.insert_file5')">
                                            <span class="fa fa-image"></span> 上传文件</button>
                                            <div class="insert_img">
                                               

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">宣传资料</td>
                                        <td class="insert_file6">
                                            <input type="text" name="ennpicurl" value="{{ $data.ennpicurl }}" size="80"
                                                   class="input insert_input">
                                            <button type="button" class="btn btn-xs btn-success"
                                                    onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'file')) }}','.insert_file6')">
                                            <span class="fa fa-image"></span> 上传文件</button>
                                            <div class="insert_img">
                                                

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">软件下载</td>
                                        <td class="insert_file7">
                                            <input type="text" name="endownfile" value="{{ $data['endownfile'] }}" size="80" class="input insert_input">
                                            <button type="button" class="btn btn-xs btn-success"
                                                    onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'file')) }}','.insert_file7')">
                                            <span class="fa fa-image"></span> 上传文件</button>
                                            <div class="insert_img">
                                               

                                            </div>
                                        </td>
                                    </tr>


                                    </tbody>


                                </table>
                            </div>
                        </if>

                        <table class="table">
                            <tfooter>
                                <tr>
                                    <td width="143">&nbsp;</td>
                                    <td>
                                        <input type="submit" value="提交" class="btn goadd">
                                    </td>
                                </tr>
                            </tfooter>
                        </table>
                    </form>
                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>
</block>
<block name="add_foot_js">
    {{ :load_ueditor() }}
    <script>

        bd_ueditor('content');
        bd_ueditor('extends');
        $en = "{{ C('MORE_LANG') }}";
        if ($en) {
            bd_ueditor('encontent');
        }
        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {

            // validate the comment form when it is submitted
            var e = "<i class='fa fa-times-circle'></i> ";

            // validate signup form on keyup and submit
            $("#validate").validate({
                rules: {
                    title: "required",
                    entitle: "required"


                },
                submitHandler: function (form) {
                    return_pic_json(".insert_img_more_cn .itempic", "thumbs", 1);
                    form.submit();
                }

            });
        });

    </script>
</block>