<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
    <script src="__JS__/layer/layer.js"></script>

</block>
<block name="right">
    <div class="right-box">


        <div class="box">
            <div class="box-title">
                {{ $onname }}{{ :lang('添加','handle') }}
                <h3 class="pull-right ">
                    <a href="{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/index",array('lmid'=>I('get.lmid'))) }}" class="btn btn-xs
                    btn-success"><span class="fa fa-mail-reply"></span>
                    {{ :lang('返回','handle') }}</a>
                </h3>
            </div>
            <div class="box-content">
                <div class="form-warp">
                    <div class="tab">
                        <ul>
                            <li class="active">基本信息</li>
                            <if condition="C('MORE_LANG')">
                                <li>英文基本信息</li>
                            </if>
                            <li>SEO设置</li>


                        </ul>
                    </div>
                    <form action="{{ :U('Admin/News/add',array('lmid'=>I('get.lmid'))) }}" method="post" id="validate">
                        <input type="hidden" name="lmid" value="{{ :I('get.lmid') }}">
                        <div class="tab-box">
                            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">
                                <tbody>
                                <tr>
                                    <th width="131">名称</th>
                                    <th>内容</th>
                                </tr>

                                <tr>
                                    <td align="right">标题</td>
                                    <td>
                                        <input type="text" name="title" value="" size="80" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">毕业学校</td>
                                    <td>
                                        <input type="text" name="source" value="" size="80" class="input">
                                    </td>
                                </tr>
                                <!-- <tr>
                                     <td align="right">产品价格</td>
                                     <td>
                                         <input type="text" name="price" value="" size="80" class="input">
                                     </td>
                                 </tr>-->
                                <!-- <tr>
                                    <td align="right">作者</td>
                                    <td>
                                        <input type="text" name="author" value="" size="80" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">来源</td>
                                    <td>
                                        <input type="text" name="source" value="" size="80" class="input">
                                    </td>
                                </tr> -->
                                <tr>
                                    <td align="right">外部URL</td>
                                    <td>
                                        <input type="text" name="wburl" value="" size="80" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">推设计理念</td>
                                    <td>

                                        <textarea name="intro" id="" cols="80" rows="5" class="textarea"></textarea>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right">类型选择</td>
                                    <td>
                                        <if condition="$fenlei">
                                            <foreach name="fenlei" item="vo">
                                                <div style="padding: 5px;">
                                                    <p style="color: darkgreen;padding: 5px"><b>{{ $vo.name }}</b></p>

                                                    <?php $zxf=get_extends($vo['id']);?>
                                                    <?php
                                                        $xname='';
                                                        switch($vo['name'])
                                                        {
                                                            case '空间':
                                                            $xname='kj_id';
                                                            break;
                                                            case '风格':
                                                            $xname='fg_id';
                                                            break;
                                                            case '局部':
                                                            $xname='jg_id';
                                                            break;
                                                             case '户型':
                                                            $xname='hx_id';
                                                            break;
                                                            case '色彩':
                                                            $xname='sc_id';
                                                            break;
                                                            case '资历':
                                                            $xname='zl_id';
                                                            break;
                                                            case '职位':
                                                            $xname='zw_id';
                                                            break;
                                                        }
                                                    ?>
                                                    <if condition="$zxf">
                                                        <foreach name="zxf" item="zvo">
                                                            <label style="padding: 2px 5px;border:1px solid #ededed;margin-right: 10px; margin-bottom: 10px;" for="{{ $xname }}{{ $zvo['id'] }}">{{ $zvo.name }}
                                                                <input name="{{ $xname }}" id="{{ $xname }}{{ $zvo['id'] }}" value="{{ $zvo['name'] }}" type="radio"></label>

                                                        </foreach>
                                                    </if>
                                                </div>
                                            </foreach>
                                        </if>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">头像图片</td>
                                    <td class="insert_file">
                                        <input type="text" name="picurl" value="" size="80" class="input insert_input">
                                        <button type="button" class="btn btn-xs btn-success"
                                                onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'images')) }}','.insert_file')">
                                        <span class="fa fa-image"></span> 上传图片</button>
                                        <div class="insert_img">

                                        </div>
                                    </td>
                                </tr>

                                <!--<tr>
                                    <td align="right">案例选择</td>
                                    <td class="insert_file">
                                        <input type="hidden" name="anli" value="" size="80" class="input">
                                        <button type="button" class="btn btn-xs btn-success"
                                                onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'images')) }}','.insert_file')">
                                        <span class="fa fa-image"></span> 选择案例</button>
                                        <div class="insert_img">

                                        </div>
                                    </td>
                                </tr>-->
                                <!--<tr>
                                    <td align="right">相册图片</td>
                                    <td class="moreinsert_file">
                                        <input type="hidden" name="thumbs" value="" size="80"
                                               class="input insert_input">
                                        <button type="button" class="btn btn-xs btn-success"
                                                onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'images')) }}','.moreinsert_file','2')">
                                        <span class="fa fa-image"></span> 上传相册</button>
                                        <div class="insert_img_more insert_img_more_cn">

                                        </div>
                                    </td>
                                </tr>-->
                                <!--<tr>
                                    <td align="right">正文</td>
                                    <td>
                                        <div class="ueditor_width">
                                            <textarea name="content" id="content" cols="80" rows="10"
                                                      class="textarea no-border"></textarea>
                                        </div>

                                    </td>
                                </tr>-->


                                </tbody>


                            </table>
                        </div>
                        <if condition="C('MORE_LANG')">
                            <div class="tab-box none">
                                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">
                                    <tbody>
                                    <tr>
                                        <th width="131">名称</th>
                                        <th>内容</th>
                                    </tr>

                                    <tr>
                                        <td align="right">英文标题</td>
                                        <td>
                                            <input type="text" name="entitle" value="" size="80" class="input">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="right">英文作者</td>
                                        <td>
                                            <input type="text" name="enauthor" value="" size="80" class="input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">英文来源</td>
                                        <td>
                                            <input type="text" name="ensource" value="" size="80" class="input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">英文外部URL</td>
                                        <td>
                                            <input type="text" name="enwburl" value="" size="80" class="input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">英文简介</td>
                                        <td>

                                            <textarea name="endescription" id="" cols="80" rows="5"
                                                      class="textarea"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">缩略图片</td>
                                        <td class="eninsert_file">
                                            <input type="text" name="enpicurl" value="" size="80"
                                                   class="input insert_input">
                                            <button type="button" class="btn btn-xs btn-success" \
                                                    onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'images')) }}','.eninsert_file')">
                                            <span class="fa fa-image"></span> 上传图片</button>
                                            <div class="insert_img">

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">相册图片</td>
                                        <td class="enmoreinsert_file">
                                            <input type="hidden" name="enthumbs" value="" size="80"
                                                   class="input insert_input">
                                            <button type="button" class="btn btn-xs btn-success"
                                                    onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'images')) }}','.enmoreinsert_file','2')">
                                            <span class="fa fa-image"></span> 上传相册</button>
                                            <div class="insert_img_more insert_img_more_en">

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">英文正文</td>
                                        <td>
                                            <textarea name="encontent" id="encontent" cols="80" rows="10"
                                                      class="textarea no-border"></textarea>

                                        </td>
                                    </tr>


                                    </tbody>


                                </table>
                            </div>
                        </if>
                        <div class="tab-box none">
                            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">
                                <tbody>
                                <tr>
                                    <th width="131">名称</th>
                                    <th>内容</th>
                                </tr>
                                <tr>
                                    <td align="right">SEO标题</td>
                                    <td>
                                        <input type="text" name="seotitle" value="" size="80" class="input">
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right">SEO关键词</td>
                                    <td>
                                        <input type="text" name="keyword" value="" size="80" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">SEO描述</td>
                                    <td>

                                        <textarea name="description" id="" cols="80" rows="10"
                                                  class="textarea"></textarea>
                                    </td>
                                </tr>
                                <if condition="C('MORE_LANG')">
                                    <tr>
                                        <td align="right">英文SEO标题</td>
                                        <td>
                                            <input type="text" name="enseotitle" value="" size="80" class="input">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="right">英文SEO关键词</td>
                                        <td>
                                            <input type="text" name="enkeyword" value="" size="80" class="input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">英文SEO描述</td>
                                        <td>
                                        <textarea name="endescription" id="" cols="80" rows="10"
                                                  class="textarea"></textarea>

                                        </td>
                                    </tr>
                                </if>
                                </tbody>
                            </table>

                        </div>

                        <table class="table">
                            <tfooter>
                                <tr>
                                    <td width="143">&nbsp;</td>
                                    <td>
                                        <input type="submit" value="提交" class="btn goadd">
                                    </td>
                                </tr>
                            </tfooter>
                        </table>
                    </form>
                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>
</block>
<block name="add_foot_js">

    <script>



        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {

            // validate the comment form when it is submitted
            var e = "<i class='fa fa-times-circle'></i> ";

            // validate signup form on keyup and submit
            $("#validate").validate({
                rules: {
                    title: "required",



                },
                submitHandler: function (form) {
                    return_pic_json(".insert_img_more_cn .itempic", "thumbs", 1);
                    return_pic_json(".insert_img_more_en .itempic", "enthumbs", 1);
                    
                    form.submit();

                }

            });
        });

    </script>
</block>