<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="animated fadeInUp">
            <form action="" method="post" id="validate">

                <div class="ibox float-e-margins" style="margin-bottom:0px;">
                    <div class="ibox-content">
                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('名字','filed') }}</span>

                            <select name="xf_id" class="form-control" required>
                                <option value="">{{ :lang('请选择','filed') }}</option>
                                {{ $rule }}
                            </select>
                        </div>

                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('点击量','filed') }}</span>
                            <input class="form-control" required min="0" name="clicks" value="" type="text"/>
                        </div>
                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('展现量','filed') }}</span>
                            <input class="form-control" required min="0" name="shows" value="" type="text"/>
                        </div>
                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('消费额','filed') }}</span>
                            <input class="form-control" required min="0" name="prices" data-price="vn" value="" type="text"/>
                        </div>
                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('消费日期','filed') }}</span>
                            <input id="shengri" class="form-control"  required  name="cdate" value="{{ :get_days(-1) }}" type="text"/>
                        </div>
                       



                        <div class="form-group" align="center" style="margin-bottom:5px;">
                            <button class="btn btn-primary" type="submit" name="submit_addhuifang">{{ :lang('提交','handle') }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script src="__JS__/accounting.min.js"></script>
    <script>
        var shengri = {
            elem: '#shengri',
            format: 'YYYY-MM-DD',
            max: laydate.now(-1),
            istime: false,
            oclear: false,
            choose: function (dates) { //选择好日期的回调

                $("#shengri").val();

            }
        };
        laydate(shengri);
        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                 e.insertBefore(r.parents(".ibox-content"));
                //e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {
            $("#validate").validate();
        });
        var options = {
            symbol : "vn",
            decimal : ".",
            thousand: ",",
            precision : 2,
            format: "%s%v"
        };

        $('[data-price="vn"]').on(" keydown",function(){
            $v=$(this).val();
            $fv=accounting.formatMoney($v, options);
            console.log($fv);
            $(this).val($fv);
        })
    </script>
</block>