<extend name="Layout:index" />
<block name="add_js">
    <script src="__JS__/LodopFuncs.js"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/print.css">
</block>
<block name="body_name">

    <body style="background: #fff">
</block>
<block name="right">
    <div class=" m-t m-r m-l m-b">
        <div class="pr1" id="div1">
            <div style="font-size: 16pt; margin-bottom: 5px;" align="center">
                {{ :lang('手术通知单') }}
            </div>
            
        </div>
        <div id="div2">
        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-collapse:collapse" bordercolor="#333333" class="table  ft12">
           <tr>
             <td width="72">{{ :lang('姓名') }}</td>
             <td width="72">{{ $data.user_name }}</td>
             <td width="72">{{ :lang('性别') }}</td>
             <td width="72">{{ :lang($data['sex']) }}</td>
            <td width="72">{{ :lang('年龄') }}</td>
             <td width="72">{{ $data.age }}</td>
           </tr>
           <tr>
             <td>{{ :lang('手术名称') }}</td>
             <td colspan="5">{{ $data.shousu_name }}</td>
             
           </tr>
           <tr>
             <td colspan="2">{{ :lang('预约手术时间') }}</td>
             <td>
                 {{ :to_time($data['shous_ytime']) }}
             </td>
             <td>{{ :lang('手术医生') }}</td>
             <td colspan="3">
                 {{ $data.sy_name }}
             </td>
           </tr>
           <tr>
             <td>{{ :lang('备注') }}</td>
             <td colspan="5">
                 {{ $data.marik }}
             </td>
           </tr>
           <tr>
             <td>{{ :lang('接诊医生') }}</td>
             <td>
                 {{ $data.ysz_name }}
             </td>
             <td align="right">{{ :lang('日期') }}</td>
             <td colspan="3">{{ :to_time($data['sf_time']) }} </td>
           </tr>
            
        </table>
        </div>
        
        <div class="text-center" style="margin-top: 20px; margin-bottom:  20px;">
            <a href="javascript:void(0)" class="btn btn-primary" onclick=" prn1_print() ">{{ :lang('打印') }}</a>
        </div>
    </div>
</block>
<block name="add_foot_js">
    <script language="javascript" type="text/javascript">
    function CheckIsInstall() {
        try {
            var LODOP = getLodop();
            if (LODOP.VERSION) {
                if (LODOP.CVERSION)
                    alert("当前有C-Lodop云打印可用!\n C-Lodop版本:" + LODOP.CVERSION + "(内含Lodop" + LODOP.VERSION + ")");
                else
                    alert("本机已成功安装了Lodop控件！\n 版本号:" + LODOP.VERSION);

            };
        } catch (err) {}
    };



    function prn1_print() {
        CreateOnePage();
        LODOP.SET_PREVIEW_WINDOW(2, 1, 0, "860", 600, "{{ :lang('开始打印') }}", 0, 0); //打印前弹出选择打印机的对话框 
        LODOP.SET_PRINT_MODE("AUTO_CLOSE_PREWINDOW", 1); //打印后自动关闭预览窗口
        LODOP.PREVIEW();
        // LODOP.PRINTA(); 
        /*  if (LODOP.CVERSION) {
              CLODOP.On_Return = function(TaskID, Value) {
                  if (Value) alert("已发出实际打印命令！");
                  else alert("放弃打印！");
              };
              LODOP.PRINT();
              return;
          };
          //控件返回结果用语句本身：
          if (LODOP.PRINT())
              alert("已发出实际打印命令！");
          else
              alert("放弃打印！");*/

    };

    function CreateOnePage() {

        var LODOP = getLodop();
        LODOP.PRINT_INIT("{{ :lang('结算打印') }}");
        //LODOP. PRINT_INITA("1cm","1.8cm","21.cm","13.95cm","开始收费");
        LODOP.SET_PRINT_PAGESIZE(0, "20.8cm", "13.75cm", "LodopCustomPage");
        var strStyle = "<style> table,td,th {padding: 2px;font-size: 10pt;}</style>"
            //头
        LODOP.ADD_PRINT_HTM(26, "5%", "90%", 109, document.getElementById("div1").innerHTML);
        LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
        LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
        //数据表格
        LODOP.ADD_PRINT_TABLE(80, "5%", "90%", 420, strStyle + document.getElementById("div2").innerHTML);
        LODOP.SET_PRINT_STYLEA(0, "Vorient", 3);
        
        //尾部
        /*LODOP.ADD_PRINT_HTM("1100", "5%", "90%", 54, document.getElementById("div3").innerHTML);
        LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
        LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);*/
        LODOP.NewPageA();



        /* LODOP.NewPageA();
         LODOP.ADD_PRINT_TABLE(128, "5%", "90%", 328, strStyle + document.getElementById("div2").innerHTML);
         LODOP.SET_PRINT_STYLEA(0, "Vorient", 3);
         LODOP.ADD_PRINT_HTM(26, "5%", "90%", 80, document.getElementById("div4").innerHTML);
         LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
         LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 4);
         LODOP.ADD_PRINT_TEXT(460, 96, "76.25%", 20, "真诚祝您好远，欢迎下次再来！(发货单02的表格外“页脚”，紧跟表格)");
         LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 4);
         LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
         LODOP.SET_PRINT_STYLEA(0, "FontColor", "#FF0000");
         LODOP.SET_PRINT_STYLEA(0, "Alignment", 2);
         LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
         LODOP.SET_PRINT_STYLEA(0, "Horient", 3);
         LODOP.ADD_PRINT_HTM(1, 600, 300, 100, "总页号：<font color='#0000ff' format='ChineseNum'><span tdata='pageNO'>第##页</span>/<span tdata='pageCount'>共##页</span></font>");

         LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);

         LODOP.SET_PRINT_STYLEA(0, "Horient", 1);
         LODOP.ADD_PRINT_TEXT(3, 34, 196, 20, "总页眉：《两个发货单的演示》");
         LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);*/
        /*LODOP.ADD_PRINT_HTM(1,600,300,100,"TotalPage：<font color='#0000ff' style='font-size:8px' ><span tdata='pageNO'>##</span>/<span tdata='pageCount' style='font-size:8px'>##</span></font>");

                LODOP.SET_PRINT_STYLEA(0,"ItemType",1);

                LODOP.SET_PRINT_STYLEA(0,"Horient",1);  */
        //LODOP.PRINT_DESIGN();


    };
    </script>
</block>
