<extend name="Layout:index"/>
<block name="add_css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
    <link rel="stylesheet" href="__CSS__/jquery.treetable.css">
    <link rel="stylesheet" href="__CSS__/jquery.treetable.theme.default.css">
</block>
<block name="add_js">
    <script src="__JS__/sweetalert.min.js"></script>
    <script src="__JS__/jqtreetable/jquery.treetable.js"></script>


</block>
<block name="right">
    <div class="right-box">


        <div class="box">
            <div class="box-title">
                {{ :lang($onname,'menu') }}
                <h3 class="pull-right">
                    <if condition=" check_group('rule_add')">
                    <a href="__CONTROLLER__/add" class="btn btn-xs btn-success"> <span class="fa fa-pencil-square-o"></span> {{ :lang('添加','handle') }} </a>
                    <a href="__CONTROLLER__/add2" class="btn btn-xs btn-success"> <span class="fa fa-pencil-square-o"></span> {{ :lang('批量添加','handle') }} </a>
                        </if>
                </h3>
            </div>
            <div class="box-content">

                <div class="list-box">

                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table" id="jqtable">

                            <tbody>

                            <tr>
                                <th width="40" class="text-center"><input name="chkall" type="checkbox" id="chkall" value="0"></th>
                                <th width="80" class="hidden-xs">{{ :lang('排序','filed') }}</th>
                                <th  >{{ :lang('编号','filed') }}</th>
                                <th >{{ :lang('名称','filed') }}</th>
                                <th>{{ :lang('英文名','filed') }}</th>
                                <th>{{ :lang('操作','handle') }}</th>
                            </tr>
                            <if condition="$list">
                                <volist name="list" id="v">
                                    <if condition="$v['depth'] eq 0 ">
                                        <tr data-tt-id="t{{ $v['id'] }}" >
                                        <else />
                                        <tr data-tt-id="t{{ $v['id'] }}" data-tt-parent-id="t{{ $v['fid'] }}">
                                    </if>
                                        <td align="center"><input type="checkbox" class="checkbox-select" name="checkbox[]"
                                                                  value="{{ $v.uuid }}"></td>
                                        <td align="center">{{ $v.id }}</td>
                                        <td class="hidden-xs">
                                            <input data-sort="1" type="text" size="5" value="{{ $v.sort }}" name="sort" class="input">
                                        </td>
                                        <td>{{ $v.name }}</td>
                                        <td>{{ $v.ename }}</td>
                                        <td >

                                            <div class="box">
                                                <if condition=" check_group('rule_edit')">
                                                <a href="{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/edit/",array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white"><span
                                                        class="fa fa-pencil-square "></span> {{ :lang('编辑','handle') }}</a>
                                                    </if>
                                                <!-- <if condition=" check_group('rule_edit')">
                                                
                                                <a href="{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/del/",array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
                                                <span class="fa fa-trash "></span>
                                                {{ :lang('删除','handle') }}</a>
                                                </if> -->
                                            </div>
                                        </td>
                                    </tr>
                                </volist>

                                <else/>
                                <tr>
                                    <td colspan="6" class="text-center">{{ :C('NOTTHING') }}</td>
                                </tr>
                            </if>
                            </tbody>



                    </table>
    
                </div>
                <div class="box">
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="sort" data-handle-check="1" data-handle-value="0"><span
                            class="fa fa-arrows-v"></span> 排序</a>
                </div>
                <div class="box text-center">

                    <div class="pager">{{ $page }}</div>

                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>
</block>
<block name="add_foot_js">
    <script>
   
            $(function () {
                select_all();
                del_confirm();
                 jqtable("#jqtable",'3',1);
                $(document).on("click", "[data-handle-check='1']", function () {
                    $uuid = checked_box_id();
                    $model = $(this).attr('data-model');
                    $type = $(this).attr('data-handle');
                    $value = $(this).attr('data-handle-value');
                    $filed = $(this).attr('data-handle-filed');
                    $sort = checked_sort_id();
                    $log="{{ $onname }}："+checked_log_name();
                    //console.log($uuid);
                    //console.log($sort);
                    //console.log($log);

                    if ($uuid) {
                        switch ($type) {

                            default:

                                swal({
                                            title: "{{ :lang('你确定批量操作吗','handle') }}?",
                                            type: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: "#DD6B55",
                                            confirmButtonText: "{{ :lang('确定','handle') }}",
                                            cancelButtonText: "{{ :lang('取消','handle') }}",
                                            closeOnConfirm: false,
                                            showLoaderOnConfirm: true,
                                        },
                                        function () {
                                            setTimeout(function () {
                                                $.ajax({
                                                    'url': '{{ :U("Admin/Ajax/handle") }}',
                                                    type: 'post',
                                                    data: {
                                                        'uuid': $uuid,
                                                        'model': $model,
                                                        'value': $value,
                                                        'type': $type,
                                                        'filed': $filed,
                                                        'sort':$sort,
                                                        'log':$log,
                                                        'token': '{{ :token() }}'
                                                    },
                                                    cache: false,
                                                    dataType: 'json',
                                                    success: function (data) {
                                                        console.log(data);
                                                        if (data.error == 0) {
                                                            swal({
                                                                title: data.msg,
                                                                confirmButtonText: "{{ :lang('确定','handle') }}",
                                                                type: "success",
                                                                timer: 1000,
                                                            });
                                                            window.location.reload();
                                                        } else {
                                                            swal({
                                                                title: data.msg,
                                                                confirmButtonText:"{{ :lang('确定','handle') }}",
                                                                type: "warning",
                                                                timer: 1000,
                                                            });

                                                        }
                                                        ;
                                                    }
                                                })
                                            }, 2000);
                                        }
                                );
                                break;
                        }

                    } else {
                        swal("{{ :lang('没有选择','handle') }}");
                    }

                });

            });

       
    </script>
</block>