<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
  
</block>
<block name="right">
    <div class="right-box">

        
        <div class="animated fadeInUp">
               <h3 class="text-center">{{ :lang('添加疗程管理') }}</h3>
                <div class="col-sm-12">

                    <form action="" method="post" id="validate" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" name="yy_id" value="{{ $data.yy_id }}">
                         <input type="hidden" name="print" value="0" id="print_input">
                        <input type="hidden" name="kd_id" value="{{ $data.id }}">
                        <input type="hidden" readonly name="admin_id" value="{{ :session('admin_id') }}">
                        <input type="hidden" name="shous_status" value="4">
                        <input type="hidden" name="user_id" value="{{ $data.user_id }}">
                        <input type="hidden" name="shous_type" value="lc">
                      
                        <input type="hidden" name="token" value="{{ :token() }}">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="">
                                    <div class="form-group inline wb30">
                                        <div class="input-group">
                                            <label class="input-group-addon">{{ :lang('姓名') }}</label>
                                            <input class="form-control"  value="{{ :$data['User']['name'] }}"  readonly>
                                        </div>
                                    </div>
                                    <div class="form-group inline wb30">
                                        <div class="input-group">
                                            <label class="input-group-addon">{{ :lang('性别') }}</label>
                                            <input class="form-control" value="{{ :$data['User']['sex'] }}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group inline wb30">
                                        <div class="input-group">
                                            <label class="input-group-addon">{{ :lang('年龄') }}</label>
                                            <input class="form-control" value="{{ :$data['User']['age'] }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group wb30 inline">
                                        <div class="input-group">
                                            <label class="input-group-addon">{{ :lang('手术医生') }}</label>
                                            <select class="form-control " required=""  id="shouys_id" name="shouys_id">
                                                <option value="">{{ :lang('请选择手术医生','handle') }}</option>
                                                {{ :get_shyishen() }}
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group wb30 inline">
                                        <div class="input-group">
                                            <label class="input-group-addon">{{ :lang('项目次数') }}</label>
                                            <input name="shous_times" class="form-control"  min="0" required="">
                                           
                                        </div>
                                    </div>
                                    <div class="form-group wb30 inline">
                                        <div class="input-group">
                                            <label class="input-group-addon">{{ :lang('疗程有效期') }}</label>
                                       
                                            <input class="form-control layer-date" required placeholder="YYYY-MM-DD"
                                                   value="" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss', min:laydate.now()})" name="limit_time" id="rw_time">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('项目名称') }}</label>
                                        <input class="form-control" required="" name="name"  value="{{ $data['Jiez']['jz_smcontent'] }}"  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('项目备注') }}</label>
                                        <textarea name="mark" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-primary" type="submit" name="submit_addhuifang">{{ :lang('添加') }}</button>
                                        <a href="#" class="btn btn-white" id="add_print" >{{ :lang('提交并打印') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.insertBefore(r.parents(".ibox-content"));
                //e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
         $("#validate").validate({});
      
         $("#add_print").on("click",function(){
             $("#print_input").val(1);
             $("#validate").submit();
         })

    </script>
</block>