<if condition="check_group('qiantaijz_add')">

     <if condition="$v['ys_id'] eq ''">
         <a href="javascript:void(0)" data-title="{{ :lang('分配医生') }}" data-w="80%" data-h="85%"  data-layer="1" data-uuid="{{ $v.user_uuid }}" data-url="{{ :U('Admin/QianTaiJieZhen/ysedit?uuid='.$v['yuuid']) }}" class="btn btn-xs btn-white"><span
              class="fa  fa-user-plus" data-name="{{ :lang('分配医生') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
         <else/>
         <a href="javascript:void(0)" data-layer="1" data-url="{{ :U('Admin/QianTaiJieZhen/ysedit?uuid='.$v['yuuid']) }}" data-title="{{ :lang('修改医生') }}" data-w="80%" data-h="85%" data-layer="0" data-uuid="{{ $v.user_uuid }}" class="btn btn-xs btn-info">

         
              <span class="fa  fa-user btn-font" data-name="{{ :lang('修改医生') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
     </if>

</if>

