<php>if($v['sf_status']==0){</php>
    <if condition="check_group('shouyin_check')">
        <a href="{{ :U('Admin/CaiWu/add',array('uuid'=>$v['uuid'])) }}"
           data-title="{{ :lang('收费') }}" class="btn btn-primary "><span class="fa fa-plus-circle btn-font" data-name="{{ :lang('收费') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    </if>
    <if condition="check_group('kaidan_edit')">

        <a data-w="90%" data-h="500px" href="{{ :U('Admin/YuShen/kaidan_edit',array('id'=>$v['uuid'],'backurl'=>'kaidan')) }}" class="btn btn-white"><span class="fa fa-edit btn-font" data-name="{{ :lang('修改') }}" data-btn="handle"></span><span class="js-data-name"></span></a>

    </if>
    <if condition="check_group('kaidan_edit')">
        <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
            <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
    </if>
   
<php>}elseif($v['sf_status']==7 || $v['sf_status']==8 || $v['sf_status']==9){</php>
    <if condition="check_group('shouyin_check')">
        <a href="{{ :U('Admin/CaiWu/add',array('uuid'=>$v['uuid'])) }}"
           data-title="{{ :lang('确认退费') }}" class="btn btn-primary "><span class=" fa fa-check-circle-o btn-font" data-name="{{ :lang('确认退费') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    </if>
    <a data-w="90%" data-h="500px" href="{{ :U('Admin/YuShen/kaidantui_edit',array('id'=>$v['uuid'],'backurl'=>'kaidan')) }}" class="btn btn-white"><span class="fa fa-edit btn-font" data-name="{{ :lang('修改') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    <if condition="check_group('kaidan_del')">
        
        <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
            <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
       
    </if>
<php>}elseif($v['sf_status']==11 || $v['sf_status']==12){</php>
    <if condition="check_group('shouyin_check')">
        <a href="{{ :U('Admin/CaiWu/add',array('uuid'=>$v['uuid'])) }}"
           data-title="{{ :lang('确认收费') }}" class="btn btn-primary "><span class=" fa fa-check-circle-o btn-font" data-name="{{ :lang('确认收费') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    </if>
    <a data-w="90%" data-h="500px" href="{{ :U('Admin/YuShen/kaidanbujiao_edit',array('id'=>$v['uuid'],'backurl'=>'kaidan')) }}" class="btn btn-white"><span class="fa fa-edit btn-font" data-name="{{ :lang('修改') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    <if condition="check_group('kaidan_del')">
        
        <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
            <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
       
    </if>
<php>}</php>
<!-- <if condition="check_group('kaidan_edit')">
    <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
        <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
</if> -->