<php>if($v['sf_status']==7 || $v['sf_status']==8 || $v['sf_status']==9){</php>
<if condition="check_group('shouyin_rollback')">
    <a href="{{ :U('Admin/CaiWu/add',array('uuid'=>$v['uuid'])) }}"
       data-title="{{ :lang('确认退费') }}" class="btn btn-primary "><span class=" fa fa-check-circle-o btn-font" data-name="{{ :lang('确认退费') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
</if>
<if condition="check_group('kaidan_del')">
    
    <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
        <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
   
</if>
<php>}</php>
<if condition="check_group('shouyin_jiesuan')">
<php>if($v['js_status']!=1 && in_array($v['sf_status'],array(1,2,3,4,5,6,10))){</php>
    
    	
        <a href="{{ :U('Admin/CaiWu/setJsStatus',array('uuid'=>$v['uuid'],'type'=>'true')) }}" date-js='1' class="btn btn-info "><span class="fa fa-check-circle btn-font" data-name="{{ :lang('结算') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
         <a href="{{ :U('Admin/Print/shoufei',array('id'=>$v['uuid'])) }}" target="_blank" class="btn btn-white"><span class="fa fa-print btn-font" data-name="{{ :lang('打印') }}" data-btn="handle"></span><span class="js-data-name"></a>

<php>}</php>
</if>
 <include file="Menu:nginx" />