<php>if($v['sf_status']==1){</php>
    <if condition="check_group('shouyin_jiesuan')">
    
        <a href="{{ :U('Admin/CaiWu/setJsStatus',array('id'=>$v['uuid'],'type'=>'true','logname'=>$v['user_name'].lang('已收费'))) }}" date-js='1' class="btn btn-info "><span class="fa fa-check-circle btn-font" data-name="{{ :lang('结算') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    </if>
    <if condition="check_group('shouyin_rollback')">

        <!-- <a href="{{ :U('Admin/CaiWu/tui',array('id'=>$v['uuid'],'type'=>'all','logname'=>$v['user_name'].lang('从已收费到'))) }}"
           class="btn btn-white"><span class="fa fa-share btn-font" data-name="{{ :lang('退费') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
         -->
    </if>
    
<php>}</php>