<php>if($v['sf_status']==0){</php>
    <if condition="check_group('shouyin_check')">
        <a href="{{ :U('Admin/CaiWu/add',array('id'=>$v['id'])) }}"
           data-title="{{ :lang('收费') }}" class="btn btn-primary "><span class="fa fa-plus-circle btn-font" data-name="{{ :lang('收费') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    </if>
    <if condition="check_group('kaidan_edit')">

        <a href="{{ :U('Admin/CaiWu/kaidan_edit',array('id'=>$v['uuid'])) }}"
           class="btn btn-white"><span class="fa fa-pencil-square btn-font" data-name="{{ :lang('修改') }}" data-btn="handle"></span><span class="js-data-name"></span></a>

    </if>
   
<php>}</php>
<if condition="check_group('kaidan_edit')">
    <php>if($v['sf_status']>3){</php>
    
    <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
        <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
    <php>}</php>
</if>