<php>if($v['sf_status']==2){</php>
    <if condition="check_group('shouyin_jiesuan')">
    	<a href="javascript:void(0)" data-layer='1' data-w="800px" data-close='1'
    	   data-h="550px" data-url="{{ :U('Admin/CaiWu/edit',array('uuid'=>$v['uuid'],'logname'=>$v['user_name'].lang('补交定金'))) }}"
    	   data-title="{{ :lang('补交金额') }}" class="btn btn-danger "><span class="fa fa-plus btn-font" data-name="{{ :lang('补交金额') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
        <a href="{{ :U('Admin/CaiWu/setJsStatus',array('id'=>$v['uuid'],'type'=>'true','logname'=>$v['user_name'].lang('定金'))) }}" date-js='1' class="btn btn-info "><span class="fa fa-check-circle btn-font" data-name="{{ :lang('结算') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
    </if>
    <if condition="check_group('shouyin_rollback')">

     <!--    <a href="{{ :U('Admin/CaiWu/tui',array('id'=>$v['uuid'],'type'=>'dingjing','logname'=>$v['user_name'].lang('退定金'))) }}"
        class="btn btn-white"><span class="fa fa-share btn-font" data-name="{{ :lang('退订金') }}" data-btn="handle"></span><span class="js-data-name"></span></a> -->

    </if>
    
<php>}</php>
 <if condition="check_group('kaidan_edit')">
        <php>if($v['sf_status']>3){</php>
        
        <a href="{{ :U('Admin/YuShen/kaidanDel',array('id'=>$v['uuid'])) }}" class="btn btn-xs btn-white" date-del="1">
            <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></a>
        <php>}</php>
    </if>
    <include file="Menu:nginx" />