<if condition="check_group('shouyin_jiesuan')">
<php>if($v['js_status']!=1 && in_array($v['sf_status'],array(1,2,3,4,5,6,10))){</php>
    
    	
        <a href="{{ :U('Admin/CaiWu/setJsStatus',array('uuid'=>$v['uuid'],'type'=>'true')) }}" date-js='1' class="btn btn-info "><span class="fa fa-check-circle btn-font" data-name="{{ :lang('结算') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
		<a href="{{ :U('Admin/Print/shoufei',array('id'=>$v['uuid'])) }}" target="_blank" class="btn btn-white"><span class="fa fa-print btn-font" data-name="{{ :lang('打印') }}" data-btn="handle"></span><span class="js-data-name"></a>
<php>}</php>
</if>
<include file="Menu:nginx" />