<include file="Menu:huifangrenwu_add" />
<include file="Menu:huifang_add" />
<include file="Menu:huifang_show" />
<include file="Menu:sms_send" />
<?php
if($v['ystatus']=='2' || $v['ystatus']=='3' || $v['ystatus']=='4')
{
?>
<include file="Menu:nginx" />
<?php
}
?>
<if condition=" check_group($rule_qz.'_edit')">
    <a href="{{ :U('Admin/YuYue/edit?id='.$v['yuuid']) }}"
    class="btn btn-xs btn-white" >
    <span class="fa fa-edit btn-font" data-name="{{ :lang('修改') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
</if>
<php>if($v['ystatus']==1 || $v['ystatus']=='5'){</php>
<if condition=" check_group($rule_qz.'_del')">
    <a href="{{ :U('__CONTROLLER__/del/',array('id'=>$v['yuuid'])) }}"
    class="btn btn-xs btn-white" date-del="1">
    <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></span>
   </a>
</if>
<php>}</php>
<!-- ：已预约或逾期未到可删除。 -->