
<a href="javascript:void(0)" class="btn btn-white js-open-more"><span class="fa fa-plus-square-o"></span></a>
<include file="Menu:huifangrenwu_add" />
<include file="Menu:huifang_show" />
<include file="Menu:sms_send" />
<if condition=" check_group('yuyue_add')">
    <a href="{{ :U('Admin/YuYue/zxadd?id='.$v['yuuid']) }}"
    class="btn btn-xs btn-white" >
    <span class="fa fa-coffee btn-font" data-name="{{ :lang('预约') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
</if>
<if condition=" check_group('zixun_edit')">
    <a href="{{ :U('Admin/YuYue/zxedit?id='.$v['yuuid']) }}"
    class="btn btn-xs btn-white" >
    <span class="fa fa-edit btn-font" data-name="{{ :lang('修改') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
</if>
<if condition=" check_group('zixun_del')">
    <a href="{{ :U('Admin/YuYue/zxdel',array('id'=>$v['yuuid'])) }}"
    class="btn btn-xs btn-white" date-del="1">
    <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></span>
   </a>
</if>
<!-- 查看对话，修改，预约，回访，添加回访任务，短信。 -->