<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">
      
        <div class="wrapper wrapper-content">
            <form action="" method="post" id="validate" enctype="multipart/form-data" class="form-horizontal">
               <input type="hidden" class="form-control inline wb50" value="{{ $data.name }}" required name="name" id="telname" placeholder="{{ :lang('客户姓名','handle') }}">
               <input type="hidden" name="user_id" value="{{ $data.id }}">
                <div class="col-sm-12" style="padding:0px;">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><a class="collapse-link">{{ :lang('基本信息','handle') }}</a></h5>
                                <div class="ibox-tools" style="margin-top:-8px;">
                                    <button class="btn btn-primary" type="submit" name="submit1" id="endtijiao" style="border-radius:3px 3px 0px 0px; border-bottom:0px;">{{ :lang('保存内容') }}</button>
                                    <button class="btn btn-white" type="reset" style="border-radius:3px 3px 0px 0px; border-bottom:0px;">{{ :lang('重置') }}</button>
                                    <a class="btn btn-w-m btn-success" href="{{ $burl }}" style="color: #fff"> <i class="icon icon-exchange"></i> 返回 </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                             
                                <div class="form-group">
                                    <select class="form-control inline wb50" required name="zx_id" id="userinfo0">
                                        <option value="">{{ :lang('请选择咨询方式') }}</option>
                                          {{ :get_lanmu_onelist('zixun',1,'','',$data['zx_id']) }}
                                    </select>
                                     <if condition="check_group('root')">
                                        {{ :onkefu('is_zixun',0,$data['admin_id']) }}
                                         <else/>
                                         {{ :onkefu('is_zixun',0,$data['admin_id']) }}
                                     </if>
                                </div>
                                <div class="form-group">
                                    <select class="form-control inline wb30"  required="required" id="ly_id"   name="ly_id" data-datachenge='1' data-close="#lyt_id,#lytt_id"  data-type="ly"  data-next="lyt_id"  data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}" >

                                    <option value="">{{ :lang('请选择来源','handle') }}</option>
                                        <?php
                                                if(check_group('root'))
                                                {
                                                    echo get_lanmu_onelist('bingren',1,'first','',$data['ly_id']);
                                                }else
                                                {
                                                    echo get_lanmu_onelist('bingren',1,'first',session('brid'),$data['ly_id']);
                                                }
                                            ?>

                                    </select>
                                    <select class="form-control inline wb30" id="lyt_id" name="lyt_id" onchange="get_ly2(this.value)">
                                        <option value="">{{ :lang('请选择','handle') }}</option>

                                    </select>
                                    <select class="form-control inline wb30" id="lytt_id" name="lytt_id"
                                            data-url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}">
                                         <option value="">{{ :lang('请选择','handle') }}</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="{{ :lang('咨询小结') }}" name="zx_mark">{{ :htmlspecialchars_decode($data['zx_mark']) }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">{{ :lang('详细聊天','handle') }}</label>
                                    <textarea class="" name="zx_content" id="content">{{ :htmlspecialchars_decode($data['zx_content']) }}</textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                   

                   

                </div>

             

               
                <div class="col-sm-12">
                   <p class="text-center wbox">
                       <button class="btn btn-primary" type="submit" name="submit1" id="endtijiao">{{ :lang('保存内容','handle') }}</button>
                       <button class="btn btn-white" type="reset">{{ :lang('重置','handle') }}</button>
                   </p>
                   
                </div>
            </form>
        </div>



    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    {{ :load_ueditor() }}
    <script>
        bd_ueditor('content');

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            },
            success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success");
            },
            errorElement: "span",
            errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
                //e.insertBefore(r.parents(".ibox-content"));
            },
            errorClass: "error",
            validClass: "no-error"

        });
        $().ready(function () {
            $("#validate").validate(
                {


                    submitHandler:function(form) {
                        //设置表单参数
                        //最终来源
                        $lyaid=$("#lyall_id");
                        $ly1=$("#ly_id").val();
                        $ly2=$("#lyt_id").val();
                        $ly3=$("#lytt_id").val();

                        if($ly3!='')
                        {
                            $lyaid.val($ly3);
                        }else
                        {
                            if($ly2!='')
                            {
                                $lyaid.val($ly2);
                            }else
                            {
                                if($ly1!='')
                                {
                                    $lyaid.val($ly1);
                                }
                            }
                        }
                        //
                        form.submit();;
                    }
                }
            );
           
           
        });

        
        function get_tks($id){
            $url="{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid='{{ $data["kst_id"] }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#kstt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#kst_id").show().empty().append(json.content);
            });
            get_tks2('{{ $data["kst_id"] }}');
        }
        function get_tks2($id){
            $str = "<option value=''>{{ :lang('无') }}</option>";
            $url="{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid='{{ :$data["kstt_id"] }}';
            log($tfid);
            if($id=='')
            {
                $("#kstt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                    $("#kstt_id").show().empty().append(json.content);
                }else
                {
                    $("#kstt_id").empty().append( $str);
                }
            });
        }
        function get_ly($id){
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ $data["lyt_id"] }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#lyt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#lyt_id").show().empty().append(json.content);
            });
            get_ly2('{{ $data["lyt_id"] }}');
        }
        function get_ly2($id){
            $str = "<option value=''>{{ :lang('无') }}</option>";
            $url="{{ :U('Admin/Ajax/ajaxLaiYuanList') }}";
            $tfid='{{ $data["lytt_id"] }}';
            log($tfid);
            if($id=='')
            {
                $("#lytt_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                if(json.content!='')
                {

                    $("#lytt_id").show().empty().append(json.content);
                }else
                {
                    $("#lytt_id").empty().append( $str);
                }
            });
        }
        function get_area($id){
            $url="{{ :U('Admin/Ajax/ajaxAreaList') }}";
            $tfid='{{ :$data["areat_id"] }}';
            log($tfid);
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $("#areat_id").empty().append( $str);
            }
            $.getJSON($url, {'id': $id,'tfid':$tfid}, function(json, textStatus) {
                $("#areat_id").show().empty().append(json.content);
            });

        }
        
         $("[data-datachenge='1']").change(function () {
            $url=$(this).attr('data-url');
            $ks=$(this).attr('data-type');
            $next_id=$(this).attr('data-next');
            $id=$(this).val();
            $closeid=$(this).attr('data-close');
            $str="<option value=''>{{ :lang('无') }}</option>";
            if($id=='')
            {
                $($closeid).empty().append($str);

                return false;


            }
            $.ajax({
                    'url': $url,
                    type: 'get',
                    data: {
                        'id': $id,
                    },
                    cache: false,

                    dataType: 'json',
                    success: function (data) {

                        if(data.content!='')
                        {

                            $str='<option value="">{{ :lang("请选择") }}</option>';
                            $str+=data.content;

                            $("#"+$next_id).empty().append($str);

                        }else
                        {
                            $str="<option value=''>{{ :lang('无') }}</option>";
                            $("#"+$next_id).empty();
                            $($closeid).empty().append($str);

                           

                        }

                    }
                });
        }).trigger("click");
        function lj_ajax(){

        }
        function yuyue_hao(){
            $url="{{ :U('Admin/Ajax/create_number') }}";
            $.get($url,function ($data) {
                $(".ynumber").val($data);
            })
        }

    </script>
</block>