<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="animated fadeInUp">
            <form action="" method="post" id="validate">

                <div class="ibox float-e-margins" style="margin-bottom:0px;">
                    <div class="ibox-content">
                        <input type="hidden" name="type" value="zixun">
                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('名称','filed') }}</span>
                            <input class="form-control" name="name" type="text" value="" required placeholder="{{ :lang('批量用,分割',filed) }}">
                        </div>
                        <!--<div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('编码','filed') }}</span>
                            <input class="form-control" name="areaid" type="text" value="" required placeholder="{{ :lang('批量用,分割',filed) }}">
                        </div>-->

                        <div class="input-group m-b" style="margin-bottom:5px;">
                            <span class="input-group-addon">{{ :lang('上级','filed') }}</span>
                            <select name="fid" class="form-control" required>

                                <option value="0">根级</option>
                                <if condition="$rule">


                                    <foreach name="rule" item="lv_v" key="k">
                                        <?php
						      					    $space=str_repeat("&nbsp;", $lv_v['depth'] * 4);
						      					    $fid=I('get.fid');

						      			            ?>

                                        <option  {{ :($fid==$lv_v['id']?"selected='selected'":"") }} value="{{ $lv_v['id'] }}">{{ $space }}|-{{ $lv_v['name']
                                        }}
                                        </option>
                                        ;
                                    </foreach>
                                </if>
                            </select>
                        </div>


                        <div class="form-group" align="center" style="margin-bottom:5px;">
                            <button class="btn btn-primary" type="submit" name="submit_addhuifang">{{ :lang('提交','handle') }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</block>
<block name="add_foot_js">
    <script>

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            },
            success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success");
            },
            errorElement: "span",
            errorPlacement: function (e, r) {
                //e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
                e.insertBefore(r.parents(".ibox-content"));
            },
            errorClass: "error",
            validClass: "no-error"

        });
        $().ready(function () {
            $("#validate").validate();
        });

    </script>
</block>