<extend name="Layout:index"/>
<block name="add_css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
</block>
<block name="add_js">
    <script src="__JS__/sweetalert.min.js"></script>

</block>
<block name="right">
    <div class="right-box">

        <div class="ibox">
            <div class="col-sm-12">
                <form action="" method="get" id="contact-form">
                    <div class="col-sm-12" style="padding:0px;">
                        <div class="ibox float-e-margins" id="shoujisf1">
                            <div class="ibox-title">
                                <h5><a class="collapse-link">{{ :lang('筛查选项') }}</a></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down" id="shoujisf2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="" id="shoujisf3">

                                <div class="roww">
                                    <div class="col-sm-3" style="padding:0px;">
                                       <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('日期选择') }}</span>
                                            
                                                <input name="stime" type="text" class="form-control layer-date" value="{{ :I('get.stime') }}" id="start" placeholder="YYYY-MM-DD" >
                                                
                                          
                                                <input name="etime" type="text" class="form-control layer-date " value="{{ :I('get.etime') }}" id="end" placeholder="YYYY-MM-DD" data>
                                          
                                        </div>
                                    </div>
                                   <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('咨询员','handle') }}</span>

                                            <select class="form-control" name="admin_id" id="is_fz">
                                               <option value="">{{ :lang('全部','handle') }}</option>
                                               <if condition="$zxer">
                                                   <foreach name="zxer" item="v">
                                                       <option value="{{ $v.id }}" {{ :$v['id']==I('get.admin_id')?"selected='selected'":"" }}>{{ $v.realname }}</option>
                                                   </foreach>
                                               </if>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">{{ :lang('咨询方式','handle') }}</span>

                                            <select class="form-control" name="gj_id" id="is_fz">
                                               <option value="">{{ :lang('全部','handle') }}</option>
                                               {{ $rule }}
                                            </select>

                                        </div>
                                    </div>
                                    
                                    

                                </div>
                                <div class="col-sm-3">
                                   
                                    <button class="btn btn-primary" type="submit">{{ :lang('确定筛选') }}</button>
                                     <a href="{{ :U('Admin/GongZuoLiang/index',array('is_search'=>1)) }}" class="btn btn-success" type="reset">{{ :lang('清空','handle') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>   {{ :lang($onname,'menu') }}</h5>
             
                <div class="ibox-tools">
                     <a href="javascript:void(0)" class="btn btn-xs btn-success" id="tianjiazh" style="border-radius:3px 3px 0px 0px; border-bottom:0px;">
                        </span> {{ :lang('添加','handle') }}
                        
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="list-box">

                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table table-hover">

                        <tbody>

                        <tr>
                            <th width="40" class="hidden-xs text-center">
                                <input name="chkall" type="checkbox" id="chkall"value="0"></th>
                            <th >{{ :lang('咨询时间','filed') }}</th>
                           
                            <th>{{ :lang('咨询方式','filed') }}</th>
                            <th>{{ :lang('咨询总量','filed') }}</th>
                            <th >{{ :lang('有效对话量','filed') }}</th>
                            <th >{{ :lang('A级对话量','filed') }}</th>
                            <th >{{ :lang('B级对话量','filed') }}</th>
                            <th >{{ :lang('C级对话量','filed') }}</th>
                            <th >{{ :lang('D级对话量','filed') }}</th>
                            <th>{{ :lang('添加者') }}</th>


                            <th >{{ :lang('操作','handle') }}</th>
                        </tr>
                        <if condition="$list">
                            <volist name="list" id="v">
                                <tr>

                                    <td align="center" class="hidden-xs"><input type="checkbox" class="checkbox-select" name="checkbox[]"
                                                              value="{{ $v.guuid }}"></td>
                                    <td class="hidden-xs">{{ :date('d-m-Y',($v['cdate'])) }}</td>
                                   
                                     <td >{{ $v.name }}</td>
                                    <td>{{ :$v['aduihua']+$v['bduihua']+$v['cduihua']+$v['dduihua'] }}</td>
                                    <td>{{ :$v['aduihua']+$v['bduihua']+$v['cduihua'] }}</td>
                                    <td >{{ $v.aduihua }}</td>
                                    <td >{{ $v.bduihua }}</td>
                                    <td >{{ $v.cduihua }}</td>
                                    <td >{{ $v.dduihua }}</td>
                                     <td>{{ :$v['admin_rname']==''? $v['admin_name']: $v['admin_rname'] }}</td>



                                   

                                    <td >

                                        <div class="box">
                                            <php>if(check_group('gongzuoliang_only') && (check_group('root')!=true)){
                                                if($v['admin_id']==session('admin_id')){
                                            </php>
                                                <if condition=" check_group('gongzuoliang_edit')">
                                                <a href="javascript:void(0)" id="xiugaizh" data-id="{{ $v.guuid }}"
                                                class="btn btn-xs btn-white">
                                                    <span class="fa fa-pencil-square btn-font" data-name="{{ :lang('编辑') }}" data-btn="handle"></span><span class="js-data-name"></span>
                                                    </a>
                                                </if>
                                                <if condition=" check_group('gongzuoliang_del')">
                                                <a href="{{ :U("__CONTROLLER__/del/",array('id'=>$v['guuid'])) }}"
                                                class="btn btn-xs btn-white" date-del="1">
                                                
                                                <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></span>
                                                </a>
                                                </if>
                                            <php>}}else{</php>
                                                <if condition=" check_group('gongzuoliang_edit')">
                                                <a href="javascript:void(0)" id="xiugaizh" title="{{ $v.guuid }}"
                                                class="btn btn-xs btn-white"><span class="fa fa-pencil-square btn-font" data-name="{{ :lang('编辑') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
                                                </if>
                                                <if condition=" check_group('gongzuoliang_del')">
                                                <a href="{{ :U("__CONTROLLER__/del/",array('id'=>$v['guuid'])) }}"
                                                class="btn btn-xs btn-white" date-del="1">
                                                 <span class="fa fa-trash btn-font" data-name="{{ :lang('删除') }}" data-btn="handle"></span><span class="js-data-name"></span></a>
                                                </if>
                                            <php>}</php>
                                        </div>
                                    </td>
                                </tr>
                            </volist>

                            <else/>
                            <tr>
                                <td colspan="8" class="text-center">{{ :C('NOTTHING') }}</td>
                            </tr>
                        </if>
                        </tbody>


                    </table>

                </div>
                <div class="box">
                    <!--<a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed=""
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="del" data-handle-check="1" data-handle-value=""><span class="fa fa-trash"></span> {{ :lang('删除','handle') }}</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="sort" data-handle-check="1" data-handle-value="0"><span
                            class="fa fa-arrows-v"></span> 排序</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="checked" data-handle-check="1" data-handle-value="1"><span
                            class="fa fa-check"></span> 审核通过</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="checked" data-handle-check="1" data-handle-value="0"><span
                            class="fa fa-ban"></span> 取消审核</a>-->
                </div>
                <div class="box">

                    <div class="pagee">{{ $page }}</div>

                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>






</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>


        $('#tianjiazh').on('click', function () {
            layer.open({
                type: 2,
                title: "{{ :lang('添加','handle') }}",
                shadeClose: true,
                shade: 0.8,
                area: ['90%', '90%'],
                content: '{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/add/") }}',
                cancel: function (index) {
                    //window.location.reload()

                }
            });
        });

        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD',

            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD',
           
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);

        $('[id=xiugaizh]').on('click', function (zhid) {
            var title = $(zhid.target).attr("data-id");
            layer.open({
                type: 2,
                title: "{{ :lang('修改','handle') }}",
                shadeClose: true,
                shade: 0.8,
                area: ['90%', '90%'],
                content: '{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/edit/") }}?uuid=' + title,
                cancel: function (index) {
                    //window.location.reload()

                }
            });
        });
    </script>
    <script>
        $(function () {
            select_all();
            del_confirm();
            $(document).on("click", "[data-handle-check='1']", function () {
                $uuid = checked_box_id();
                $model = $(this).attr('data-model');
                $type = $(this).attr('data-handle');
                $value = $(this).attr('data-handle-value');
                $filed = $(this).attr('data-handle-filed');
                $sort = checked_sort_id();
                console.log($uuid);
                console.log($sort);

                if ($uuid) {
                    switch ($type) {

                        default:

                            swal({
                                        title: "你确定批量{{ :lang('操作','handle') }}吗?",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "确定",
                                        cancelButtonText: '取消',
                                        closeOnConfirm: false,
                                        showLoaderOnConfirm: true,
                                    },
                                    function () {
                                        setTimeout(function () {
                                            $.ajax({
                                                'url': '{{ :U("Admin/Ajax/handle") }}',
                                                type: 'post',
                                                data: {
                                                    'uuid': $uuid,
                                                    'model': $model,
                                                    'value': $value,
                                                    'type': $type,
                                                    'filed': $filed,
                                                    'sort': $sort,
                                                    'token': '{{ :token() }}'
                                                },
                                                cache: false,
                                                dataType: 'json',
                                                success: function (data) {
                                                    console.log(data);
                                                    if (data.error == 0) {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "确定",
                                                            type: "success",
                                                            timer: 1000,
                                                        });
                                                        window.location.reload();
                                                    } else {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "确定",
                                                            type: "warning",
                                                            timer: 1000,
                                                        });

                                                    }
                                                    ;
                                                }
                                            })
                                        }, 2000);
                                    }
                            );
                            break;
                    }

                } else {
                    swal('没有选择');
                }

            });

        })
    </script>

</block>