<extend name="Layout:index"/>
<block name="add_css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
</block>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
    <script src="__JS__/sweetalert.min.js"></script>
    <script src="__JS__/layer/layer.js"></script>

</block>
<block name="right">
    <div class="right-box">


        <div class="box">
            <div class="box-title">
                {{ $onname }}

            </div>
            <div class="box-content">

                <div class="list-box">

                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">

                        <tbody>

                        <tr>
                            <th width="22" align="center"><input name="chkall" type="checkbox" id="chkall"
                                                                 value="0"></th>

                            <th width="40" align="center">编号</th>
                            <th width="200" align="center">订单编号</th>
                            <th width="150">购买信息</th>
                            <th align="center" width="150">产品名称</th>
                            <th width="80">订单信息</th>
                            <th>收货地址：</th>

                            <th>审核</th>
                            <th width="60">购买时间</th>


                            <th width="80" align="center">{{ :lang('操作','handle') }}</th>
                        </tr>
                        <if condition="$list">
                            <volist name="list" id="v">
                                <?php
                                $sendok='';
                                $sendtitle='';
                                $danhao='';
                                $sh='';
                                if($v['pay_send'])
                                {
                                    $sendok="style='background:#eefef5'";
                                    $sendtitle='<span style="color:#04a348">【已经发货】</span>';
                                    $danhao='<br/><span style="color:#04a348">'.$v['wuliu_name'].":".$v['wuliu_num']."</span>";
                                    if($v['client_pay_send']==1){
                                        $sh='<br/><span style="color:#04a348">【客户收货】('.date('Y-m-d H:i:s',$v['client_pay_send_ctime']).')</span>';

                                    }

                                }
                                ?>
                                <tr {{ $sendok }}>

                                    <td align="center"><input type="checkbox" class="checkbox-select" name="checkbox[]"
                                                              value="{{ $v.uuid }}">
                                    </td>

                                    <td align="center">{{ $v.id }}</td>
                                    <td align="center">
                                    {{ $v.order_id }}
                                    <p class="text-error">
                                         <?php 
                                          if($v['order_status']=='1')
                                          {
                                          if($v['status']==1)
                                          {
                                                if($v['client_pay_send']==1){
                                                     echo '交易成功';
                                                   }else
                                                   {
                                                    if($v['pay_send']!=1){

                                                      echo '等待发货';
                                                     }
                                                   }
                                          }else
                                          {
                                            echo '【待支付】';
                                          }
                                          }else
                                          {
                                            echo '【订单已取消】';
                                          }
                                          echo  "<br/>".$sendtitle.$danhao.$sh;

                                          if($v['pay_method']=='alipay')
                                          {
                                         
                                          echo "<br/>【支付宝账户】".$v['pay_account'];
                                          }
                                          ?>
                                    </p>

                                    
                                    </td>
                                    <td>
                                        <p>姓名：{{ $v.name }}</p>
                                        <p>手机：{{ $v.phone }}</p>
                                        <p>电话：{{ $v.tel }}</p>
                                        <p>邮箱：{{ $v.email }}</p>



                                    </td>
                                    <td >
                                       
                                       <p>{{ $v.title }}</p>
                                       
                                    </td>

                                    <td >
                                        <p>单价：{{ $v.price }}</p>
                                        <p style="color: #00b7ee">数量：{{ $v.number }}</p>
                                        <p style="color:#f00">总价：{{ $v.total }}</p>
                                        <?php
                            $youhui=json_decode(htmlspecialchars_decode($v['youhui']),true);

                            if(count($youhui)>0)
                                        {
                                        echo ' <p>本单打 <span  style="color:#f60">'.$youhui['discount'].'</span>折 </p>';
                                        }
                                        ?>
                                        </td>
                                    <td> {{ $v.address }}</td>
                                    <td align="center">{{ :checked_str($v['checked']) }}</td>
                                    <td align="center">{{ :date('Y-m-d H:i:s',$v['ctime']) }}</td>

                                    <td align="center">

                                        <div class="box">
                                            <p>
                                            <a href="{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/edit/",array('uuid'=>$v['uuid'])) }}"
                                            class="btn btn-xs btn-white"><span
                                                class="fa fa-pencil-square "></span> 编辑</a></p>
                                            <p>
                                            <a href="{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/del/",array('id'=>$v['uuid'])) }}"
                                            class="btn btn-xs btn-white" date-del="1">
                                            <span class="fa fa-trash "></span>
                                            删除</a>
                                            </p>
                                        </div>

                                        <div class="box">
                                        <if condition="$v['status']==1">
                                            <if condition="$v['pay_send']!=1">
                                            <p><a href="javascript:void(0)" class="btn btn-xs btn-primary" data-pay-send="1" data-id="{{ $v['id'] }}" data-open-url="1" data-url="{{ :U(MODULE_NAME."/".CONTROLLER_NAME."/send/") }}"><span
                                                    class="fa fa-check"></span> 发货</a></p>
                                            </if>

                                        </div>
                                        </if>
                                    </td>
                                </tr>
                            </volist>

                            <else/>
                            <tr>
                                <td colspan="10" class="text-center">{{ :C('NOTTHING') }}</td>
                            </tr>
                        </if>
                        </tbody>


                    </table>

                </div>
                <div class="box">
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed=""
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="del" data-handle-check="1" data-handle-value=""><span class="fa fa-trash"></span> 删除</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="sort" data-handle-check="1" data-handle-value="0"><span
                            class="fa fa-arrows-v"></span> 排序</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="checked" data-handle-check="1" data-handle-value="1"><span
                            class="fa fa-check"></span> 审核通过</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="checked"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="checked" data-handle-check="1" data-handle-value="0"><span
                            class="fa fa-ban"></span> 取消审核</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="order_status"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="checked" data-handle-check="1" data-handle-value="1"><span
                            class="fa fa-check"></span> 订单有效</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" data-handle-filed="order_status"
                       data-model="{{ :CONTROLLER_NAME }}"
                       data-handle="checked" data-handle-check="1" data-handle-value="0"><span
                            class="fa fa-ban"></span> 订单无效</a>


                            <a href="javascript:void(0)" class="btn btn-xs btn-warning" data-handle-filed="pay_send"
                               data-model="{{ :CONTROLLER_NAME }}"
                               data-handle="checked" data-handle-check="1" data-handle-value="0"><span
                                    class="fa fa-check"></span> 取消发货</a>




                </div>
                <div class="box text-center">

                    <div class="pager">{{ $page }}</div>

                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>
    <div class="box-send none">
        <div class="box-content">
            <div class="form-warp">


                    <div class="tab-box">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table">
                            <input type="hidden" name="wuliu_name" value="" size="40" class="input js-pay-name">
                            <tbody>
                            <tr>
                                <td align="right">物流公司</td>
                                <td>
                                    <select name="" class="input" id="kdxz">
                                        <option value="顺丰快递">顺丰快递</option>
                                        <option value="圆通快递">圆通快递</option>
                                        <option value="中通快递">中通快递</option>
                                        <option value="EMS邮政">EMS邮政</option>
                                        <option value="申通快递">申通快递</option>
                                        <option value="百世汇通">百世汇通</option>
                                        <option value="优速快递">优速快递</option>
                                        <option value="天天快递">天天快递</option>
                                        <option value="全峰快递">全峰快递</option>
                                        <option value="宅急送">宅急送</option>
                                        <option value="德邦物流">德邦物流</option>
                                        <option value="other">其他</option>
                                    </select>
                                    <input type="text"  value="" size="40" class="input js-other-name none" placeholder="输入其他快递名称">
                                </td>
                            </tr>

                            <tr>
                                <td align="right">物流单号</td>
                                <td>
                                    <input type="text" name="wuliu_num" value="" size="40" class="input js-pay-num">
                                </td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>
                                    <input type="submit" value="立即发货" class="btn js-pay-send">
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>




            </div>
        </div>
    </div>
</block>
<block name="add_foot_js">
    <script>
        $(function () {
            select_all();
            del_confirm();
            $(document).on("click", "[data-handle-check='1']", function () {
                $uuid = checked_box_id();
                $model = $(this).attr('data-model');
                $type = $(this).attr('data-handle');
                $value = $(this).attr('data-handle-value');
                $filed = $(this).attr('data-handle-filed');
                $sort = checked_sort_id();
                console.log($uuid);
                console.log($sort);

                if ($uuid) {
                    switch ($type) {

                        default:

                            swal({
                                        title: "你确定批量{{ :lang('操作','handle') }}吗?",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "确定",
                                        cancelButtonText: '取消',
                                        closeOnConfirm: false,
                                        showLoaderOnConfirm: true,
                                    },
                                    function () {
                                        setTimeout(function () {
                                            $.ajax({
                                                'url': '{{ :U("Admin/Ajax/handle") }}',
                                                type: 'post',
                                                data: {
                                                    'uuid': $uuid,
                                                    'model': $model,
                                                    'value': $value,
                                                    'type': $type,
                                                    'filed': $filed,
                                                    'sort':$sort,
                                                    'token': '{{ :token() }}'
                                                },
                                                cache: false,
                                                dataType: 'json',
                                                success: function (data) {
                                                    console.log(data);
                                                    if (data.error == 0) {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "确定",
                                                            type: "success",
                                                            timer: 1000,
                                                        });
                                                        window.location.reload();
                                                    } else {
                                                        swal({
                                                            title: data.msg,
                                                            confirmButtonText: "确定",
                                                            type: "warning",
                                                            timer: 1000,
                                                        });

                                                    }
                                                    ;
                                                }
                                            })
                                        }, 2000);
                                    }
                            );
                            break;
                    }

                } else {
                    swal('没有选择');
                }

            });
            $(document).on('click',"[data-open-url='1']",function(){
                $url=$(this).attr('data-url');
                $id=$(this).attr('data-id');
                $paysend=$(this).attr('data-pay-send');


                layer.open({
                    type: 1,
                    title: '发货',
                    shade: 0.8,
                    closeBtn:1,
                    area: ['500px', '250px'],
                    content: $(".box-send")
                });

            });
        })
        $("#kdxz").on('change',function(e){
            $value=$(this).val();
            if($value=='other')
            {
                $(".js-pay-name").val($value);
                $(".js-other-name").show();

            }else
            {
                $(".js-pay-name").val($value);
            }


        }).trigger('change');

        $(document).on("click",".js-pay-send",function(){
            $wuliu=$(".js-pay-name").val();
            if($wuliu=='other')
            {
                if($(".js-other-name").val()!='')
                {
                    $wuliu=$(".js-other-name").val();
                }
            }
            $wuliu_num=$(".js-pay-num").val();
            if($wuliu=='')
            {
                alert('物流名称不能为空');
                $(".js-pay-name").focus();
                return false;
            }
            if($wuliu_num=='')
            {
                alert('物流单号不能为空');
                $(".js-pay-num").focus();
                return false;
            }
            $.ajax({
                'url': $url,
                type: 'post',
                data: {

                    'id': $id,
                    'pay_send':$paysend || 1,
                    'wuliu_name':$wuliu,
                    'wuliu_num': $wuliu_num
                },
                cache: false,
                dataType: 'json',
                beforeSend:function(){
                    $(".js-pay-send").val('发货中...');
                    $(".js-pay-send").attr('disabled','1')
                },
                success: function (data) {
                    console.log(data);
                    if (data.error == 0) {
                     swal({
                     title: data.msg,
                     confirmButtonText: "发货成功",
                     type: "success",

                     });


                     window.location.reload();

                     } else {
                        $(".js-pay-send").val('立即发货');
                        $(".js-pay-send").attr('disabled',false);
                         swal({
                         title: data.msg,
                         confirmButtonText: "发货失败",
                         type: "error",

                         });


                     }
                    ;
                }
            });
        });
    </script>
</block>
