<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
  
</block>
<block name="right">
    <div class="right-box">


        <div class="animated fadeInUp">
                <div class="col-sm-12">

                    <form action="" method="post" id="validate" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ $data.id }}">
                        <input type="hidden" name="logname" value="{{ $data.name }}">
                         <input type="hidden" name="user_id" value="{{ $data.user_id }}">
                        <input type="hidden" name="status" value="0">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('病人名字') }}</label>
                                        <input class="form-control" value="{{ $user_name }}" name="uname" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('回访类型') }}</label>
                                   
                                        <input type="hidden" name="type_text">
                                        <select  id="hf_type" name="type_id" class="form-control" data-set-option='1' data-name="type_text">
                                            <option value="">{{ :lang('请选择') }}</option>
                                            {{ :get_huifang_onelist('hf_type','huifang',1,'','',$data['type_id']) }}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('回访主题') }}</label>
                                        
                                            <div class="input-group-btn">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ :lang('选择') }} <span class="caret"></span></button>
                                              <ul class="dropdown-menu" role="menu" data-chang-value="1">

                                                {{ :get_huifang_onelist_li() }}
                                              </ul>
                                            </div><!-- /btn-group -->
                                            <input type="text" required class="form-control" value="{{ $data.name }}" name="name" id="rw_name" >
                                          
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('回访日期') }}</label>
                                   
                                        <input class="form-control layer-date" required placeholder="YYYY-MM-DD"
                                               value="{{ :to_time($data['rtime'],'Y-m-d') }}" onclick="laydate({istime: false, format: 'YYYY-MM-DD', min:laydate.now()})" name="rtime" id="rw_time">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon">{{ :lang('回访人') }}</label>
                                   
                                       
                                        <select   name="handle_id" class="form-control"  >
                                            {{ :get_huifang_er(1,$data['handle_id']) }}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" type="submit" name="submit_addhuifang">{{ :lang('更新') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    
    
    <script>

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.insertBefore(r.parents(".ibox-content"));
                //e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
         $("#validate").validate({});
      


    </script>
</block>