<li>
    <a href="#">
        <i class="fa icon-cogs"></i>
        <span class="nav-label">权限设置</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <if condition=" check_group('admin')">
        <li><a href="{{ :U('Admin/Admin/ysadd') }}" class="J_menuItem">添加医生</a>
        </if>
        <if condition=" check_group('admin')">
        <li><a href="{{ :U('Admin/Admin/index') }}" class="J_menuItem">管理员</a>
        </if>
        <if condition=" check_group('group')">
        <li><a href="{{ :U('Admin/AdminGroup/index') }}" class="J_menuItem">管理组</a></li>
        </if>
        <if condition=" check_group('rule')">
        <li><a href="{{ :U('Admin/AdminRule/index') }}" class="J_menuItem">权限规则</a></li>
        </if>
    </ul>
</li>