<li>
    <a href="#">
        <i class="fa fa-hourglass-1"></i>
        <span class="nav-label">{{ :lang('咨询工作量','menu') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/GongZuoLiang/add') }}">{{ :lang('工作量添加','menu') }}</a>
            </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/GongZuoLiang/index') }}">{{ :lang('工作量列表','menu') }}</a>
        </li>
        </ul>
</li>