<li>
    <a href="#">
        <i class="fa fa-female"></i>
        <span class="nav-label">{{ :lang('前台') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'qiantai','status'=>'1')) }}">{{ :lang('分诊') }}</a>

        </li>
         <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'qiantai','cx'=>1,'status'=>2)) }}">{{ :lang('已分诊列表') }}</a>
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'all','cx'=>1)) }}">{{ :lang('全部预约') }}</a>
        </li>
        <!-- <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'all','show'=>'none','is_fz'=>1)) }}">复诊列表</a>
        </li> -->
    </ul>
</li>