<li>
    <a href="#">
        <i class="fa icon-bar-chart-alt"></i>
        <span class="nav-label">{{ :lang('合作机构','menu') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/JiGou/add') }}">{{ :lang('机构录入','menu') }}</a>
        
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/JiGou/index') }}">{{ :lang('机构查询','menu') }}</a>
        </li>
    </ul>
</li>