<if condition="check_group('qiantaijz')">
<li>
    <a href="#">
        <i class="fa fa-female"></i>
        <span class="nav-label">{{ :lang('前台接待') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/QianTaiJieZhen/add') }}">{{ :lang('前台登记') }}</a>

        </li>
         <li>
             <a class="J_menuItem"
                href="{{ :U('Admin/QianTaiJieZhen/index',array('dzstime'=>date('Y-m-d'),'dzetime'=>date('Y-m-d'),'so'=>'dayso','is_qtadd'=>1,'list_type'=>'hasday2','is_search'=>1,'limit_day'=>1)) }}">{{ :lang('今日前台登记','menu') }}</a>
         </li>
        <!-- <li>
            <a class="J_menuItem" href="{{ :U('Admin/QianTaiJieZhen/index',array('status'=>1,'so'=>'dayso','is_search'=>1)) }}">{{ :lang('分配医生') }}</a>
        
        </li> -->
        <!--  <li>
           <a class="J_menuItem" href="{{ :U('Admin/QianTaiJieZhen/index',array('status'=>2,'list_type'=>'has')) }}">{{ :lang('已分诊列表') }}</a>
                </li> -->
      
        <if condition="check_group('yuyue_show')">
           <li>
               <a class="J_menuItem"
                  href="{{ :U('Admin/QianTaiJieZhen/index',array('ystime'=>date('Y-m-d'),'yetime'=>date('Y-m-d'),'so'=>'dayso','list_type'=>'hasday','is_qtadd'=>0,'is_search'=>1,'limit_day'=>1)) }}">{{ :lang('今日预到','menu') }}</a>
           </li>
           <li>
               <a class="J_menuItem"
                  href="{{ :U('Admin/QianTaiJieZhen/index',array('dzstime'=>date('Y-m-d'),'dzetime'=>date('Y-m-d'),'so'=>'dayso','is_qtadd'=>0,'list_type'=>'hasday2','is_search'=>1,'limit_day'=>1)) }}">{{ :lang('今日已到','menu') }}</a>
           </li>
           <li>
               <a class="J_menuItem"
                  href="{{ :U('Admin/QianTaiJieZhen/index',array('dzstime'=>date('Y-m-d'),'dzetime'=>date('Y-m-d'),'list_type'=>'hasday2','is_search'=>1,'limit_day'=>1)) }}">{{ :lang('所有到院列表','menu') }}</a>
           </li>
        </if>
        
        <!-- <if condition="check_group('yuyue_seven_show')">
            <li>
                <a class="J_menuItem"
                   href="{{ :U('Admin/QianTaiJieZhen/index',array('ystime'=>date('Y-m-d'),'yetime'=>get_days(7),'so'=>'dayso','list_type'=>'hasday','is_search'=>1,'limit_day'=>1)) }}">{{ :lang('七日预到','menu') }}</a>
            </li>
            
        </if> -->
    </ul>
</li>
</if>

