<if condition="check_group('shouyin')">
<li>
    <a href="#">
        <i class="fa fa-eye"></i>
        <span class="nav-label">{{ :lang('收费处') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/waitPriceList') }}">{{ :lang('待收费列表') }}</a>
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/kaidanList') }}">{{ :lang('开单收费') }}</a>
        
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/waitPriceList',array('sf_status'=>1)) }}">{{ :lang('已收费列表') }}</a>
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/waitPriceList',array('sf_status'=>2)) }}">{{ :lang('订金列表') }}</a>
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/waitPriceList',array('sf_status'=>3)) }}">{{ :lang('付部分费用列表') }}</a>
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/index') }}">{{ :lang('已结算列表') }}</a>
        </li>
        <!-- <li>
            <a class="J_menuItem" href="javascript:void(0)">{{ :lang('收费员每日结账表') }}</a>
        </li> -->
       

    </ul>
</li>
</if>