<li>
    <a href="#">
        <i class="fa icon-bar-chart-alt"></i>
        <span class="nav-label">{{ :lang('收费') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/CaiWu/index') }}">收费</a>

        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/WangDian/payadd') }}">结算</a>
        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/WangDian/payadd') }}">退定金</a>
        </li>
    </ul>
</li>