<li>
    <a href="#">
        <i class="fa icon-bar-chart-alt"></i>
        <span class="nav-label">统计报表</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="/index.php/tongji/report_tongji.html">数据报表</a>
            <!--15-->
        </li>
        <li>
            <a class="J_menuItem" href="/index.php/tongji/report_bingzhong.html">病种报表</a>
            <!--16-->
        </li>
        <li>
            <a class="J_menuItem" href="/index.php/tongji/report_qudao.html">推广渠道报表</a>
            <!--53-->
        </li>
        <li>
            <a class="J_menuItem" href="/index.php/tongji/report_fangshi.html">咨询方式报表</a>
            <!--52-->
        </li>
        <li>
            <a class="J_menuItem" href="/index.php/tongji/report_zixunyuan.html">咨询员报表</a>
            <!--54-->
        </li>
        <li>
            <a class="J_menuItem" href="/index.php/tongji/report_guanjianci.html">关键词报表</a>
            <!--54-->
        </li>
    </ul>
</li>