<li>
    <a href="#">
        <i class="fa icon-bar-chart-alt"></i>
        <span class="nav-label">{{ :lang('广告','menu') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'website')) }}">{{ :lang('补充信息','menu') }}</a>

        </li>
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/XiaoFei/index') }}">{{ :lang('录入消费','menu') }}</a>
        </li>
    </ul>
</li>