<if condition="check_group('yishenjz')">
<li>
    <a href="#">
        <i class="fa fa-medkit"></i>
        <span class="nav-label">{{ :lang('接诊医生') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/YuShen/index',array('status'=>2)) }}">{{ :lang('已到院列表') }}</a>

            </li>
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/YuShen/index',array('status'=>3,'list_type'=>'only')) }}">{{ :lang('我的接诊列表') }}</a>

            </li>
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/YuShen/index',array('status'=>3,'list_type'=>'all')) }}">{{ :lang('全部接诊列表') }}</a>

            </li>
           
        
        <if condition="check_group('kaidan')">
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuShen/kaidanList') }}">{{ :lang('已开单列表') }}</a>
        </li>
        </if>

    </ul>
</li>
</if>