<li>
    <a href="#">
        <i class="fa icon-bar-chart-alt"></i>
        <span class="nav-label">{{ :lang('医生') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <if condition="check_group('yishenjz_add')">
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'yishen','status'=>'2')) }}">{{ :lang('我要接诊') }}</a>

            </li>
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'yishen','status'=>'3')) }}">{{ :lang('已接诊病人列表') }}</a>

            </li>
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/YuYue/index',array('shenfeng'=>'all')) }}">{{ :lang('全部预约') }}</a>

            </li>
        </if>
        
        <li>
            <a class="J_menuItem" href="{{ :U('Admin/YuShen/kaidanList') }}">{{ :lang('开单列表') }}</a>
        </li>

    </ul>
</li>