<if condition="check_group('yuyue')">
<li>
    <a href="#">
        <i class="fa fa-columns"></i>
        <span class="nav-label">{{ :lang('网电咨询','menu') }}</span>
        <span class="fa icon-chevron-left arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <include file="Layout:Menu:zixun_handle"/>
        <if condition="check_group('gongzuoliang_add')">
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/GongZuoLiang/add') }}">{{ :lang('添加咨询工作量','menu') }}</a>
            </li>
        </if>
        <if condition="check_group('gongzuoliang')">
            <li>
                <a class="J_menuItem" href="{{ :U('Admin/GongZuoLiang/index') }}">{{ :lang('咨询工作量列表','menu') }}</a>
            </li>
        </if>

    </ul>
</li>
</if>