<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="animated fadeInUp">
            <div class="col-sm-12 ">
                <form action="" method="post" id="validate" class="form-horizontal" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ $data.id }}">
                    <div class="ibox float-e-margins m-t">
                        <div class="ibox-content">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('病人名字') }}</label>
                                    <input type="hidden" name="close_frame" value="1">
                                    <input type="hidden" name="bktab" value="1">
                                    <input class="form-control" value="{{ $user.name }}" name="uname" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('联系电话') }}</label>
                                   
                                    <input data-show-phone="1" data-url="{{ :U('Admin/Ajax/showPhone') }}" data-vid="#showphone" id="showphone" data-type="input" data-uid="{{ $user.id }}" class="form-control" value="{{ :hide_tel($user['tel'],2,5) }}"  readonly>
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('回访主题') }}</label>
                                
                                    <div class="input-group-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ :lang('选择') }} <span class="caret"></span></button>
                                      <ul class="dropdown-menu" role="menu" data-chang-value="1">

                                        {{ :get_huifang_onelist_li() }}
                                      </ul>
                                    </div><!-- /btn-group -->
                                    <input type="text" required class="form-control" name="name" value="{{ $data.name }}" >
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('回访类型') }}</label>
                                
                                    <select  id="hf_type" name="type" class="form-control">
                                        {{ :get_huifang_onelist('hf_type','huifang',1,'','',$data['type']) }}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('回访方式') }}</label>
                                
                                    <select  id="hf_way" name="ways" class="form-control">
                                        {{ :get_huifang_onelist('hf_way','huifang',1,'','',$data['ways']) }}

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('客户流向') }}</label>
                                
                                    <select  id="hf_go" name="goplace" class="form-control">
                                        {{ :get_huifang_onelist('hf_go','huifang',1,'','',$data['goplace']) }}
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                               <div class="input-group">
                                <label class="input-group-addon">{{ :lang('回访状态') }}</label>
                                
                                    <select name="status" class="form-control">
                                        {{ :get_huifang_onelist('hf_status') }}
                                    </select>
                                </div>
                            </div> -->
                            <div class="form-group">
                               <div class="input-group">
                                <label class="input-group-addon">{{ :lang('回访结果') }}</label>
                                
                                    <select name="result_cont" class="form-control">
                                        {{ :get_huifang_onelist('hf_result','huifang',1,'','',$data['result_cont']) }}
                                    </select>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <div class="input-group">
                                    <label class="input-group-addon">{{ :lang('下次回访时间') }}</label>
                               
                                    <input class="form-control layer-date" required onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss', min:laydate.now()})" placeholder="YYYY-MM-DD hh:mm" value="" name="ntime" id="hf_time" >
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label >{{ :lang('回访记录') }}</label>
                                <div class="col-sm-12">
                                    <textarea class="summernote" name="content" id="content">{{ :echo_html($data['content']) }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">

                                    <button class="btn btn-primary" type="submit">{{ :lang('更新') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    {{ :load_ueditor() }}
    <script>

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.insertBefore(r.parents(".ibox-content"));
                //e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {
            $("#validate").validate({});
            bd_ueditor('content',100);
        });

    </script>
</block>