<extend name="Layout:index"/>
<block name="add_js">
    <style>
        table td tr
        {
            background: #fff;
        }
    </style>
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">

    <div class="right-box">
        <div class="wrapper wrapper-content">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">

                            <if condition="check_group('yuyue_showhf')">
                                <li class="active"><a data-toggle="tab" href="tabs_panels.html#tab-3" aria-expanded="false"><span class="hidden-xs">{{ :lang('回访列表') }}</span><span class="visible-xs">{{ :lang('回访') }}/span></a> </li>
                                <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-4" aria-expanded="false"><span class="hidden-xs">{{ :lang('添加回访') }}</span><span class="visible-xs">{{ :lang('添加') }}</span></a> </li>

                           </if>
                            <if condition="check_group('yuyue_hfsrenwu')">
                                <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-5" aria-expanded="false"><span class="hidden-xs">{{ :lang('回访任务') }}</span><span class="visible-xs">{{ :lang('任务') }}</span></a> </li>
                                <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-6" aria-expanded="false"><span class="hidden-xs">{{ :lang('添加任务') }}</span><span class="visible-xs">{{ :lang('任务') }}</span></a> </li>

                            </if>

                        </ul>
                    </div>
                </div>
                <div class="panel-body" style="padding:5px 0px 0px 0px;">
                    <div class="tab-content">

                        <div id="tab-3" class="tab-pane active" style="background: #fff">
                            <div class="col-sm-12">
                                <div class="ibox-content">
                                    <div class="box " style="padding-top: 10px">
                                        {{ :lang('名字') }}：<a href="#" class="">{{ $data.name }} </a>
                                    </div>

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>

                                            <th>{{ :lang('回访主题') }}</th>
                                            <th>{{ :lang('回访类型') }}</th>
                                            <th>{{ :lang('回访方式') }}</th>
                                            <th>{{ :lang('回访状态') }}</th>
                                            <th>{{ :lang('客户流向') }}</th>
                                            <th>{{ :lang('下次回访') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zhuti">
                                        </tbody>
                                        <tr>
                                            <td colspan="6">
                                                <div id="lpage" class="m-t"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="col-sm-12 ">
                                <form action="{{ :U('Admin/HuiFang/getlistadd') }}" method="post" id="huifang_form" class="form-horizontal" enctype="multipart/form-data">
                                    <div class="ibox float-e-margins m-t">
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('名称') }}</label>
                                                <div class="col-sm-12">
                                                    <input type="hidden" name="bktab" value="1">
                                                    <input type="hidden" readonly name="admin_id" value="{{ :session('admin_id') }}">
                                                    <input type="hidden" name="user_id" value="{{ $data.id }}">
                                                    <input class="form-control" value="{{ $data.name }}" name="uname" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('回访主题') }}</label>
                                                <div class="col-sm-12">
                                                    <select  id="hf_name" name="name" class="form-control">
                                                        {{ :get_huifang_onelist() }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('回访类型') }}</label>
                                                <div class="col-sm-12">
                                                    <select  id="hf_type" name="type" class="form-control">
                                                        {{ :get_huifang_onelist('hf_type') }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('回访方式') }}</label>
                                                <div class="col-sm-12">
                                                    <select  id="hf_way" name="ways" class="form-control">
                                                        {{ :get_huifang_onelist('hf_way') }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('客户流向') }}</label>
                                                <div class="col-sm-12" >
                                                    <select  id="hf_go" name="goplace" class="form-control">
                                                        {{ :get_huifang_onelist('hf_go') }}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('回访状态') }}</label>
                                                <div class="col-sm-12" >
                                                    <select name="status" class="form-control">
                                                        {{ :get_huifang_onelist('hf_status') }}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('下次回访时间') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control layer-date" required onclick="laydate({istime: true,istime:false, format: 'YYYY-MM-DD', min:laydate.now()})" placeholder="YYYY-MM-DD hh:mm" value="" name="ntime" id="hf_time" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('回访小结') }}</label>
                                                <div class="col-sm-12">
                                                    <textarea class="summernote" name="content" id="content"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">

                                                    <button class="btn btn-primary" type="submit">{{ :lang('添加') }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="col-sm-12">
                                <div class="ibox-content">
                                    <div class="box " style="padding-top: 10px">
                                        {{ :lang('名字') }}：<a href="#" class="">{{ $data.name }} </a>
                                    </div>
                                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table table-hover"> 
                                        <thead>
                                        <tr>

                                            <th>{{ :lang('任务主题') }}</th>


                                            <th>{{ :lang('任务状态') }}</th>

                                            <th>{{ :lang('回访时间') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zhuti2">
                                        </tbody>
                                        <tr>
                                            <td colspan="6">
                                                <div id="lpage2" class="m-t"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane">
                            <div class="col-sm-12">

                                <form action="{{ :U('Admin/RenWu/getlistrenwuadd') }}" method="post" id="renwu_form" class="form-horizontal" enctype="multipart/form-data">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('任务主题') }}</label>
                                                <div class="col-sm-12">
                                                    <input type="hidden" name="bktab" value="3">
                                                    <input type="hidden" readonly name="admin_id" value="{{ :session('admin_id') }}">
                                                    <input type="hidden" name="status" value="0">
                                                    <input type="hidden" name="user_id" value="{{ $data.id }}">
                                                    <input type="text" class="form-control" name="name" id="rw_name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">{{ :lang('任务时间') }}</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control layer-date" required placeholder="YYYY-MM-DD hh:mm"
                                                           value="" onclick="laydate({istime: true, format: 'YYYY-MM-DD', min:laydate.now(),istime:false})" name="rtime" id="rw_time">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary" type="submit" name="submit_addhuifang">{{ :lang('添加') }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script src="__JS__/layer/laypage/laypage.js"></script>
    {{ :load_ueditor() }}
    <if condition="check_group('yuyue_showhf')">
        <script>
            function hj_ajax(curr) {
                $.getJSON("{{ :U('Admin/Ajax/getHuifang') }}", {
                    page: curr || 1,
                    "uid": "{{ $data.id }}",
                }, function (res) {
                    $("#zhuti").empty().append(res.content);
                    //显示分页
                    laypage({
                        cont: 'lpage', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.pages, //通过后台拿到的总页数
                        curr: curr || 1, //当前页,
                        first:false,
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                hj_ajax(obj.curr);
                            }
                        }
                    });
                });
            }
            ;
        hj_ajax();
        </script>
    </if>
    <if condition="check_group('yuyue_hfsrenwu')">
        <script>
            function renwu_ajax(curr){
                $.getJSON("{{ :U('Admin/Ajax/getHuifangRenWu') }}", {
                    page: curr || 1,
                    "uid":"{{ $data.id }}",
                }, function(res){
                    console.log(res);
                    $("#zhuti2").empty().append(res.content);
                    //显示分页
                    laypage({
                        cont: 'lpage2', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.pages, //通过后台拿到的总页数
                        curr: curr || 1, //当前页
                        jump: function(obj, first){ //触发分页后的回调
                            if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                renwu_ajax(obj.curr);
                            }
                        }
                    });
                });
            };
            renwu_ajax();
        </script>
    </if>
    <script>
        bd_ueditor('content');

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            },
            success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success");
            },
            errorElement: "span",
            errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
                //e.insertBefore(r.parents(".ibox-content"));
            },
            errorClass: "error",
            validClass: "no-error"

        });
        $().ready(function () {

            $().ready(function () {
                $("#huifang_form,#renwu_form").validate();
            });



        });
        cull_tab='{{ :I("get.bktab") }}';
        if(cull_tab!='')
        {
            $(".nav-tabs li").removeClass('active').eq(cull_tab).addClass('active');
            $(".tab-pane").removeClass('active').eq(cull_tab).addClass('active');

        }





    </script>
</block>