<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="ibox">
            <div class="ibox-title">
               {{ :lang($onname,'menu') }}
               
                <div class="ibox-tools" style="margin-top:-8px;">
                       <a href="__CONTROLLER__/" class="btn btn-xs btn-success"><span class="fa fa-mail-reply"></span> {{ :lang('返回','handle') }}</a>
                                         
                 </div>
            </div>
            <div class="ibox-content">
                <div class="form-warp">

                    <form action="" method="post" id="validate">
                        <div class="tab-box">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table " style="background: #fff">
                            <tbody>
                            <tr>
                                <th width="131">{{ :lang('名称','filed') }}</th>
                                <th>{{ :lang('内容','filed') }}</th>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('名称','filed') }}</td>
                                <td>
                                    <input type="text" name="name" value="" size="80" class="input">
                                </td>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('机构评级') }}</td>
                                <td align="right">
                                    <select name="pj_id" class="form-control" >
                                        {{ :get_huifang_onelist('mete','jigou') }}
                                    </select>
                                </td>
                            </tr>
                             <tr>
                                <td align="right">{{ :lang('机构类别') }}</td>
                                <td align="right">
                                    <select name="fid" class="form-control" >
                                        {{ :get_wangixao_where(array('type'=>'bingren','is_jigou'=>1,'fid'=>array('neq',0)),'jigou',jigou_id()) }}
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td align="right">{{ :lang('合作状态') }}</td>
                                <td align="right">
                                    <select name="join_id" class="form-control" >
                                        {{ :get_huifang_onelist('join','jigou') }}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('是否启用') }}</td>
                                <td align="right">
                                    <select name="checked" class="form-control" id="">

                                       <option value="1">{{ :lang('启用') }}</option>
                                        <option value="0">{{ :lang('停用') }}</option>
                                    </select>
                                </td>
                            </tr>
                             <tr>
                                <td align="right">{{ :lang('所属区域') }}</td>
                                <td align="right">
                                    <div class="form-group">
                                   
                                    <div class="col-sm-4">
                                        <input type="hidden" name="areaall_id" id="areaall_id">
                                        <select class="form-control"  required="required" id="area_id"   name="area_id" data-datachenge='1' data-close="#areat_id"  data-type="area"  data-next="areat_id"  data-url="{{ :U('Admin/Ajax/ajaxAreaList') }}" >

                                            <option value="">{{ :lang('请选择','handle') }}</option>
                                            <?php

                                                    echo get_area_list(1,'first');

                                            ?>

                                        </select>
                                    </div>
                                    <div class="col-sm-4" >

                                        <select class="form-control" required="required"  id="areat_id"  name="areat_id" data-next=""   >
                                            <option value="">{{ :lang('请选择','handle') }}</option>

                                        </select>
                                    </div>

                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('具体地址') }}</td>
                                <td align="right">
                                   <input type="text" name="address" class=" form-control">
                                </td>
                            </tr>
                             <tr>
                                <td align="right">{{ :lang('负责人') }}</td>
                                <td align="right">
                                   <input type="text" name="funame" class=" form-control">
                                </td>
                            </tr>
                             <tr>
                                <td align="right">{{ :lang('负责人联系电话') }}</td>
                                <td align="right">
                                   <input type="text" name="futel" class=" form-control">
                                </td>
                            </tr>
                             <tr>
                                <td align="right">{{ :lang('机构市场业务联系人') }}</td>
                                <td align="right">
                                   <input type="text" name="ywname" class=" form-control">
                                </td>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('本院市场部对接人员') }}</td>
                                <td align="right">
                                    <input type="text" name="buname" value="{{ :session('name') }}" class=" form-control">
                                </td>
                            </tr>

                            <tr>
                                <td align="right">{{ :lang('机构照片') }}</td>
                                <td class="enmoreinsert_file">
                                    <input type="hidden" name="thumbs" value="" size="80"
                                           class="input insert_input">
                                    <button type="button" class="btn btn-xs btn-success"
                                            onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array('type'=>'images')) }}','.enmoreinsert_file','2')">
                                    <span class="fa fa-image"></span> {{ :lang('上传相册') }}</button>
                                    <div class="insert_img_more insert_img_more_en">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('合作介绍') }}</td>
                                <td>
                                    <textarea name="content" id="" cols="80" rows="10"
                                              class="textarea form-control"></textarea>

                                </td>
                            </tr>
                             <tr>
                                <td align="right">{{ :lang('机构备注') }}</td>
                                <td>
                                    <textarea name="mark" cols="80" rows="10"
                                              class="textarea  form-control"></textarea>

                                </td>
                            </tr>

                            <tr>
                                <td align="right">{{ :lang('签约时间') }}</td>
                                <td align="right">
                                    <input class="form-control layer-date" required onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss', min:laydate.now()})" placeholder="YYYY-MM-DD hh:mm" value="" name="quyue_time" id="hf_time" >

                                </td>
                            </tr>
                            <tr>
                                <td align="right">{{ :lang('合同编号') }}</td>
                                <td align="right">
                                   <input type="text" name="hetong" class=" form-control">
                                </td>
                            </tr>

                            <tr>
                                <td align="right">{{ :lang('快速码') }}</td>
                                <td align="right">
                                   <input type="text" name="code" class=" form-control">
                                </td>
                            </tr>
                            



                          
                            </tbody>
                            <tfooter>
                                <tr>
                                    <td></td>
                                    <td >
                                        <input type="submit" value="{{ :lang('提交','handle') }}" class="btn">
                                    </td>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                    </form>
                </div>
            </div>
            <div class="cl"></div>
        </div>



    </div>
</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>

        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function() {
            // validate the comment form when it is submitted
            var e = "<i class='fa fa-times-circle'></i> ";

            // validate signup form on keyup and submit
            $("#validate").validate({
                rules: {
                    name: "required",


                },
                messages: {
                    name:e + "必填",
                    "ruleid[]":e + "必填",

                },
                submitHandler:function(form) {
                    //设置表单参数
                    //最终区域
                    $areaaid=$("#areaall_id");
                    $area1=$("#area_id").val();
                    $area2=$("#areat_id").val();
                    if( $area2!='')
                    {
                        $areaaid.val($area2);
                    }else
                    {
                        if( $area1!='')
                        {
                            $ksaid.val( $area1);
                        }
                    }
                    return_pic_json(".enmoreinsert_file .itempic", "thumbs", 1);
                    form.submit();;
                }
            });
            $("[data-datachenge='1']").change(function () {
                $url=$(this).attr('data-url');
                $ks=$(this).attr('data-type');
                $next_id=$(this).attr('data-next');
                $id=$(this).val();
                $closeid=$(this).attr('data-close');
                $str="<option value=''>无</option>";
                if($id=='')
                {
                    $($closeid).empty().append($str);

                    return false;


                }
                $.ajax({
                        'url': $url,
                        type: 'get',
                        data: {
                            'id': $id,
                        },
                        cache: false,

                        dataType: 'json',
                        success: function (data) {

                            if(data.content!='')
                            {

                                $str='<option value="">{{ :lang("请选择") }}</option>';
                                $str+=data.content;

                                $("#"+$next_id).empty().append($str);

                            }else
                            {
                                $str="<option value=''>{{ :lang('无') }}</option>";
                                $("#"+$next_id).empty();
                                $($closeid).empty().append($str);

                               

                            }

                        }
                    });
            }).trigger("click");
        });

    </script>
</block>