<div class="well well-sm none" id="yorder_msg" style="background: rgb(255, 255, 255); display: block;">
    <input type="hidden" value="30" name="base_price_total">
    <input type="hidden" value="name=&quot;base_price_zhekou&quot;">
    <input type="hidden" value="18" name="base_oktotal">
    <input type="hidden" value="18" name="base_pay_price">
    <input type="hidden" value="45" name="base_order_id">
    <input type="hidden" value="120009-15" name="base_order_number">
    <div class="col-xs-3" style="margin-bottom: 0">
        <div class="input-group  ">
            <div class="input-group-addon">付费类型</div>
            <div class="form-control text-success" style="font-size: 16px;"></div>
        </div>
    </div>
    <div class="col-xs-3" style="margin-bottom: 0">
        <div class="input-group  ">
            <div class="input-group-addon">已收金额</div>
            <div class="form-control text-danger" style="font-size: 16px;" id="ypay_price" data-price="vnlist"> 18</div>
        </div>
    </div>
    <div class="col-xs-3" style="margin-bottom: 0">
        <div class="input-group  ">
            <div class="input-group-addon">总价</div>
            <div class="form-control text-danger" style="font-size: 16px;" data-price="vnlist"> 30</div>
        </div>
    </div>
    <div class="col-xs-3" style="margin-bottom: 0">
        <div class="input-group  ">
            <div class="input-group-addon">开单人</div>
            <div class="form-control text-success" style="font-size: 16px;">bbb</div>
        </div>
    </div>
    <div class="cl"></div>
</div>
