<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="box">
            <div class="box-title">
                {{ :lang($onname,'menu') }}
                <h3 class="pull-right ">
                    <a href="{{ :U('Admin/YuYue/index',array('is_yushen'=>'1')) }}" class="btn btn-xs btn-success"><span class="fa fa-mail-reply"></span> {{ :lang('返回','handle') }}</a>
                </h3>
            </div>
            <div class="box-content">
                <div class="form-warp">

                    <form action="{{ :U('Admin/YuShen/postKaiDan') }}" method="post" id="validate">
                        <input type="hidden" name="yuyue_id" value="{{ $data.id }}">
                        <input type="hidden" name="user_id" value="{{ $data.user_id }}">
                         <input type="hidden" name="price_show" id="price_show">
                        <input
                            type="hidden" name="">
                        <div class="tab-box">
                            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table "
                                   style="background: #fff">
                                <tbody>
                                <tr>
                                    <th width="131" class="text-center">{{ :lang('名称','filed') }}</th>
                                    <th>{{ :lang('内容','filed') }}</th>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('开单时间','filed') }}</td>
                                    <td>
                                        <input type="text" required name="kd_time" value="{{ :date('Y-m-d H:i:s') }}"
                                               size="80" class="form-control"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss', min:laydate.now()})">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('消费项目','filed') }}</td>
                                    <td>
                                        <a class="btn btn-success m-b" onclick="price_chane('{{ :U("Admin/YuShen/xiaofei") }}','.insert_price_more','#price_total')">{{ :lang('添加消费项目') }}</a>
                                        <div class="insert_price_more">
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('总价','filed') }}</td>
                                    <td>
                                        <input type="text" required name="price_total" value="0"
                                               size="80" class="form-control" readonly="" id="price_total">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('是否按疗效消费','filed') }}</td>
                                    <td>
                                        <select name="is_liaoxiao" id="" class="form-control">
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('消费状态','filed') }}</td>
                                    <td>
                                        <select name="shoufei_id" required id="" class="form-control">
                                            <option value="">{{ :lang('请选择状态') }}</option>
                                            {{ :get_lanmu_onelist('shuofei') }}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('开单人','filed') }}</td>
                                    <td>

                                        <input type="text" class="from-control" value="{{ :session('name') }}" name="kd_name">
                                    </td>
                                </tr>



                                </tbody>
                                <tfooter>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="{{ :lang('提交','handle') }}" class="btn">
                                        </td>
                                    </tr>
                                </tfooter>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>
</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
  

    <script>
      
       function js_total(){
           $ysum=0;
           $(".price_heji").each(function(){
               $ysum+=parseFloat($(this).val());
                
               
           });
            $ysum=Math.round($ysum);
           $("#price_total").val($ysum);
       }
        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {
            // validate the comment form when it is submitted
            var e = "<i class='fa fa-times-circle'></i> ";

            // validate signup form on keyup and submit
            $("#validate").validate({

                //JSON保存这些开单数据
                

                submitHandler: function (form) {
                    //设置表单参数
                    //最终区域

                    return_price_json(".price_item", "price_show", 1);
                    $show_str=$(".price_item").length;

                    if($show_str<=0)
                    {
                        layer.msg('{{ :lang("请选择消费项目") }}');
                        return false;
                    }
                    $(form).ajaxSubmit();
                }
            });

            //价格改变
            $(document).on('change','.price_jg',function(){
                
                $pt=$(this).parents(".panel-body");
                 
               
                 $p=$(this).val();
                 $t=$pt.find(".price_heji");
                 $num=$pt.find(".price_num").val();
                 $t.val($num*$p);
                 js_total();

            })
             //价格改变
            $(document).on('change','.price_num',function(){
                
                $pt=$(this).parents(".panel-body");
                 
               
                 $p=$(this).val();
                 $t=$pt.find(".price_heji");
                 $num=$pt.find(".price_jg").val();
                 $t.val($num*$p);
                 js_total()

            })

           

         
        });

    </script>
</block>