<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="box">
            <div class="box-title">
                {{ :lang($onname,'menu') }}
                <h3 class="pull-right ">
                    <a href="{{ :U('Admin/YuYue/index',array('is_qiantai'=>'1')) }}" class="btn btn-xs btn-success"><span class="fa fa-mail-reply"></span> {{ :lang('返回','handle') }}</a>
                </h3>
            </div>
            <div class="box-content">
                <div class="form-warp">

                    <form action="{{ :U('Admin/YuShen/add') }}" method="post" id="validate">
                        <input type="hidden" name="yy_id" value="{{ $data.id }}">
                        <input type="hidden" name="user_id" value="{{ $data.user_id }}">

                        <input
                            type="hidden" name="">
                        <div class="tab-box">
                            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table "
                                   style="background: #fff">
                                <tbody>
                                <tr>
                                    <th width="131" class="text-center">{{ :lang('名称','filed') }}</th>
                                    <th>{{ :lang('内容','filed') }}</th>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('接诊时间','filed') }}</td>
                                    <td>
                                        <input type="text" required name="jztime" value="{{ :date('Y-m-d H:i:s') }}"
                                               size="80" class="form-control"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss', min:laydate.now()})">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('总价','filed') }}</td>
                                    <td>
                                        <input type="text" required name="price_total" value=""
                                               size="80" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">{{ :lang('接诊时间','filed') }}</td>
                                    <td>
                                        <input type="text" required name="jztime" value="{{ :date('Y-m-d H:i:s') }}"
                                               size="80" class="form-control"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss', min:laydate.now()})">
                                    </td>
                                </tr>



                                </tbody>
                                <tfooter>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="{{ :lang('提交','handle') }}" class="btn">
                                        </td>
                                    </tr>
                                </tfooter>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="cl"></div>
        </div>


    </div>
</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    {{ :load_ueditor() }}
    <if condition="$data['ks_id'] neq ''">
        <script>
            $(function () {
                get_tks("{{ $data['ks_id'] }}");
            })

        </script>
    </if>
    <if condition="$data['kst_id'] neq ''">
        <script>
            $(function () {
                get_tks2("{{ $data['kst_id'] }}");
            })

        </script>
    </if>

    <script>
        bd_ueditor('mark',120);
        function get_tks($id) {
            $url = "{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid = '{{ :I("get.kst_id") }}';
            log($tfid);
            $str = "<option value=''>无</option>";
            if ($id == '') {
                $("#kstt_id").empty().append($str);
            }
            $.getJSON($url, {'id': $id, 'tfid': $tfid}, function (json, textStatus) {
                $("#kst_id").show().empty().append(json.content);
            });
            get_tks2('');
        }
        function get_tks2($id) {
            $str = "<option value=''>无</option>";
            $url = "{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid = '{{ :I("get.kstt_id") }}';
            log($tfid);
            if ($id == '') {
                $("#kstt_id").empty().append($str);
            }
            $.getJSON($url, {'id': $id, 'tfid': $tfid}, function (json, textStatus) {
                if (json.content != '') {

                    $("#kstt_id").show().empty().append(json.content);
                } else {
                    $("#kstt_id").empty().append($str);
                }
            });
        }
        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {
            // validate the comment form when it is submitted
            var e = "<i class='fa fa-times-circle'></i> ";

            // validate signup form on keyup and submit
            $("#validate").validate({

                submitHandler: function (form) {
                    //设置表单参数
                    //最终区域

                    return_pic_json(".enmoreinsert_file .itempic", "thumbs", 1);
                    $(form).ajaxSubmit();
                }
            });

            $("#ks2_id").change(function () {
                $url = "{{ :U('Admin/Ajax/getYuShen') }}";
                $next_id = "ysz_id";
                $id = $(this).val();
                $.ajax({
                    'url': $url,
                    type: 'get',
                    data: {
                        'id': $id,
                        ysid: "{{ $data.ys_id }}"
                    },
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.content != '') {
                            $str = '<option value="">{{ :lang("请选择") }}</option>';
                            $str += data.content;
                            $("#" + $next_id).empty().append($str);

                        } else {
                            $str = "<option value=''>{{ :lang('无') }}</option>";
                            $("#" + $next_id).empty();
                            $($closeid).empty().append($str);


                        }

                    }
                });
            }).trigger('change');
        });

    </script>
</block>