<extend name="Layout:index"/>

<block name="right">
	<div class="bg-white m-t">
		<h2 class="text-center">{{ :lang('打印清单') }}</h2>
		<table class="  ntable table_td_border table_auto m-t f14" width="700">
			<tr>
				<th width="110">{{ :lang('日期') }}：</th>
				<td>{{ :to_time($data['jztime'],'d-m-Y H:i:s') }}</td>
			</tr>
			<tr>
				<th>{{ :lang('姓名') }}：</th>
				<td>{{ $data.user_name }}</td>
			</tr>
			<tr>
				<th>{{ :lang('年龄') }}：</th>
				<td>{{ $data.age }}</td>
			</tr>
			<tr>
				<th>{{ :lang('接诊小结') }}：</th>
				<td>
					<div class="text-body" style="min-height: 150px">
						{{ :htmlspecialchars_decode($data['jz_content']) }}
					</div>
				</td>
			</tr>
			<tr>
				<th>{{ :lang('接诊人') }}：</th>
				<td>{{ $data.jz_name }}</td>
			</tr>
			<tr>
				<th>{{ :lang('备注') }}：</th>
				<td>
					<div class="text-body">
						{{ :htmlspecialchars_decode($data['mark']) }}
					</div>
				</td>
			</tr>
		</table>
		<div class="text-center m-t Noprn">
			<a href="javascript:void(0)" class="btn btn-primary" onclick="window.print()">{{ :lang('打印') }}</a>
		</div>
	</div>

</block>