<extend name="Layout:index"/>
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="right-box">


        <div class="ibox">
            <div class="ibox-title">
                {{ :lang($onname,'menu') }}
                <div class="ibox-tools">
                    <a href="{{ :U('Admin/YuShen/index',array('status'=>2)) }}" class="btn btn-xs btn-success"><span class="fa fa-mail-reply"></span> {{ :lang('返回','handle') }}</a>
                </div>
               
                
               
            </div>
            <div class="ibox-content">
                <form action="{{ :U('Admin/YuShen/add') }}" method="post" id="validate">
                        <input type="hidden" name="yy_id" value="{{ $data.id }}">
                        <input type="hidden" name="user_id" value="{{ $data.user_id }}">
                        <input type="hidden" name="ys_id" value="{{ $data.ys_id }}">
                    <div class="col-sm-8">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table "
                               style="background: #fff">
                            <tbody>
                               
                               <tr>
                                   <td align="right">{{ :lang('病人姓名') }}</td>
                                   <td>
                                       <input type="text" class="form-control inline wb30" readonly="" value="{{ :$data['User']['name'] }}">
                                       <select required="" required="" class="form-control inline wb30" name="zl_id" required>
                                           <option value="">{{ :lang('请先病人质量评定','handle') }}</option>
                                           {{ :get_lanmu_onelist('daozhen') }}
                                       </select>
                                       <select class="form-control inline wb30" required="" id="ysz_id" name="ysz_id">
                                           <option value="">{{ :lang('请选择医生','handle') }}</option>
                                           {{ :get_shyishen() }}
                                       </select>

                                   </td>
                               </tr>
                                <tr>
                                    <td align="right">{{ :lang('科室') }}</td>
                                    <td align="right">
                                        <div class="form-group">

                                            <div class="col-sm-4">
                                                <input type="hidden" name="ksall_id" id="ksall_id">
                                                <select class="form-control" name="ks_id" id="ks_id"
                                                        onchange="get_tks(this.value)">
                                                    <option value="">{{ :lang('请选择科室','handle') }}</option>
                                                    {{ :get_keshi('0','1',$data['ks_id'] ) }}
                                                </select>
                                            </div>
                                            <div class="col-sm-4">

                                                <select class="form-control" id="kst_id" name="kst_id"
                                                        onchange="get_tks2(this.value)">
                                                    <option value="">{{ :lang('请选择二级科室','handle') }}</option>

                                                </select>
                                            </div>
                                            <div class="col-sm-4">

                                                <select class="form-control" id="kstt_id" name="kstt_id">
                                                    <option value="">{{ :lang('请选择具体病种','handle') }}</option>


                                                </select>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td align="right">{{ :lang('接诊小结') }}</td>
                                    <td>
                                        <textarea required="" name="jz_smcontent" required="" class="jz-xj form-control">{{ $data.Bing.name }}</textarea>
                                      
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right">{{ :lang('接诊记录') }}</td>
                                    <td>
                                        <div class="col-sm-6">
                                            <div class="input-group m-b" style="margin-bottom:5px;">

                                                <textarea name="jz_content" id="mark" cols="30" rows="10"> {{ :htmlspecialchars_decode($data['mark']) }}</textarea>
                                            </div>

                                        </div>
                                        <div class="col-sm-6 enmoreinsert_file">
                                            <input type="hidden" name="thumbs" value="" size="80" class="input insert_input">
                                            <div class="insert_img_more insert_img_more_en">

                                            </div>
                                        </div>
                                       
                                    </td>
                                </tr>
                            </tbody>
                            <tfooter>
                                    <tr>
                                        <td></td>
                                        <td class="text-center">
                                            <input type="submit" value="{{ :lang('提交','handle') }}" class="btn">
                                        </td>
                                    </tr>
                                </tfooter>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="table">
                            <tr>
                                <td>
                                <button type="button" class="btn btn-xs btn-success"
                                        onclick="upload_file('{{ :U("Admin/Upload/uploadFile",array("type"=>"images")) }}','.enmoreinsert_file','2')">
                                <span class="fa fa-image"></span> {{ :lang('上传相册') }}</button>
                                <input type="submit" value="{{ :lang('提交','handle') }}" class="btn">
                                </td>
                               
                            </tr>
                        </table>
                    </div>
                </form>
               
            </div>
            <div class="cl"></div>
        </div>


    </div>
</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    {{ :load_ueditor() }}
    <if condition="$data['ks_id'] neq ''">
        <script>
            $(function () {
                get_tks("{{ $data['ks_id'] }}");
            })

        </script>
    </if>
    <if condition="$data['kst_id'] neq ''">
        <script>
            $(function () {
                get_tks2("{{ $data['kst_id'] }}");
            })

        </script>
    </if>

    <script>
        bd_ueditor('mark',120);
        
        function get_tks($id) {
            $url = "{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid = '{{ $data.kst_id }}';
          
            $str = "<option value=''>{{ :lang('无') }}</option>";
            if ($id == '') {
                $("#kstt_id").empty().append($str);
            }
            $.getJSON($url, {'id': $id, 'tfid': $tfid}, function (json, textStatus) {
                $("#kst_id").show().empty().append(json.content);
            });
            get_tks2('');
             jxie();
        }
        function get_tks2($id) {
            $str = "<option value=''>{{ :lang('无') }}</option>";
            $url = "{{ :U('Admin/Ajax/ajaxKeShiList') }}";
            $tfid = '{{ $data.kstt_id }}';
          
            if ($id == '') {
                $("#kstt_id").empty().append($str);
            }
            $.getJSON($url, {'id': $id, 'tfid': $tfid}, function (json, textStatus) {
                if (json.content != '') {

                    $("#kstt_id").show().empty().append(json.content);
                } else {
                    $("#kstt_id").empty().append($str);
                }
                jxie();
            });
            
        }
        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });
        $().ready(function () {
            // validate the comment form when it is submitted
            var e = "<i class='fa fa-times-circle'></i> ";

            // validate signup form on keyup and submit
            $("#validate").validate({

                submitHandler: function (form) {
                    //设置表单参数
                    //最终区域
                    return_pic_json(".enmoreinsert_file .itempic", "thumbs", 1);
                    form.submit();;
                }
            });
            $("#kstt_id").change(function(){
               v=($(this).find("option:selected").text());

               $('.jz-xj').val(v);
            });
            /*$("#ks2_id").change(function () {
                $url = "{{ :U('Admin/Ajax/getYuShen') }}";
                $next_id = "ysz_id";
                $id = $(this).val();
                $.ajax({
                    'url': $url,
                    type: 'get',
                    data: {
                        'id': $id,
                        ysid: "{{ $data.ys_id }}"
                    },
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.content != '') {
                            $str = '<option value="">{{ :lang("请选择") }}</option>';
                            $str += data.content;
                            $("#" + $next_id).empty().append($str);

                        } else {
                            $str = "<option value=''>{{ :lang('无') }}</option>";
                            $("#" + $next_id).empty();
                            $($closeid).empty().append($str);


                        }

                    }
                });
            }).trigger('change');*/
        });
        function jxie(){
           
            $(".jz-xj").val($("#kstt_id").find("option:selected").text());
        }
    </script>
</block>