<extend name="Layout:index"/>
<block name="add_js">
    <style>
        table td tr
        {
            background: #fff;
        }
    </style>
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">

    <div class="right-box">
        <div class="wrapper wrapper-content">
            <div class="panel blank-panel">
               
                <div class="panel-body" style="padding:5px 0px 0px 0px;">
                    <div class="tab-content">

                        <div id="tab-3" class="tab-pane active" style="background: #fff">
                            <div class="col-sm-12">
                                <div class="ibox-content">
                                    

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>{{ :lang('确诊日期') }}</th>
                                            <th>{{ :lang('姓名') }}</th>
                                            <th>{{ :lang('接诊医生') }}</th>
                                            <th>{{ :lang('科室') }}</th>
                                            <th>{{ :lang('质量评级') }}</th>
                                             <th>{{ :lang('详细') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="zhuti_zq">
                                        </tbody>
                                        <tr>
                                            <td colspan="8">
                                                <div id="lpageqz" class="m-t"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</block>
<block name="add_foot_js">
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script src="__JS__/layer/laypage/laypage.js"></script>
    
    <if condition="check_group('yishenjz_add')">
        <script>
            function quzheng_ajax(curr) {
                $.getJSON("{{ :U('Admin/Ajax/getCheckShow') }}", {
                    page: curr || 1,
                    "uid": "{{ $uid }}",
                }, function (res) {
                    $("#zhuti_zq").empty().append(res.content);
                    $(".js-open-more").click(function () {

                        $p = $(this).parents(".js-tr").next();

                        if ($p.is(":hidden")) {
                            $p.show();
                            $(this).find('span').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                        } else {
                            $p.hide();
                            $(this).find('span').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                        }
                    });
                    //显示分页
                    laypage({
                        cont: 'lpageqz', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.pages, //通过后台拿到的总页数
                        curr: curr || 1, //当前页,
                        first:false,
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                quzheng_ajax(obj.curr);
                            }
                        }
                    });
                });
            }
            ;
        quzheng_ajax();
        </script>
    </if>
   
    <script>
       $(function(){

       });
       



    </script>
</block>