<extend name="Layout:index" />
<block name="add_js">
    <script src="__JS__/jquery.validate.js"></script>
</block>
<block name="right">
    <div class="ibox-content" style="padding-left:10px; padding-right:10px;" id="shoujisf3">
        <div class="roww">
            <div class="col-sm-3">
                <div class="input-group m-b">
                    <span class="input-group-addon"><font color="">{{ :lang('所属类别') }}</font></span>
                    <select class="form-control" required="required" id="ks_id" data-all="ksall_id" name="ks_id" data-datachenge='1' data-close="#kst_id" data-type="ks" data-next="kst_id" data-url="{{ :U('Admin/Ajax/ajaxKeShiList') }}">
                        <option value="">{{ :lang('请选择类别','handle') }}</option>
                         {{ :get_lanmu_onelist('xiaofei',1,'','',I('get.fid')) }}
                    </select>
                </div>
            </div>
            
        </div>
        <div class="col-sm-3">
            <div class="input-group m-b">
                <span class="input-group-addon"><font color="">关键词</font></span>
                <input name="keyword" type="text" value="" placeholder="{{ :lang('费用名称/票据名称') }}" class="form-control js-key">
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary  go-search" type="button">{{ :lang('确定筛选') }}</button>
        </div>
        <div class="roww">
            <div class="alert alert-success" role="alert">{{ :lang('可以多选择，如需修改价格请点击修改') }}</div>
        </div>
        <!-- <div class="alert alert-warning" role="alert">{{ :lang('请点击选择消费项目') }}</div> -->
        <div class="roww change_price" id="zhuti">
        </div>
        <div class="pager" id="pager">
        </div>
    </div>
</block>
<block name="add_foot_js">
    <script src="__JS__/layer/laypage/laypage.js"></script>
    <script>

    $(function() {
        $.validator.setDefaults({
            highlight: function (e) {
                $(e).closest("td").removeClass("has-success").addClass("has-error")
            }, success: function (e) {
                e.closest("td").removeClass("has-error").addClass("has-success")
            }, errorElement: "span", errorPlacement: function (e, r) {
                e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
            }, errorClass: "error", validClass: "no-error"

        });

        $(".go-search").click(function() {

            go_ajax(0);

        });
        go_ajax(0);
        $(document).on('click','.price_item',function(){
            if($(this).hasClass('active'))
            {
                $(this).removeClass('active');
                $(this).find('.panel').removeClass('panel-primary');
            }else
            {
                $(this).addClass('active');
                 $(this).find('.panel').addClass(' panel-primary')
            }

        });
        //价格改变
        $(document).on('change','.price_jg',function(){
            
            $pt=$(this).parents(".panel-body");
             
           
             $p=$(this).val();
             $t=$pt.find(".price_heji");
             $num=$pt.find(".price_num").val();
             $t.val($num*$p);

        })
         //价格改变
        $(document).on('change','.price_num',function(){
            
            $pt=$(this).parents(".panel-body");
             
           
             $p=$(this).val();
             $t=$pt.find(".price_heji");
             $num=$pt.find(".price_jg").val();
             $t.val($num*$p);



        })
       

       


    })

    function go_ajax(curr) {
        $ks_id = $("#ks_id").val();
        $key = $(".js-key").val();
        $.getJSON("{{ :U('Admin/Ajax/getPriceList') }}", {
            page: curr || 1,
            ks_id: $ks_id,
            key: $key
        }, function(res) {
           // console.log(res);
            $("#zhuti").empty().append(res.content);
            //显示分页
            laypage({
                cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                pages: res.pages, //通过后台拿到的总页数
                curr: curr || 1, //当前页,
                first: false,
                jump: function(obj, first) { //触发分页后的回调
                    if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                        go_ajax(obj.curr);
                    }
                }
            });
        });
    }
    </script>
</block>
